﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("HeaderMenu", "Home");}
<div class="ch-container">
    <div class="row">
        @{Html.RenderPartial("LeftMenu", "Home");}

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/" style="text-decoration: none;"><i class="glyphicon glyphicon-home"></i>  Home</a>
                    </li>
                    <li>
                        <a href="#" style="text-decoration: none;">Dashboard</a>
                    </li>
                </ul>
            </div>
            <div class=" row">
                @{Html.RenderAction("SummaryMember", "Home");}

                @{Html.RenderAction("SummaryBooking", "Home");}

                @*@{Html.RenderAction("SummaryPoint", "Home");}*@

                @{Html.RenderAction("SummaryCoin", "Home");}

                @{Html.RenderAction("SummaryAwardMegaball", "Home");}
            </div>

            @{Html.RenderAction("SummaryTotal", "Home");}

            @{Html.RenderAction("SummaryPrize", "Home");}

            @{Html.RenderAction("SummaryTicket", "Home");}

            @{Html.RenderAction("SummaryRevenue", "Home");}
            @{Html.RenderAction("ListBookingByDate", "Home");}


        </div>

    </div>
</div>
<script type="text/javascript" src="/Scripts/home/home.js"></script>