﻿<div class="col-md-3 col-sm-3 col-xs-6">
    <a data-toggle="tooltip" href="/transactionpoints" title="@ViewBag.TotalNewPoint new transaction points." class="well top-block" href="#">
        <i class="glyphicon glyphicon-usd green"></i>
        <div>Total Transaction Points</div>
        <div>@string.Format("{0:0,0}", ViewBag.TotalAllPoint)</div>
        <span class="notification yellow">@ViewBag.TotalNewPoint</span>
    </a>
</div>