﻿<div class="col-md-3 col-sm-3 col-xs-6">
    <a data-toggle="tooltip" href="/package" title="@ViewBag.TotalNewPackage new transaction package." class="well top-block" href="#">
        <i class="glyphicon glyphicon-shopping-cart red"></i>
        <div>Total Transaction Package</div>
        <div>@string.Format("{0:0,0}", ViewBag.TotalAllPackage)</div>
        <span class="notification red">@ViewBag.TotalNewPackage</span>
    </a>
</div>