﻿@using Newtonsoft.Json;


    
    <div class="panel-block">
        <div class="title">PAY FOR WINNER</div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <table class="table-v2">
                    <thead>
                        <tr>
                            <th>Guessed numbers</th>
                            <th>Prize</th>
                            <th>BTC</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewData["ListPrizeBO"] != null)
            {
                IEnumerable<BBH.Lotte.CLP.CMSAdmin.Models.ObjPrize> lst = (IEnumerable<BBH.Lotte.CLP.CMSAdmin.Models.ObjPrize>)ViewData["ListPrizeBO"];
                if (lst != null && lst.Count() > 0)
                {
                    foreach (BBH.Lotte.CLP.CMSAdmin.Models.ObjPrize item in lst)
                    {
                        <tr>
                            <td>
                                @*<i class="balls-icon"></i><i class="balls-icon"></i><i class="balls-icon"></i><i class="balls-icon"></i><i class="balls-icon"></i><i class="balls-icon orange"></i>*@
                                @item.TotalMember
                            </td>
                            <td>@item.AwardName</td>
                            <td>@item.AwardValues</td>
                        </tr>
        }
    }
}

                    </tbody>

                </table>
                <div style="padding-top:10px"> <span>Total: </span><strong style="padding-left:20px">@ViewBag.TotalPrize BTC</strong></div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="box-inner">
                    @*<div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-list-alt"></i> PAY FOR WINNER</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-setting btn-round btn-default">
                                <i class="glyphicon glyphicon-cog"></i>
                            </a>
                            <a href="#" class="btn btn-minimize btn-round btn-default">
                                <i class="glyphicon glyphicon-chevron-up"></i>
                            </a>
                            <a href="#" class="btn btn-close btn-round btn-default">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </div>
                    </div>*@
                    <div class="box-content">
                        <div id="piechart" style="height:400px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


  
    <script src="/Content/bower_components/flot/excanvas.min.js"></script>
    <script src="/Content/bower_components/flot/jquery.flot.js"></script>
    <script src="/Content/bower_components/flot/jquery.flot.pie.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
           
            $.ajax({
                type: "get",
                async: false,
                url: "/Home/GetDataPrizeSummary",
                beforeSend: function () {

                },
                success: function (d) {
                    if (d != null && d != "") {
                        var jsonObject = JSON.parse(d);
                        if (jsonObject != null) {
                          
                            setTimeout(SetupChart(jsonObject),100);
                        }
                    }
                }
            });

        });
        function SetupChart(strJson) {

         
                if ($("#piechart").length) {
                    $.plot($("#piechart"), strJson,
                        {
                            series: {
                                pie: {
                                    show: true
                                }
                            },
                            grid: {
                                hoverable: true,
                                clickable: true
                            },
                            legend: {
                                show: false
                            }
                        });

                    function pieHover(event, pos, obj) {
                        if (!obj)
                            return;
                        percent = parseFloat(obj.series.percent).toFixed(2);
                        $("#hover").html('<span style="font-weight: bold; color: ' + obj.series.color + '">' + obj.series.label + ' (' + percent + '%)</span>');
                    }

                    $("#piechart").bind("plothover", pieHover);
                }
        }
    </script>
