﻿
@{
    ViewBag.Title = "CheckResult";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="~/Content/css/desktop.css" rel="stylesheet" />
<script src="~/Scripts/checker/ticket-checker-thunderball.js"></script>
<h2>Checker</h2>
<main class="content js-content mainPastResult">
    <div class="box-wrap">
        <div class="js-wrapper-fix">
            <div class="box-profile-cont checker">
                <div class="main">
                    <h1>RippleLot Checker</h1>
                    <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/" title="RippleLot" itemprop="item">
                                <span itemprop="name">RippleLot</span>
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/checker" title="RippleLot Results Checker" itemprop="item">
                                <span itemprop="name">Checker</span>
                            </a>
                        </li>
                        <li>Checking Your RippleLot Numbers </li>
                    </ol>
                    <p>Find out here if your <a href="/" title="RippleLot Draw Information">Wan2Lot</a> ticket has won you a prize! Simply put your five main numbers and one Wan2Lot into the checker to see if you have matched any numbers and won any prizes. It will compare your lines against all of the Wan2Lot draws from the past 180 days and confirm if you need to claim any prizes.</p>
                    <noscript>
                        &lt;div class="centred"&gt;
                        &lt;div class="error-box fluid thunderball"&gt;&lt;strong style="font-size: 16px;"&gt;You have Javascript disabled!&lt;/strong&gt;&lt;br&gt;Our lottery results checkers require that Javascript is enabled in order to run correctly.&lt;br&gt;Please turn on Javascript in your browser's settings and refresh this page.&lt;/div&gt;
                        &lt;/div&gt;
                    </noscript>
                    <div class="centred">
                        <div class="notice-box thunderball fluid">
                            <strong>Your numbers have been checked against the RippleLot Results for the past 180 days.</strong><br>
                            The results are shown below with any winning matches highlighted:
                        </div>
                    </div>
                    <div class="resultBox shorter thunderball centred">
                        <div class="sideHeader checkerSide thunderball">
                            <div class="smallerHeading">Your Numbers:</div>
                        </div>
                        <div class="padded">
                            @Html.Raw(Model[0])
                        </div>
                    </div>
                    <table class="table thunderball">
                        <tbody>
                            <tr>
                                <th class="nowrap" style="text-align: left; border-bottom: 3px solid #EEE;">Result Date</th>
                                <th class="nowrap" style="border-bottom: 3px solid #EEE;">Balls Drawn</th>
                                <th class="nowrap" style="border-bottom: 3px solid #EEE;">You Matched</th>
                            </tr>
                            @Html.Raw(Model[1])
                        </tbody>
                    </table><br>
                    <p>Remember that if you <a href="/thunderball/tickets">join a RippleLot syndicate</a> online, then you will receive an email notification of any prizes you have won. </p>
                    <div class="promo-box-small thunder">
                        <div class="elem1">
                            <div class="title">Register and have your tickets checked for you</div>
                            <div class="sub-title">Register to receive the following benefits:</div>
                            <ul>
                                <li>Save all of your lottery tickets to check after each draw</li>
                                <li>Get statistics to help you choose your numbers</li>
                                <li>Check how much your numbers have won since the lottery started</li>
                            </ul>
                            <a href="/register" title="Register for FREE!" class="button-yellow">Register</a>
                        </div>
                        <img src="/Images/checker-img-thunder.png" alt="Automatic Ticket Checker">
                    </div>
                    <p><span style="color: red;">*</span> Please read this <a href="/disclaimer">disclaimer</a>.</p>
                </div>
            </div>
        </div>
    </div>
</main>

