﻿/*StyleSheet for developer*/
body {
    font-family: 'Open Sans', sans-serif !important;
    background-color: #eff1f3 !important;
}

.card {
    margin-bottom: 20px;
}

    .card .card-block .md-form input {
        padding-bottom: 0;
        padding-top: 0;
    }

    .card .card-block .md-form .error-message {
        margin-top: 13px;
        margin-bottom: 0;
        top: auto;
    }

        .card .card-block .md-form .error-message .active {
            color: red;
        }

.md-form {
    margin-bottom: 2.0rem;
}

.loadingPage {
    background: rgb(0, 0, 0);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 9999;
}

    .loadingPage img {
        position: absolute;
        z-index: 99999;
        left: 0;
        right: 0;
        height: 190px;
        top: 0;
        margin: auto;
        bottom: 0;
        width: 190px !important;
    }

.headerCountDown {
    /*border: none !important;
    width: 63.95%;
    background-color: unset;
    display: inline-flex;
    height: 100%;*/
    margin-bottom: 0 !important;
    height: 100%;
    text-align: center;
    display: table;
    position: absolute;
    background-color: unset;
    line-height: 50px;
    color: #27a2db !important;
}

.ul-header-left li:first-child {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    width: 300px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

    .ul-header-left li:first-child span {
        cursor: pointer;
        margin-bottom: 0;
        height: 100%;
        width: 264px;
    }

.ul-header-left li.dropdown-ripple label {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
/*.headerCountDown.not-login {
        border: none !important;
        width: 53.8% !important;
        background-color: unset;
        display: inline-flex;
        height: 100%;
    }

    .headerCountDown li {
        width: 100% !important;
    }

        .headerCountDown li #divCountDownMenu {
            background: none;
            color: #27a2db;
            height: 100%;
            line-height: 48px;
            text-align: center;
            margin-bottom: 0;
        }*/
.lang-list {
    border-left: 1px solid #ebedef;
    text-align: center;
}

    .lang-list li {
        height: 50px !important;
        /*width: auto !important;*/
        padding: 17px !important;
        cursor: context-menu !important;
        width: 195px !important;
    }

        .lang-list li #idXRP {
            cursor: context-menu !important;
        }

        .lang-list li img {
            width: auto !important;
        }

        .lang-list li:hover, .lang-list li:active, .lang-list li:focus {
            background-color: inherit !important;
        }

.price-inf__bottom {
    padding: 1px;
    border-radius: 0 10px 10px;
}

    .price-inf__bottom .infoTicket {
        float: left;
        border-radius: 10px 10px 10px 10px;
        width: 100%;
        background-color: #27a2db;
        padding: 10px;
        color: #fff;
        margin-bottom: 6px;
    }

        .price-inf__bottom .infoTicket::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 35px #fff !important;
        }

        .price-inf__bottom .infoTicket.jackPot {
            height: 135px;
        }

            .price-inf__bottom .infoTicket.jackPot .title {
                width: 100%;
                float: left;
                padding: 10px;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
            }

            .price-inf__bottom .infoTicket.jackPot .content {
                float: left;
                width: 100%;
                height: 30px;
            }

                .price-inf__bottom .infoTicket.jackPot .content table {
                    width: 100%;
                    float: left;
                    line-height: 30px;
                    color: #fff;
                    margin-left: 20px;
                }

                .price-inf__bottom .infoTicket.jackPot .content .tdSumValuePoints {
                    color: wheat;
                    width: 65%;
                    font-size: 26px;
                    font-weight: bold
                }


        .price-inf__bottom .infoTicket.listMemberTicket {
            height: 286px;
            margin-top: 0;
        }

        .price-inf__bottom .infoTicket.listTicket {
            height: 320px;
            margin-bottom: 20px;
        }


.marginLeft10 {
    margin-left: 10px
}

.font14 {
    font-size: 14px;
}

.font18 {
    font-size: 18px;
}

.clock.size_sm {
    font-size: 45px !important;
    margin-bottom: 5px !important;
}

.clock.colorDefinition {
    background: none;
    color: #fff !important;
}

.clock.style {
    font-family: 'Open Sans', sans-serif !important;
}

#divBoxRight {
    height: auto !important;
    border: 2px dotted #ccc;
    border-radius: 10px 10px 10px !important;
}

    #divBoxRight .price-inf__bottom {
        border: none;
        border-radius: 10px 10px 10px;
    }

        #divBoxRight .price-inf__bottom:before {
            background-color: unset;
        }

        #divBoxRight .price-inf__bottom:after {
            background-color: unset;
        }

@media (max-width: 3599px) {
    #divBoxRight .price-inf__bottom {
        padding: 20px 20px 20px 20px !important;
        font-size: 14px;
        background-color: #fff;
    }
}

.textAlignCenter {
    text-align: center !important;
}

.positionRelative {
    position: relative !important;
}

.positionFixed {
    position: fixed !important;
}

@media (max-width: 3599px) {
    .footer-profile .copyright {
        font-size: 14px !important;
        margin: 13px 226px 0 0;
        letter-spacing: 0.8px;
    }
}

.footer {
    background-color: rgb(51, 47, 71) !important;
}

@media (max-width: 3599px) {
    .footer-profile .footer-info {
        padding: 12px 0 12px !important;
    }
}

.btn-question {
    background-color: #fff !important;
    line-height: 10px;
    font-size: 14px !important;
    font-weight: normal !important;
    text-decoration: unset !important;
}

.copyright {
    color: #fff !important;
    font-weight: 300 !important;
}

    .copyright a {
        color: white !important;
        text-decoration: none;
    }

    .copyright a {
        text-decoration: none !important;
    }
/*@media (min-width: 1920px) {
    .profile-page .footer {
        width: calc(100% - 300px) !important;
    }
}*/

.footer-profile {
    z-index: 9999;
    position: inherit !important;
}

.titleH2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
}

form {
    width: auto !important;
}

.form-group input[type="text"] {
    height: 33px !important;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.btnCopy {
    font-size: 12px !important;
    background-color: #fff !important;
    color: #000 !important;
    font-weight: bold !important;
    width: 62px !important;
    padding: 8px !important;
}

    .btnCopy i {
        font-size: 16px;
    }

    .btnCopy:hover {
        background-color: #27a2db !important;
        color: #fff !important;
        text-decoration: none !important;
        border: 1px solid #4285F4 !important;
    }

.form-group {
    width: 100%;
}

.overflowScroll {
    height: 100% !important;
    overflow: auto !important;
}

.fullHeight {
    height: 100%;
}

.content.js-content {
    padding-top: 50px;
    padding-bottom: 46px;
    height: 100% !important;
    display: inline-table;
    width: 100%;
}

.box-wrap {
    height: 100% !important;
}

.admin-panel.indigo-admin-panel .badge, .admin-panel.indigo-admin-panel .btn {
    background-color: #27a2db;
    text-transform: unset;
    font-size: 14px;
}

    .admin-panel.indigo-admin-panel .badge:hover, .admin-panel.indigo-admin-panel .badge:focus, .admin-panel.indigo-admin-panel .btn:hover, .admin-panel.indigo-admin-panel .btn:focus {
        background-color: #27a2db !important;
    }

.btn {
    height: 35px;
    line-height: 7px;
}

.inputLine {
    border-bottom: 1px solid #27a2db !important;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Open Sans',sans-serif !important;
    font-size: 14px !important;
    width: 100%;
}

    .inputLine::-webkit-input-placeholder {
        font-family: 'Open Sans',sans-serif !important;
        font-size: 14px !important;
    }

.form-group label {
    display: block;
    font-size: 14px !important;
    margin-bottom: 10px;
    font-weight: bold;
}

.cursorContext {
    cursor: context-menu;
}

.btn {
    cursor: pointer;
}

.gotoppage i {
    line-height: 31px;
}

@media screen and (min-width: 768px) {
    .jumbotron1 {
        text-align: center;
        height: auto;
    }
}

.jumbotron1 .container1 {
    max-width: 100%;
    margin-top: 255px;
    color: #f00;
    height: 400px;
}

.containerAnimate {
    margin-top: 0;
    height: 73px;
    line-height: 73px;
}

#tbListTicket td:first-child {
    width: 171px !important;
    display: block;
}

.ticketNumber {
    border-radius: 100%;
    background-color: #fff;
    height: 25px;
    float: left;
    text-align: center;
    width: 26px;
    color: #d12f3e;
    margin-right: 2px;
    line-height: 26px;
    font-weight: bold;
}

    .ticketNumber.oneMore {
        background-color: #df9942 !important;
        color: #fff !important;
    }

.ticketNumberBGWhite {
    border-radius: 100%;
    background-color: #27a2db;
    height: 25px;
    float: left;
    text-align: center;
    width: 26px;
    color: #fff;
    margin-right: 4px;
    line-height: 26px;
    font-weight: bold;
}

    .ticketNumberBGWhite.oneMore {
        background-color: #df9942 !important;
        color: #fff !important;
    }

.ticket-header__btn-del {
    padding-left: 1px !important;
    padding-right: 0 !important;
    padding-top: 1px !important;
}

.ticket-header__right {
    width: 120.45px !important;
}

.btn-del__wrap {
    float: right !important;
}

.box-ticket__body p {
    font-size: 14px;
    font-weight: 500;
    padding: 6px 10px 8px !important;
    color: red;
}

.box-ticket__body {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

    .box-ticket__body .num-list {
        padding-left: 8px !important;
        padding-right: 7px !important;
    }

.num-list__item {
    padding-top: 0 !important;
    line-height: 32px !important;
    margin-bottom: 3px !important;
    width: 40px !important;
}

.ticket-header__left a {
    float: left;
}

@media (max-width: 3599px) {
    .box-profile-ticket .box-ticket__header {
        padding: 9px 11px 9px 13px !important;
        padding-top: 9px;
        padding-right: 7px;
        padding-bottom: 9px;
        padding-left: 18px;
    }
}

.inputDateTime {
    color: #464a4c !important;
    background-color: #fff !important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15) !important;
    border-radius: .25rem;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.btnSearch {
    height: 35px;
    line-height: 7px;
    padding-top: 11px;
}

.divListHistoryTicket {
    margin-bottom: 65px;
}

    .divListHistoryTicket .divTable {
        margin-top: 30px;
        padding-left: 0px;
    }

        .divListHistoryTicket .divTable .narrower {
            padding-bottom: 15px;
        }

#divLotteryResult {
    z-index: 100;
    left: 45%;
    right: 0;
    top: 227px;
    margin: 0;
    padding: 0;
}

.dropdown-toggle {
    text-transform: none !important;
}

    .dropdown-toggle::after {
        height: 8px !important;
        border-top: 0.5em solid !important;
        border-right: .4em solid transparent !important;
        border-left: .4em solid transparent !important;
    }

    .dropdown-toggle.btn-username:after {
        height: 14px !important;
        border-top: 0.5em solid !important;
        border-right: .4em solid transparent !important;
        border-left: .4em solid transparent !important;
    }

.dropdown-menu {
    overflow: hidden;
    width: 368px !important;
}

    .dropdown-menu li {
        display: block;
        padding: 5px 10px !important;
        width: 100% !important;
        border-right: none !important;
        text-transform: none !important;
        line-height: 25px !important;
        height: auto !important;
        font-weight: normal !important;
    }

        .dropdown-menu li:first-child {
            height: 30px !important;
            padding-bottom: 0px !important;
            line-height: 12px !important;
        }

        .dropdown-menu li.divider {
            border-top: 1px solid #ddd;
            padding: 0 !important;
            height: 0 !important;
            margin: 0 !important;
        }

        .dropdown-menu li .div_a {
            color: #1f1f1f;
            text-decoration: none;
            border-bottom: 1px dashed #1f1f1f;
            padding: 0 !important;
            display: inline-block !important;
            font-size: .9em !important;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 85%;
            vertical-align: middle;
            height: 25px;
        }

    .dropdown-menu .btn-block {
        color: #292b2c !important;
        font-size: 14px !important;
        margin-bottom: 9px;
        margin-top: 9px;
        line-height: 17.5px !important;
        padding: 16px 34.08px 16.6px 34.08px !important;
    }

.content-wrapper {
    background-color: unset !important;
}

#divMenuProfile {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

    #divMenuProfile ul.usermenu-list li a {
        padding-top: 0 !important;
    }

.ul-profile .dropdown-toggle.btn-username .dropdown-info {
    right: 0;
    left: auto;
    width: 241px !important;
}

.ul-profile li {
    cursor: pointer !important;
    /*border-left: 1px solid rgb(235, 237, 239) !important;*/
}

    .ul-profile li.dropdown-ripple {
        float: right !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

        .ul-profile li.dropdown-ripple.loginedin {
            border-left: 1px solid rgb(235, 237, 239) !important;
        }

        .ul-profile li.dropdown-ripple label {
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
        }

    .ul-profile li.not-login {
        text-transform: none;
    }

        .ul-profile li.not-login:last-child {
            border-left: 1px solid rgb(235, 237, 239) !important;
        }

        .ul-profile li.not-login:hover {
            -webkit-transform: translateX(10px);
            transform: translateX(10px);
        }



.dropdown-menu .visible-xs, .visible-sm, .visible-md, .visible-lg {
    display: block !important;
}

.dropdown .dropdown-menu {
    padding: 8px;
    border-radius: 2px !important;
    border: 0 !important;
}

.dropdown-info li:first-child {
    height: 35px !important;
    padding-bottom: 5px !important;
    line-height: 25px !important;
}

    .dropdown-info li:first-child strong {
        color: red;
        width: 145px !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        vertical-align: middle;
    }

.dropdown-info li {
    font-family: 'Open Sans',sans-serif !important;
    font-size: 14px;
}

    .dropdown-info li:not(:first-child):hover {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    .dropdown-info li a {
        font-family: 'Open Sans',sans-serif !important;
        font-size: 14px;
        padding-top: 0;
    }

.colorBackground {
    background-color: #27a2db !important;
}

.page-item.active .page-link {
    color: #fff !important;
}

.page-item .page-link {
    color: #27a2db !important;
}

    .page-item .page-link:focus, .page-link:hover {
        color: #27a2db !important;
    }

.btn-primary {
    background: #27a2db !important;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
        background-color: #27a2db !important;
    }

#tblListBuyTicket {
    line-height: 30px;
}

    #tblListBuyTicket th {
        font-size: 13px;
        font-weight: bold;
    }

        #tblListBuyTicket th:first-child {
            width: 116px !important;
            display: block;
        }

        #tblListBuyTicket th:nth-child(2) {
            width: 93px !important;
        }

#tbListMember td {
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 0;
    white-space: nowrap;
}

    #tbListMember td:first-child {
        display: block;
        max-width: 103px !important;
        text-overflow: ellipsis;
        overflow: hidden;
        content: "...";
    }

#tbListMember tr.space {
    border-top: 1px dashed #fff;
    height: 11px;
}

.mainPastResult {
    padding-top: 0 !important;
}

a:not([href]):not([tabindex]) {
    color: #27a2db;
}

    a:not([href]):not([tabindex]):hover {
        color: #014c8c;
    }

span.space {
    border-left: 1px solid #27a2db;
    width: 1px;
}

.admin-panel .card-block {
    padding-bottom: 0;
}

.btn-profile {
    text-transform: none;
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100%;
    line-height: 14px;
}

/*.btn-facebook-login {
    border: 1px solid #4966b6 !important;
    padding: 3px 10px 3px 10px !important;
    background-color: #4966b6 !important;
    color: #fff !important;
    margin-top: 8px;
    float:right;
}*/

.login .btn {
    padding-left: 14px !important;
    padding-right: 14px !important;
    padding-top: 12px !important;
    width: 199px;
    font-weight: 700;
}

    .login .btn.btn-facebook-login {
        background-color: #6f83b6 !important;
    }

    .login .btn.btn-google-login {
        background-color: #dd5044 !important;
    }
/*.btn-facebook-login:hover {
        border: 1px solid #5776ce !important;
        background-color: #5776ce !important;
    }*/
.navigation ul li a {
    background-image: url(/Images/spritesheet.png);
    background-repeat: no-repeat;
    /*background-color: #0158A2;*/
    position: relative;
    display: block;
    font: bold 13px/40px arial, sans-serif;
    padding: 0 10px 0 48px;
    color: #FFF;
    height: 40px;
    width: 250px;
    z-index: 9;
    transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
}

.nav-main {
    background-position: 17px 4px
}

.nav-game {
    background-position: 17px -74px
}

.nav-refill {
    background-position: 17px -234px
}

.nav-result {
    background-position: 17px -36px
}

.nav-checker {
    background-position: 17px -116px !important;
}

.nav-transparency {
    background-position: 17px -155px;
}

.form-group input[type="text"].password {
    padding: 0;
    font-size: 14px;
}

.footerModalBtn {
    text-align: center;
    display: block;
    padding: 5px;
}

#divChangePassword .modal-content {
    border-radius: 9px;
    -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

#divChangePassword .modal-title {
    line-height: 22px;
}

    #divChangePassword .modal-title span {
        font-size: 15px;
        margin-bottom: 0px;
        padding-left: 3px;
        color: red;
        display: none;
    }

#divChangePassword .modal-body .form-group input {
    margin-bottom: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif !important;
    font-size: 14px;
}

#standardModal .modal-content {
    border-radius: 9px;
    -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    padding: 0;
    width: auto;
}

.fair_form {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #27a2db;
    padding: 40px;
    margin-bottom: 20px;
    position: relative;
}

#rippleHash {
    padding: 15px 10px;
    height: auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-top: none;
    border-bottom: 1px solid #e6e8ea;
    font-size: 1em;
    color: #1f1f1f;
    border-left: none;
    border-right: none;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.arrow-link {
    display: inline-block;
    text-decoration: none;
    position: relative;
    font-size: .9em;
    max-width: 200px;
    line-height: 1.5em
}

    .arrow-link span {
        border-bottom: 1px solid rgba(255,255,255,0.3)
    }

    .arrow-link:after {
        content: '';
        display: inline-block;
        background: url('/img/icons/ui/arrow-white.svg') no-repeat center center;
        width: 18px;
        height: 7px;
        vertical-align: middle;
        margin: 0 5px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease
    }


.fair_about__list {
    width: 100%;
    margin: 0 0 7px
}

    .fair_about__list li {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        background: #f3f5f7;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 36px 50px 40px;
        margin: 0 0 30px;
        line-height: 30px;
        font-size: 1em;
        font-weight: 300;
        display: block
    }

        .fair_about__list li:before {
            content: '';
            background: #fff;
            border-radius: 50px;
            position: absolute;
            bottom: -42px;
            left: calc(50% - 12px);
            height: 56px;
            width: 24px;
            z-index: 1
        }

        .fair_about__list li:after {
            content: '';
            background: #f3f5f7;
            position: absolute;
            bottom: -27px;
            left: calc(50% - 1px);
            height: 25px;
            width: 2px;
            z-index: 1
        }

        .fair_about__list li:last-child:after, .fair_about__list li:last-child:before {
            display: none
        }

.fair_about .arrow-link {
    max-width: 100%;
    position: relative;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 10px;
}

.arrow-link:after {
    content: '';
    display: inline-block;
    background: url(/Images/arrow-white.svg) no-repeat center center;
    width: 18px;
    height: 7px;
    vertical-align: middle;
    margin: 0 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.fair_about .arrow-link:after {
    background: url(/Images/arrow-blue.svg) no-repeat center center;
    width: 18px;
    height: 7px;
}

.fair_about .arrow-link:hover {
    text-decoration: none;
    color: #f6b559 !important
}

    .fair_about .arrow-link:hover span {
        border-bottom: 1px solid transparent
    }

    .fair_about .arrow-link:hover:after {
        background: url('/Images/arrow-orange.svg') no-repeat center center;
        width: 18px;
        height: 7px;
        -webkit-transform: translateX(3px);
        -moz-transform: translateX(3px);
        -ms-transform: translateX(3px);
        -o-transform: translateX(3px);
        transform: translateX(3px)
    }
/*.modal {
    text-align: center;
    padding: 0 !important;
}*/

/*.modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}*/
.max-with {
    width: unset !important;
    padding: unset !important;
}

.timeline-link {
    display: inline-block;
    margin-left: 40px;
    border-bottom: 1px dashed rgba(255,255,255,0.8);
    font-size: .9em;
    line-height: 1.2em;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    position: relative;
    margin: 10px 0 10px 30px;
}

td a.timeline-link:before {
    background: url(/Images/chronology-white.svg) no-repeat center center;
}

.timeline-link:before {
    background: url(/Images/chronology-orange.svg) no-repeat center center;
    width: 20px;
    height: 20px;
    content: '';
    background-size: contain;
    display: block;
    position: absolute;
    left: -30px;
    top: 50%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    margin-top: -10px;
}

.timeline-link:hover:before {
    background: url(/Images/chronology-orange.svg) no-repeat center center;
}

.timeline__hash {
    background: #27a2db;
    color: #fff;
    text-align: center;
    padding: 20px 15px;
}

#tblListWallet thead tr th:first-child {
    width: 400px;
}

#tblListWallet thead tr th:last-child {
    width: 400px;
}

.thOrdinalNumber {
    width: 300px;
}

.thDate {
    width: 300px;
}

#tblListPointHis thead tr th:first-child {
    width: 400px;
}

#tblListPointHis thead tr th:last-child {
    width: 400px;
}

div::-webkit-scrollbar {
    width: 10px;
}

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 35px #27a2db !important;
}

.price-inf__bottom .infoTicket div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 35px #fff !important;
}

.icon-reward-points {
    background-image: url(/Images/reward-points.png);
    background-repeat: no-repeat;
    background-size: 14px;
    width: 15px;
    height: 14px;
    cursor: pointer;
    display: inline-block;
}

.icon-wallets {
    background-image: url(/Images/wallet.png);
    background-repeat: no-repeat;
    background-size: 14px;
    width: 15px;
    height: 14px;
    cursor: pointer;
    display: inline-block;
}

.icon-change-password {
    background-image: url(/Images/change-password.png);
    background-repeat: no-repeat;
    background-size: 14px;
    width: 15px;
    height: 14px;
    cursor: pointer;
    display: inline-block;
}

.st_link {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px dashed #fff;
}

    .st_link:hover, .st_link:focus {
        color: #f6b559 !important;
        font-size: 14px !important;
        text-decoration: none !important;
        border-bottom: 1px dashed #f6b559 !important;
    }

.has-error-bottom {
    border-bottom: solid 1px red !important;
}

    .has-error-bottom:focus {
        /*background:none !important;*/
        border-bottom: solid 1px rgba(0,0,0,0.3) !important;
    }

.has-error {
    border: solid 1px red !important;
}

    .has-error:focus {
        /*background:none !important;*/
        border: solid 1px rgba(0,0,0,0.3) !important;
    }

.alertify-notifier.ajs-right {
    z-index: 9999 !important;
}

.line-contact {
    background-image: linear-gradient(to right, #d12f3e 0, #27a2db 100%);
    display: block;
    height: 2px;
    margin: auto;
    overflow: hidden;
    width: 76px;
}

.home-news .news-title {
    color: #33415f !important;
}

.dropdown-menu.dropdown-info > li > a {
    padding: 0 !important;
    line-height: inherit !important;
    white-space: normal !important;
    display: inline !important;
    color: #333 !important;
}

label.btn-profile {
    margin-bottom: 0 !important;
}

.box-profile-cont.checker {
    padding-top: 0;
    padding-right: 10px;
    padding-left: 311px;
}

    .box-profile-cont.checker .main {
        width: 100% !important;
    }

.menu-in-wrap .navigation .link.active {
    color: #f6b559;
}

.menu-in-wrap .navigation .link.active i{
    display:inline-block !important;
}

.menu-in-wrap .navigation .link:hover, .menu-in-wrap .navigation .link:focus {
    text-decoration:unset;
}
    .menu-in-wrap .navigation .link i.hide {
        display: none !important;
    }

    .menu-in-wrap .navigation .link i.show {
        display: inline-block !important;
    }
@media (max-width: 3599px) {
    .menu-profile .mCSB_inside > .mCSB_container {
        margin-right: 10px !important;
    }
}

.mainMenu li.active{
    background:#fff;
}

    .mainMenu li.active a {
        color: #27a2db;
        font-weight:normal;
        webkit-box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);
        box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);
    }

.dropdown-info li a.usermenu__link.active {
    font-weight: bold;
    color: #27a2db !important;
}

#idTotalmultibet, #idTotalManual {
    display: none;
}
