﻿@model BBH.Lotte.Web.Models.LoginViewModel
<link href="/Content/LotteryCarcoin/assets/css/font-awesome.min.css" rel="stylesheet">
<script src="https://apis.google.com/js/api:client.js"></script>
<form class="content" id="frLoginMember">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="form-group is-empty">
                <label class="control-label">Your Email</label>
                @*<input id="txtEmail" class="form-control" placeholder="" type="email">*@
                @Html.EditorFor(model => model.EmailLogin, new { htmlAttributes = new { @class = "form-control", @type = "email" }, })
                @Html.ValidationMessageFor(model => model.EmailLogin)
            </div>
            <div class="form-group is-empty">
                <label class="control-label">Your Password</label>
                @*<input id="txtPassword" class="form-control" placeholder="" type="password">*@
                @Html.EditorFor(model => model.PasswordLogin, new { htmlAttributes = new { @class = "form-control", @type = "password" }, })
                @Html.ValidationMessageFor(model => model.PasswordLogin)
            </div>
            <div class="remember">
                <div class="checkbox">
                    <label>
                        @*<input name="optionsCheckboxes" type="checkbox">*@
                        @Html.CheckBoxFor(model => model.IsRemeberme)
                        Remember Me
                    </label>
                </div>
                <a href="#recover" data-toggle="tab" role="tab" class="forgot">Forgot my Password</a>
            </div>
            <button type="submit" class="btn btn-primary btn-login full-width none-transform-bold">Login</button>
            <div class="or"></div>
            @*<a onclick="RequestLoginFB();" s class="btn bg-facebook full-width btn-icon-left"><i class="fa fa-facebook" aria-hidden="true"></i>Login with Facebook</a>*@
            <a id="btnLoginGoogle" @*href="#update-pass"*@ data-toggle="tab" role="tab" class="btn bg-google full-width btn-icon-left"><i class="fa fa-google" aria-hidden="true"></i>Login with Google</a>
        </div>
    </div>
</form>
<script>
        var clientIDGoogle = '@(System.Configuration.ConfigurationManager.AppSettings["clientID:GoogleSigned-in"])';
        var clientIDFace = '@(System.Configuration.ConfigurationManager.AppSettings["clientID:FBSigned-in"])';

        $(document).ready(function () {
            var url = "/login";
            //init login google
            initialLoginGoogle();
    });
    
        function RequestLoginFB() {
            window.location = 'http://graph.facebook.com/oauth/authorize?client_id=' + clientIDFace +'&scope=public_profile,email,user_likes&redirect_uri=http://lotterycarcoin.bigbrothers.gold/login?intIsLoginType=1';
        }
    
        var initialLoginGoogle = function () {
            gapi.load('auth2', function () {
                auth2 = gapi.auth2.init({
                    client_id: clientIDGoogle,
                    cookiepolicy: 'single_host_origin',
                });
                attachSignin(document.getElementById('btnLoginGoogle'));
            });
        };
    
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.81&appId=' + clientIDFace;
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript" src="~/Scripts/register/login-member.js"></script>