﻿
@{
    ViewBag.Title = "LinkExpired";
    Layout = "~/Views/Shared/_LayoutLotteryCarcoin.cshtml";
}

<div class="heading-sub-section pb-30">
    <h4 class="head-title">LinkExpired</h4>
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            
            
        </div>
    </div>
</div>
