﻿@using BBH.LotteFE.Domain;
@{
    ViewBag.Title = "Package History";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="/Scripts/jqueryui.js"></script>
<main class="content js-content">
    <!--MENU-->
    <div class="box-wrap">
        @if ((string)Session["Language"] == "EN")
        {
            <div class="js-wrapper-fix">
                <div class="box-profile-cont" style="padding-top:10px">

                    <div class="admin-panel indigo-admin-panel">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="md-form" style="margin-bottom:10px">
                                        <input style=" width: 45%; margin-top: 7px; padding: 6px; border: 1px solid #ccc; height: 28px; float: left; color: #fff; background-color: #68558c;" type="text" id="txtFromDate" name="txtFromDate" placeholder="From Date" class="validate">
                                        <input style=" width: 45%; margin-top: 7px; padding: 6px; border: 1px solid #ccc; height: 28px; float: right; color: #fff; background-color: #68558c;" type="text" id="txtToDate" name="txtToDate" placeholder="To Date" class="validate">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <img id="imgLoadingSearch" src="/Images/loading.gif" style="display:none; position:relative; float:right">
                                    <div class="md-form" style="margin-bottom:0px">
                                        @*<a id="2lvlModal" class="btn btn-danger" style="background-color: #68558c;" onclick="SearchPackage()" contenteditable="true">Search</a>*@

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <section class="section">
                        <!--Main row-->
                        <div class="row">
                            <div class="col-md-12">
                                <!--Card-->
                                <div class="card card-cascade narrower">
                                    <!--Admin panel-->
                                    <div class="admin-panel purple-admin-panel">
                                        <div class="row mx-3 text-center">
                                            <!--First column-->
                                            <div class="col">
                                                <div class="btn-group mt-1" data-toggle="buttons">
                                                </div>
                                                <div class="btn-group mt-1" data-toggle="buttons">
                                                </div>
                                                <div class="btn-group mt-1" data-toggle="buttons">
                                                </div>
                                                <div class="btn-group mt-1" data-toggle="buttons">
                                                </div>

                                            </div>
                                            <!--/Second column-->
                                        </div>
                                        <!--/Third row-->
                                        <!--Third row-->
                                        <div class="row mb-0">
                                            <!--First column-->
                                            <div class="col-md-12">
                                                <!--Panel content-->
                                                <div class="card-block pt-0">
                                                    <!--Table-->
                                                    <div class="table-responsive">

                                                        <table class="table table-hover">

                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Package</th>
                                                                    <th>Buy Date</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody id="tbodyListPackage">
                                                            </tbody>

                                                        </table>


                                                    </div>

                                                </div>

                                                @{
            Html.RenderAction("Index", "Paging");
                                                }
                                            </div>
                                            <!--/First column-->
                                        </div>
                                        <!--/Third row-->
                                    </div>
                                    <!--/Admin panel-->
                                </div>
                                <!--/.Card-->
                            </div>
                        </div>
                        <!--/Main row-->
                    </section>

                </div>
            </div>
        }
        else
        {
            <div class="js-wrapper-fix">
                <div class="box-profile-cont" style="padding-top:10px">

                    <div class="admin-panel indigo-admin-panel">
                        <form>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="md-form" style="margin-bottom:10px">

                                        <input style=" width: 45%; margin-top: 7px; padding: 6px; border: 1px solid #ccc; height: 28px; float: left; color: #fff; background-color: #68558c;" type="text" id="txtFromDate" name="txtFromDate" placeholder="Từ ngày" class="validate">
                                        <input style=" width: 45%; margin-top: 7px; padding: 6px; border: 1px solid #ccc; height: 28px; float: right; color: #fff; background-color: #68558c;" type="text" id="txtToDate" name="txtToDate" placeholder="đến ngày" class="validate">

                                    </div>

                                </div>

                                <div class="col-md-4">
                                    <img id="imgLoadingSearch" src="/Images/loading.gif" style="display:none; position:relative; float:right">
                                    <div class="md-form" style="margin-bottom:0px">
                                        <a id="2lvlModal" class="btn btn-danger" style="background-color: #68558c;" onclick="SearchPackage()" contenteditable="true">Tìm kiếm</a>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <section class="section">
                        <!--Main row-->
                        <div class="row">
                            <div class="col-md-12">
                                <!--Card-->
                                <div class="card card-cascade narrower">
                                    <!--Admin panel-->
                                    <div class="admin-panel purple-admin-panel">
                                        <div class="row mx-3 text-center">
                                            <!--First column-->
                                            <div class="col">
                                                <div class="btn-group mt-1" data-toggle="buttons">
                                                </div>
                                                <div class="btn-group mt-1" data-toggle="buttons">
                                                </div>
                                                <div class="btn-group mt-1" data-toggle="buttons">
                                                </div>
                                                <div class="btn-group mt-1" data-toggle="buttons">
                                                </div>

                                            </div>
                                            <!--/Second column-->
                                        </div>
                                        <!--/Third row-->
                                        <!--Third row-->
                                        <div class="row mb-0">
                                            <!--First column-->
                                            <div class="col-md-12">
                                                <!--Panel content-->
                                                <div class="card-block pt-0">
                                                    <!--Table-->
                                                    <div class="table-responsive">

                                                        <table class="table table-hover">

                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Gói</th>
                                                                    <th>Ngày mua</th>

                                                                </tr>
                                                            </thead>

                                                            <tbody id="tbodyListPackage">
                                                            </tbody>

                                                        </table>


                                                    </div>

                                                </div>

                                                @{
            Html.RenderAction("Index", "Paging");
                                                }
                                            </div>
                                            <!--/First column-->
                                        </div>
                                        <!--/Third row-->
                                    </div>
                                    <!--/Admin panel-->
                                </div>
                                <!--/.Card-->
                            </div>
                        </div>
                        <!--/Main row-->
                    </section>

                </div>
            </div>
        }
    </div>
</main>
<div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        @if ((string)Session["Language"] == "EN")
        {
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header white-text" style="background-color: #154771">
                    <p class="heading" contenteditable="true">Package Detail Infomation</p>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <form>
                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Transaction Code</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtTransaction" name="txtTransaction" class="form-control validate">

                                </div>

                            </div>
                        </div>
                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Bitcoin Wallet</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtEwallet" name="txtEwallet" class="form-control validate">

                                </div>

                            </div>
                        </div>
                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Package</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtPackageName" name="txtPackageName" class="form-control validate">
                                </div>

                            </div>
                        </div>

                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Buy Date</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtBookingDate" name="txtBookingDate" class="form-control validate">
                                </div>

                            </div>
                        </div>

                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Expire Date</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtExpireDate" name="txtExpireDate" class="form-control validate">
                                </div>

                            </div>
                        </div>



                        <div class="row" style="padding:0px; margin:0px">

                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Status</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtStatus" name="txtStatus" class="form-control validate">
                                </div>

                            </div>
                        </div>
                    </form>
                    <br>

                </div>
                <!--Footer-->
                <div class="modal-footer">

                    <a id="2lvlModal-cancel" class="btn btn-default waves-effect waves-light" onclick="CloseModal()" data-dismiss="modal" contenteditable="true">Close</a>
                </div>
            </div>
        }
        else
        {
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header white-text" style="background-color: #154771">
                    <p class="heading" contenteditable="true">Thông tin chi tiết gói</p>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <form>
                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Mã giao dịch</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtTransaction" name="txtTransaction" class="form-control validate">

                                </div>

                            </div>
                        </div>
                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Ví điện tử</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtEwallet" name="txtEwallet" class="form-control validate">

                                </div>

                            </div>
                        </div>
                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Gói</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtPackageName" name="txtPackageName" class="form-control validate">
                                </div>

                            </div>
                        </div>

                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Ngày mua</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtBookingDate" name="txtBookingDate" class="form-control validate">
                                </div>

                            </div>
                        </div>

                        <div class="row" style="padding:0px; margin:0px">
                            <!--First column-->
                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Ngày hết hạn</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtExpireDate" name="txtExpireDate" class="form-control validate">
                                </div>

                            </div>
                        </div>



                        <div class="row" style="padding:0px; margin:0px">

                            <div class="col-md-12">
                                <label style="margin-bottom:0px">Trạng thái</label>
                                <div class="md-form" style="padding:0px; margin:0px">
                                    <input type="text" style="padding:0px; margin:0px" readonly="readonly" id="txtStatus" name="txtStatus" class="form-control validate">
                                </div>

                            </div>
                        </div>
                    </form>
                    <br>

                </div>
                <!--Footer-->
                <div class="modal-footer">

                    <a id="2lvlModal-cancel" class="btn btn-default waves-effect waves-light" onclick="CloseModal()" data-dismiss="modal" contenteditable="true">Đóng</a>
                </div>
            </div>
        }
        <!--/.Content-->
    </div>
</div>
<input type="hidden" id="hdTransactionPackageID" value="0" />
@*<input type="hidden" id="hdQuantity" value="0" />*@

<script>

    $("#txtToDate").datepicker();
    $("#txtFromDate").datepicker();
</script>
<script type="text/javascript" src="/Scripts/member/member.js"></script>
