﻿@using BBH.LotteFE.Domain;
@{
    ViewBag.Title = "Ticket History";
    Layout = "~/Views/Shared/_LayoutLotteryCarcoin.cshtml";
    ViewBag.TitlePage = "My Ticket History";
}

<!--Section: Sales-->

<div class="heading-sub-section">
    <h4 class="head-title">@ViewBag.TitlePage</h4>
    <div class="play_section__tabs">
        <ul class="nav nav-tabs" role="tablist" id="">
            <li role="presentation" class="active">
                <a href="#tickethistory" aria-controls="tickethistory" role="tab" data-toggle="tab">Ticket history</a>

            </li>
            @*<li role="presentation">
                <a href="#ticketwinning" aria-controls="ticketwinning" role="tab" data-toggle="tab">Ticket winning</a>

            </li>*@
        </ul>
    </div>
</div>
<div class="main-content">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tickethistory">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row search-date">
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <div class="form-group form-orange">
                                <label class="label-control">From Date</label>
                                <input type="text" id="txtFromDate" name="txtFromDate" class="form-control datepicker">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <div class="form-group form-orange">
                                <label class="label-control">To Date</label>
                                <input type="text" id="txtToDate" name="txtToDate" class="form-control datepicker">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <button id="2lvlModal" type="submit" class="btn btn-warning btn-round btn-just-icon" onclick="SearchBooking()">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                    </div>
                    <div class="overflow-x-auto">
                        <table class="table-hover table-checkresult" id="tblListTicketHis">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="text-center">Ticket</th>
                                    <th class="text-center">Buy Date</th>
                                    @*<th class="text-center">Open Date</th>*@
                                    <th class="text-center">Balls Drawn</th>
                                    <th class="text-center">Your Matched </th>

                                </tr>
                            </thead>
                            <tbody id="tbodyListBooking" class="table thunderball">

                                @if (Model != null && Model.Count > 0)
                                {
                                    @Html.Raw(Model[0]);
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5">No Data</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (Model != null && Model.Count > 1)
                        {
                            @Html.Raw(Model[1]);
                        }
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Ticket Detail Information</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group">
                                    <label for="txtBookingID"><span class=""></span>Transaction Code:</label>
                                    <input type="text" class="form-control password cursorContext" id="txtBookingID" name="txtBookingID" placeholder="Transaction Code" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Ticket:</label>
                                    <div id="spanTicket" class="cursorContext"></div>
                                </div>
                                <div class="form-group">
                                    <label for="txtBookingDate"><span class=""></span>Lotte Buy Date:</label>
                                    <input type="text" class="form-control password cursorContext" id="txtBookingDate" name="txtBookingDate" placeholder="Lotte Buy Date" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="txtOpenDate"><span class=""></span>Lotte Open Date:</label>
                                    <input type="text" class="form-control password cursorContext" id="txtOpenDate" name="txtOpenDate" placeholder="Lotte Open Date" readonly>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div role="tabpanel" class="tab-pane" id="ticketwinning">
            @{
                Html.RenderAction("TransactionTicketWinning", "Member", new { p = 1 });
            }
        </div>*@
    </div>
</div>
<input type="hidden" id="hdBookingID" value="0" />
<input type="hidden" id="hdQuantity" value="0" />
<script type="text/javascript" src="/Scripts/member/member.js"></script>
