body {
    font-family: "Nunito", Arial, "Helvetica Neue", Helvetica, serif, sans-serif;
}

.w-100 {
    width: 100%;
}

.w-200 {
    width: 200px;
}

.none-transform {
    text-transform: none;
}

.dropdown.user .dropdown-menu .material-icons {
    font-size: 15px;
    margin-right: 10px;
    width: 15px;
    margin-top: -3px;
}

.user-ellipsis {
    width: 120px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.navbar {
    background-color: #a92133;
    border-radius: 0;
    position: fixed;
    border-bottom: none;
}

@media (min-width: 992px) {
    .sidebar-mini .navbar {
        width: calc(100% - 80px);
    }
}

.heading-section {
    margin-top: 70px;
    background: url(../img/bg/header_bg_money.png) left top repeat-x #233e4b;
    padding: 30px 40px 40px;
    position: relative;
    color: #fff;
}

    .heading-section:before {
        content: '';
        position: absolute;
        right: 70px;
        top: 60px;
        background: url(../img/bg/cc_heading_illustration.png) center center no-repeat;
        width: 235px;
        height: 123px;
        background-size: contain;
        z-index: 2;
    }

    .heading-section .price-jackpot {
        color: #fbb11a;
    }

        .heading-section .price-jackpot span {
            font-size: 40px;
            font-weight: 900;
            padding-left: 20px;
        }

    .heading-section .time-countdown span {
        font-size: 18px;
        padding-left: 20px;
    }

    .heading-section h1 {
        font-size: 28px;
        color: #fff;
        margin: 10px 0;
    }

.heading-sub-section {
    background: #eff2f4;
    padding: 40px;
    padding-bottom: 0;
}

    .heading-sub-section .head-title {
        margin-top: 0;
    }

    .heading-sub-section .play_section__tabs {
        margin-top: 30px;
        margin-bottom: 0;
    }

        .heading-sub-section .play_section__tabs .nav-tabs li a {
            background-color: #f7f8f9;
        }

.settings .title-setting {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 700;
    color: #1f1f1f;
}

.settings input.form-control {
    font-size: 20px;
    letter-spacing: 2px;
}


.btn {
    font-size: 13px;
}

    .btn.btn-sm {
        font-size: 13px;
        text-transform: capitalize;
        padding: 8px 20px 7px;
    }

.btn-blue {
    background-color: #27a2db;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.navbar .dropdown-menu li a:hover,
.navbar .dropdown-menu li a:focus,
.navbar .dropdown-menu li a:active,
.navbar .dropdown-menu li a.active,
.navbar.navbar-default .dropdown-menu li a:hover,
.navbar.navbar-default .dropdown-menu li a:focus,
.navbar.navbar-default .dropdown-menu li a:active,
.bootstrap-table .dropdown-menu li a:hover,
.bootstrap-table .dropdown-menu li a:focus,
.bootstrap-table .dropdown-menu li a:active {
    background-color: #fbb11a;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.dropdown-menu.point {
    padding: 20px;
}

    .dropdown-menu.point span {
        font-weight: 400;
    }

    .dropdown-menu.point li {
        padding: 5px;
        overflow: hidden;
        white-space: nowrap;
        max-width: 300px;
    }




    .dropdown-menu.point .btn-warning {
        margin: 0;
    }

    .input-link {
        border: none;
        background-color: transparent;
        color: #ff9800;
        width: 100%;
    }



.dropdown-menu li > a {
    font-size: 14px;
    font-weight: 700;
}

.sidebar .nav li > a {
    font-weight: 700;
}

.dropdown-menu li > .get-free-ticket {
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 2px;
    transition: all 150ms linear;
    display: block;
    clear: both;
    line-height: 1.42857143;
    color: #333;
    cursor: pointer;
}

    .dropdown-menu li > .get-free-ticket:hover {
        background-color: #fbb11a;
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
        color: #FFFFFF;
    }

.sidebar .nav-mobile-menu .get-free-ticket {
    color: #fff;
    margin: 10px 15px 0;
    border-radius: 3px;
    padding: 6px 10px;
    white-space: nowrap;
}

.text-blue {
    color: #27a2db !important;
}

a {
    color: #27a2db;
}

.navbar .navbar-brand {
    width: 260px;
    height: 70px;
}

.navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
    border-right: 1px solid #B03545;
}

.navbar-brand img {
    width: 180px;
    margin: 0 auto;
}

.card .card-title {
    margin-bottom: 0;
}

.num-list {
    list-style: none;
    padding: 0;
}

.num-list__item {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin: 1px;
    border: 1px solid #dddddd;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    background: #fafafa;
    padding-top: 10px;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.profile-ticket__list {
    margin-left: -5px;
    margin-right: -5px;
    width: 100%;
}

.profile-ticket__item {
    width: 25%;
    margin-top: 10px;
    display: inline-block;
    margin-right: -3px;
    padding: 0 5px;
}

.box-ticket {
    border-radius: 5px;
    background-color: #e8e8e8;
    padding: 15px;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.num-list__item.active {
    color: #fff;
    background: #4caf50;
    z-index: 22;
}



.ready-number-set .num-list__item.active {
    border-color: none !important;
    color: #fff !important;
    background: #35b0e8 !important;
    cursor: pointer;
}

.num-list_yellow.ready-number-set .num-list__item.active,
.num-list_yellow.ready-number-set .num-list__item.active:hover {
    border-color: none !important;
    background: #ff9800 !important;
}



.num-list_yellow .num-list__item.active {
    border-color: none;
    background: #ff9800;
}

.num-list_yellow .num-list__item {
    border: 1px solid #e6d4bb;
    background: #fdf6eb;
}


.card [data-background-color="blue"] {
    background: #27a2db;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.box-ticket__header {
    margin-bottom: 15px;
}


    .box-ticket__header .btn.btn-fab.btn-fab-mini {
        height: 26px;
        min-width: 26px;
        width: 26px;
    }

    .box-ticket__header .btn {
        margin: 0;
        padding-top: 8px;
    }

.text-cen-up {
    font-weight: 700;
}

.ticketNumber {
    border-radius: 50%;
    background-color: #35b0e8;
    height: 32px;
    text-align: center;
    width: 32px;
    color: #fff;
    margin: 2px;
    line-height: 32px;
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
}



    .ticketNumber:last-child,
    .ticketNumber.last {
        background-color: #ff9800;
    }


    .ticketNumber.disable {
        background-color: #8c8c8c;
    }

.fw-400 {
    font-weight: 400;
}


.mr-4 {
    margin-right: 4px !important;
}

.card.list-ticket {
    padding-bottom: 20px;
}

    .card.list-ticket .card-content {
        min-height: 250px;
    }

.card-content table thead tr th {
    padding: 10px 0;
}

.item-first .num-list__item {
    margin-right: -2px;
}

.btn-add-big.__addTickets {
    width: 100%;
    margin-top: 40px;
    padding: 18px;
}

.form-group label.label-lg {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    color: #1f1f1f;
    margin-bottom: 10px;
}

.form-group label.label-md {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
}

.form-group input.form-control {
    padding-bottom: 15px;
}

.text-md {
    font-size: 20px;
    font-weight: 700 !important;
}

    .text-md::placeholder {
        font-size: 20px !important;
        font-weight: 700 !important;
    }

.head-title {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 15px;
    color: #1f1f1f;
}

.draw-title {
    font-size: 16px;
    margin-bottom: 40px;
}


h4.jackpot {
    font-weight: 400;
    text-align: right;
}


.tab-content .form-group {
    margin-bottom: 25px;
}

.tab-content .input-group .input-group-addon {
    font-weight: 700;
}


.processing:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
    }

    40% {
        color: white;
        text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
    }

    60% {
        text-shadow: .25em 0 0 white, .5em 0 0 rgba(0,0,0,0);
    }

    80%, 100% {
        text-shadow: .25em 0 0 white, .5em 0 0 white;
    }
}



/* lotte-result */

.play_section__tabs {
    margin: 0 -40px 40px;
}

    .play_section__tabs .nav-tabs {
        border-bottom: 1px solid #e8e8e8;
    }

        .play_section__tabs .nav-tabs li:first-child {
            margin-left: 40px;
        }

        .play_section__tabs .nav-tabs li a {
            background: #eff1f3;
            font-weight: 500;
            font-size: 16px;
            margin-top: 3px;
            -webkit-transition: all .1s ease;
            -moz-transition: all .1s ease;
            -ms-transition: all .1s ease;
            -o-transition: all .1s ease;
            transition: all .1s ease;
            color: #3C4858;
        }

            .play_section__tabs .nav-tabs li a:hover,
            .play_section__tabs .nav-tabs li a:active,
            .play_section__tabs .nav-tabs li a:focus {
                text-decoration: none;
                border: 1px solid #e8e8e8;
                border-bottom: 1px solid transparent !important;
                background: #fff;
                color: #ff9800;
            }

        .play_section__tabs .nav-tabs li.active a {
            background: #fff;
            font-weight: 900;
            color: #1f1f1f;
            padding: 12px 20px;
            margin-top: 0;
            border-bottom: 1px solid transparent !important;
        }

.block-border {
    border: 2px solid #03dccf;
    border-radius: 4px;
    padding: 40px;
}

.combo-list {
    background: #eff1f3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    padding: 20px;
    margin-top: 20px;
}

    .combo-list:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7.5px 9px 7.5px;
        border-color: transparent transparent #eff1f3 transparent;
        content: '';
        display: block;
        position: absolute;
        top: -9px;
        left: 50%;
        margin-left: -7.5px;
    }

    .combo-list .number-list {
        background: #fff;
        border-radius: 4px;
        margin: 5px 0px;
        padding: 6px 0 5px;
    }

.number-winner {
    border: 1px solid #1f3a47;
    border-radius: 3px;
    list-style: none;
    display: inline;
    padding: 3px 15px;
    white-space: nowrap;
}

    .number-winner li {
        display: inline;
    }

    .number-list span,
    .number-winner li {
        font-weight: 700;
        padding: 2px;
    }

        .number-list span.last-ball,
        .number-winner li:last-child {
            color: #ff9800;
        }

.form-group .label-inline {
    font-size: 16px;
    font-weight: 700;
    color: #1f1f1f;
}

.nowrap {
    white-space: nowrap;
}

/* Refill*/

.copy-address {
    font-size: 24px;
    font-weight: 700;
    color: #1f1f1f;
}




/* Check transparentcy */

.fair_form {
    border: 2px solid #27a2db;
    border-radius: 5px;
    padding: 20px;
    padding-top: 0;
    margin-bottom: 20px;
}

.fair_about__list {
    width: 100%;
    margin: 0 0 7px;
    list-style: none;
    padding-left: 0;
}

    .fair_about__list li {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        background: #f3f5f7;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 36px 50px 40px;
        margin: 0 0 30px;
        line-height: 30px;
        font-size: 1em;
        font-weight: 300;
        display: block;
    }

        .fair_about__list li:before {
            content: '';
            background: #fff;
            border-radius: 50px;
            position: absolute;
            bottom: -42px;
            left: calc(50% - 12px);
            height: 56px;
            width: 24px;
            z-index: 1;
        }

        .fair_about__list li:after {
            content: '';
            background: #f3f5f7;
            position: absolute;
            bottom: -27px;
            left: calc(50% - 1px);
            height: 25px;
            width: 2px;
            z-index: 1;
        }

        .fair_about__list li:last-child:after,
        .fair_about__list li:last-child:before {
            content: none;
        }


.breaking_hash span {
    display: inline-block;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 14px;
    margin: 5px 2px;
}

    .breaking_hash span:nth-child(odd) {
        background: #ebeef0;
    }

    .breaking_hash span:nth-child(even) {
        background: #88c9e8;
    }

.first-ball {
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 30px;
    width: 30px;
    position: relative;
    margin: 0;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #27a2db;
    margin-left: 3px;
}

.left-content,
.main-content {
    padding: 40px;
}

.right-content {
    padding: 40px;
    background: #f3f5f7;
}

.main-content {
    min-height: 400px;
}


/* Checker*/

.checkerTable {
    background: #CCC;
    position: relative;
    border-radius: 8px;
    border-spacing: 0;
    margin: 10px auto;
    padding: 2px;
    overflow: hidden;
}


    .checkerTable th {
        position: relative;
        padding: 20px !important;
        color: #FFF;
        box-shadow: inset rgba(255, 255, 255, 0.6) 0 1px 0;
        background-color: #27a2db;
        border-top: none !important;
    }

.paddedLight {
    padding: 8px !important;
    display: inline-block;
}

.floatRight {
    float: right;
}

.emptyBall {
    background: #600;
    position: relative;
    width: 39px;
    height: 39px;
    border-radius: 36px;
    padding: 3px;
    margin: 0 -1px;
    border-bottom: 1px solid #B55;
    z-index: 9;
}

#checkerStatus {
    background: #600;
    position: relative;
    float: right;
    border-radius: 10px;
    border-bottom: 1px solid #B55;
    color: #FFF;
    font: bold 12px/18px arial, sans-serif;
    text-align: center;
    padding: 2px 35px 5px 20px;
    width: 300px;
    height: 22px;
    margin-top: 9px;
    margin-right: -15px;
    z-index: 1;
}

    #checkerStatus.thunderball,
    .emptyBall.thunderball {
        background: #3c8db3;
        border-bottom: 1px solid #33677f;
    }

.checkerTable td,
.checkerTable .tableCell {
    background: #EEE;
    padding: 5px;
    border-top: none !important;
}

.checkerNumber {
    background: url(/Images/blank.png) #ffffff right center no-repeat;
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 98%, #ffffff 98%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(98%, #ededed), color-stop(98%, #ffffff));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 98%, #ffffff 98%);
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 98%, #ffffff 98%);
    position: relative;
    padding: 10px;
    border-bottom: 4px solid #777;
    border-radius: 8px;
    font: 24px/30px arial, sans-serif;
    outline: none;
    text-decoration: none !important;
    text-decoration: none;
    text-align: center;
    color: #333;
    text-shadow: #FFF 0 1px 0;
    box-shadow: #333 0 2px 4px -2px;
    top: 0;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    display: block;
    cursor: pointer;
    width: 54px;
    margin: auto;
    cursor: pointer !important;
}

    .checkerNumber:hover {
        top: 2px;
        border-bottom: 4px solid #777;
        box-shadow: #333 0 3px 4px -4px;
        color: #B00 !important;
    }

    .checkerNumber.selected:hover {
        color: #D30 !important;
    }

    .checkerNumber.selected,
    .checkerNumber:active {
        background: url(/Images/blank.png) #FC0 right center no-repeat;
        background: -moz-linear-gradient(top, #ffde00 0%, #ffa200 98%, #ffd800 98%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffde00), color-stop(98%, #ffa200), color-stop(98%, #ffd800));
        background: -webkit-linear-gradient(top, #ffde00 0%, #ffa200 98%, #ffd800 98%);
        background: linear-gradient(to bottom, #ffde00 0%, #ffa200 98%, #ffd800 98%);
        top: 2px;
        border-bottom: 4px solid #ba4a00;
        box-shadow: #333 0 3px 4px -4px;
        color: #333 !important;
        text-shadow: #FD0 0 1px 0;
        transition: all 0.05s linear;
        -webkit-transition: all 0.05s linear;
    }

    .checkerNumber.disabled {
        box-shadow: none;
        color: #CCC !important;
        border-bottom: 4px solid #DDD !important;
        box-shadow: #AAA 0 2px 4px -2px !important;
        top: 0 !important;
        cursor: default !important;
        pointer-events: none;
    }

    .checkerNumber.type2 {
        color: #F90;
    }

.clear {
    clear: both;
    margin: 0;
    padding: 0;
}


.result.small {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    letter-spacing: 0;
    box-shadow: none;
}

.thunderball-ball,
.pink-ball {
    background: #35b0e8;
    color: #FFF;
}

.thunderball-thunderball {
    background: #FFF;
    color: #333;
}

    .thunderball-thunderball.small {
        box-shadow: inset #000 0 0 11px -2px, inset #F06 0 0 0 3px;
        text-shadow: none;
    }

.promo-box-small.thunder {
    background-image: url(../img/icon/promo-box-thunder.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10px 20px 20px;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 8px;
    margin: auto;
    position: relative;
    min-height: 300px;
}

.img-check-thunder {
    width: 400px !important;
}

.promo-box-small .elem1 {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 20px;
}

.promo-box-small .title {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    color: #fff200;
    line-height: 30px;
    margin-bottom: 20px;
}

.promo-box-small .sub-title {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}

.promo-box-small ul {
    padding: 0;
}

    .promo-box-small ul li {
        list-style: none;
        color: #fff;
        min-height: 30px;
        font-size: 14px;
        margin-bottom: 0;
        background: url(../img/icon/star-icon-small.png) no-repeat;
        padding: 0 0 0 25px;
    }

.emptyBall .result {
    left: -3px;
    top: -1px;
}

.resultBox {
    background: #fff;
    position: relative;
    border-radius: 6px;
    width: 100%;
    border: 1px solid #BBB;
    overflow: hidden;
    margin-bottom: 30px !important;
}

    .resultBox.shorter {
        width: 80%;
        background-position: 0 -200px !important;
    }

.sideHeader {
    position: relative;
    width: 190px;
    font: bold 20px/20px arial, sans-serif;
    letter-spacing: -1px;
    color: #FFF;
    padding: 10px 0;
    margin: 0 20px 0 0;
    text-align: center;
    float: left;
    height: 100%;
}

    .sideHeader.checkerSide {
        line-height: 78px;
        background-position: 0 -900px;
        background-color: #27a2db;
    }

.checkerSide .thunderball-ball {
    box-shadow: none;
}


.thunderball-thunderball {
    box-shadow: inset #f44336 0 0 20px -2px, inset #f44336 0 0 0 3px !important;
}

table.price-ticket {
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}

    table.price-ticket td {
        padding: 15px 0;
        border-bottom: 1px dashed #172c35;
    }

    table.price-ticket tr td:last-child {
        text-align: right;
    }

    table.price-ticket tr:last-child td {
        border-bottom: none;
    }

    table.price-ticket .total td:first-child {
        font-size: 22px;
    }

    table.price-ticket .total .price {
        font-size: 34px;
    }

        table.price-ticket .total .price span {
            font-size: 22px;
        }


.table-checkresult {
    width: 100%;
    margin-bottom: 20px;
}

    .table-checkresult tbody tr:nth-child(2n) {
        background: #f9f9f9;
    }

    .table-checkresult th,
    .table-checkresult td {
        padding: 10px 20px;
        font-weight: 700;
    }

    .table-checkresult.td-padding td {
        padding: 15px 20px;
    }

    .table-checkresult tr:first-child td {
        padding-top: 15px;
    }

    .table-checkresult tr:last-child td {
        padding-bottom: 15px;
    }

        .table-checkresult tr:last-child td:first-child {
            border-bottom-left-radius: 3px
        }

        .table-checkresult tr:last-child td:last-child {
            border-bottom-right-radius: 3px
        }

    .table-checkresult th {
        color: #fff;
        font-size: 14px;
        padding: 15px 20px !important;
        background: #1f3a47;
        white-space: nowrap;
    }

    .table-checkresult tbody {
        background-color: #eff2f4;
    }

    .table-checkresult tr th:first-child {
        border-top-left-radius: 7px;
    }


    .table-checkresult tr th:last-child {
        border-top-right-radius: 7px;
    }

    .table-checkresult .balls .ticketNumber {
        float: none;
        display: inline-block;
    }

.navbar-absolute {
    padding: 0;
}

.navbar .navbar-nav > li > a {
    text-transform: none;
    font-weight: 700;
    color: #FFBA55;
    padding-top: 25px;
    padding-bottom: 24px;
}

    .navbar .navbar-nav > li > a:hover,
    .navbar .navbar-nav > li > a:focus,
    .navbar .navbar-nav > .open > a,
    .navbar .navbar-nav > .open > a:hover,
    .navbar .navbar-nav > .open > a:focus {
        color: #FFBA55;
        outline: none;
    }

.navbar .navbar-nav .dropdown {
    border-left: 1px solid #B03545;
}

.timeline-link {
    cursor: pointer;
}

.modal-hash {
    background-color: #35b0e8;
    padding: 24px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.modal-footer {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
}


.modal .form-group:last-child {
    border-bottom: 0px;
}

.modal .form-group label {
    font-weight: 700;
    color: #333;
}

.modal-dialog.modal-md {
    width: 500px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0
}

    .no-gutters > .col, .no-gutters > [class*=col-] {
        padding-right: 0;
        padding-left: 0
    }




/* button */

.btn.copy_wallet_address {
    margin-top: 6px;
}

.search-date {
    margin-bottom: 20px;
}

    .search-date button {
        margin-top: 28px;
    }


/* text  */

.text-md-input {
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

.text-sm {
    font-size: 12px;
}


/* IMG */

.img-qr {
    width: 195px !important;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}


/* alert*/

.ajs-message {
    border: none;
    border-radius: 0;
    position: relative;
    padding: 20px 15px;
    line-height: 20px;
}

.alertify-notifier .ajs-message.ajs-error {
    background-color: #f55a4e !important;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
    border: none;
    text-shadow: none;
}

.alertify-notifier .ajs-message.ajs-success {
    background-color: #5cb860 !important;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
    border: none;
    text-shadow: none;
}

.winning-number {
    padding: 25px 20px;
    background-color: #1f3a47;
    text-align: center;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.winning-number .ticketNumber {
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
}

.hash-number {
    background-color: #ff9800;
    padding: 25px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}

.balls-icon {
    width: 11px;
    height: 11px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    vertical-align: middle;
    background: #8d8d8d;
    margin-right: 4px;
}

.c-orange {
    color: #ff9800;
}

.orange {
    background-color: #ff9800 !important;
}

.note {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 13px;
}

.table-winning-number {
    width: 100%;
    border-bottom: 1px solid #efefef;
}

    .table-winning-number th,
    .table-winning-number td {
        padding: 10px 20px;
        font-size: 16px;
    }

    .table-winning-number th {
        font-size: 16px;
        padding: 15px 20px;
    }

        .table-winning-number th:first-child,
        .table-winning-number tr td:first-child {
            padding-left: 40px;
        }

    .table-winning-number tbody tr:nth-child(2n - 1) {
        background-color: #efefef;
    }
/* helper */

.plr-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.overflow-x-auto {
    overflow-x: auto;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.m-0 {
    margin: 0 !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}


.text-lg {
    font-size: 20px;
}

a:hover,
a:focus {
    color: #ff9800;
}

.fa + span {
    margin-left: 5px;
}

.w-50 {
    width: 50%;
}

.min-w-300 {
    min-width: 300px;
}

.flex {
    display: flex;
}

.dis-table {
    display: table;
    width: 100%;
}

    .dis-table .table-cell {
        display: table-cell;
    }

.pointer {
    cursor: pointer;
}

.layout-footer {
    padding: 40px;
    color: #fff;
    background-color: #a92133;
    width: calc(100% - 80px);
    float: right;
}

    .layout-footer .heading {
        font-size: 14px;
    }

    .layout-footer .text-small,
    .layout-footer li a {
        color: #fff;
        font-size: 13px;
        display: inline-block;
    }



        .layout-footer li a:hover {
            color: #ff9800;
            transition: ease .5s;
        }

footer ul li {
    display: block;
}


/* Foundation*/

.slider {
    position: relative;
    height: 8px;
    margin-top: 8px;
    margin-bottom: 30px;
    background-color: #e6e6e6;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    border-radius: 4px;
}

.slider-fill {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    max-width: 100%;
    height: 8px;
    background-color: #fbb11a;
    transition: all 0.2s ease-in-out;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

    .slider-fill.is-dragging {
        transition: all 0s linear;
    }

.slider-handle {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    z-index: 1;
    display: inline-block;
    width: 8px;
    height: 24px;
    border-radius: 4px;
    background-color: #172c35;
    transition: all 0.2s ease-in-out;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

[data-whatinput='mouse'] .slider-handle {
    outline: 0;
}

.slider-handle:hover {
    background-color: #14679e;
}

.slider-handle.is-dragging {
    transition: all 0s linear;
}

.slider.disabled,
.slider[disabled] {
    opacity: 0.25;
    cursor: not-allowed;
}

.slider.vertical {
    display: inline-block;
    width: 0.5rem;
    height: 12.5rem;
    margin: 0 1.25rem;
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

    .slider.vertical .slider-fill {
        top: 0;
        width: 0.5rem;
        max-height: 100%;
    }

    .slider.vertical .slider-handle {
        position: absolute;
        top: 0;
        left: 50%;
        width: 1.4rem;
        height: 1.4rem;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

.slider-input {
    width: 70px;
    padding: 8px;
    padding-left: 15px;
    margin-top: -8px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    font-size: 16px;
    font-weight: 700;
}

.sticky {
    position: sticky;
    top: 0;
}

/* Tags*/
.tag {
    background: #fbb11a;
    border-radius: 3px 0 0 3px;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px 0 23px;
    position: absolute;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    top: 61%;
    left: 280px;
    font-size: 16px;
    font-weight: 700;
}

    .tag::before {
        background: #fff;
        border-radius: 10px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
        content: '';
        height: 6px;
        left: 6px;
        position: absolute;
        width: 6px;
        top: 11px;
    }

    .tag::after {
        background: transparent;
        border-bottom: 15px solid transparent;
        border-right: 13px solid #fbb11a;
        border-top: 15px solid transparent;
        content: '';
        position: absolute;
        left: -12px;
        top: 0;
    }

/*Checkbox */

.form-check {
    position: relative;
    display: block;
}

    .form-check .form-check-label {
        cursor: pointer;
        padding-left: 30px;
        position: relative;
        font-size: 16px;
        color: #1f1f1f;
    }

    .form-check .form-check-input {
        position: absolute;
        margin: 0;
        z-index: -1;
        left: 0;
        pointer-events: none;
        opacity: 0;
        height: 0;
        width: 0;
        overflow: hidden;
    }

    .form-check .form-check-sign {
        vertical-align: middle;
        position: relative;
        top: -2px;
        float: left;
        padding-right: 10px;
        display: inline-block;
    }

    .form-check .form-check-label span {
        display: block;
        position: absolute;
        left: -1px;
        top: 0px;
        transition-duration: .2s;
    }

    .form-check .form-check-sign:before {
        display: block;
        position: absolute;
        left: 0;
        content: "";
        background-color: rgba(0,0,0,.84);
        height: 20px;
        width: 20px;
        border-radius: 100%;
        z-index: 1;
        opacity: 0;
        margin: 0;
        top: 0;
        -webkit-transform: scale3d(2.3,2.3,1);
        transform: scale3d(2.3,2.3,1);
    }

    .form-check .form-check-input:checked + .form-check-sign:before {
        -webkit-animation: c .5s;
        animation: c .5s;
    }

    .form-check .form-check-sign .check {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid rgba(0,0,0,.54);
        overflow: hidden;
        z-index: 1;
        border-radius: 3px;
    }

    .form-check .form-check-input:checked + .form-check-sign .check {
        background: #ff9800;
    }

    .form-check .form-check-sign .check:before {
        position: absolute;
        content: "";
        transform: rotate(45deg);
        display: block;
        margin-top: -3px;
        margin-left: 7px;
        width: 0;
        color: #fff;
        height: 0;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, inset 0 0 0 0;
        -webkit-animation: checkbox-off .3s forwards;
        animation: checkbox-off .3s forwards;
    }

    .form-check .form-check-input:checked + .form-check-sign .check:before {
        color: #fff;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
        -webkit-animation: b .3s forwards;
        animation: b .3s forwards;
    }

.registration-login-form .form-group label.control-label {
    font-size: 14px;
}

.registration-login-form .form-group input.form-control {
    padding: 7px;
    padding-left: 0;
}

.registration-login-form .tab-content .form-group {
    margin-bottom: 0;
}

.registration-login-form-popup {
    width: 470px;
}

.registration-login-form {
    border: 1px solid #e6ecf5;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    padding-left: 65px;
    margin-bottom: 20px;
    min-height: 540px;
    width: 100%;
}

    .registration-login-form .nav-tabs {
        float: left;
        display: block;
        height: 100%;
        border: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0
    }

    .registration-login-form .nav-item {
        margin-bottom: 0;
        height: 50%;
        display: table;
        float: none;
    }

        .registration-login-form .nav-item p {
            font-size: 16px;
            font-weight: 700;
            margin-top: 5px;
        }

        .registration-login-form .nav-item:last-child .nav-link {
            border-bottom: 0
        }

    .registration-login-form .nav-link {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #e6ecf5 !important;
        border-right: 1px solid #e6ecf5 !important;
        padding: 5px;
        color: #c0c4d8;
        fill: #c0c4d8;
        background-color: #fafbfd;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        margin-right: 0;
    }

    .registration-login-form .nav-item.active .nav-link {
        fill: #ff5e3a;
        background-color: #FFECD0 !important;
        border: none;
    }

    .registration-login-form .material-icons {
        font-size: 32px;
    }

    .registration-login-form .nav-item.active .material-icons,
    .registration-login-form .nav-item.active p {
        color: #ff9800;
    }

    .registration-login-form .nav-link svg {
        width: 21px;
        height: 21px
    }

    .registration-login-form .tab-content {
        overflow: hidden
    }

    .registration-login-form .content {
        padding: 10px 25px 30px;
    }

    .registration-login-form .title {
        padding: 20px;
        border-bottom: 1px solid #e6ecf5;
        margin-bottom: 0;
        color: #515365;
        font-weight: 700;
        text-transform: none;
        font-size: 18px;
        margin-top: 0;
    }

    .registration-login-form p {
        margin-bottom: 0;
        font-size: 13px
    }

    .registration-login-form .remember {
        margin: 10px 0;
    }

        .registration-login-form .remember .checkbox {
            display: inline-block;
            margin: 0;
        }

        .registration-login-form .remember a {
            line-height: 2
        }

        .registration-login-form .remember .forgot {
            float: right;
        }



.or {
    position: relative;
    width: 100%;
    height: 1px;
    margin: 1rem 0;
    background-color: #e6ecf5
}

    .or:after {
        content: 'OR';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 0 25px;
        font-size: 10px;
        z-index: 5
    }

@media screen and (max-width: 1600px) {
    .profile-ticket__item {
        width: 33.3%;
    }
}

@media screen and (max-width: 1200px) {
    .profile-ticket__item {
        width: 50%;
    }
}

@media screen and (max-width: 1260px) {

    .promo-box-small.thunder {
        background-size: cover;
    }

    .promo-box-small .elem1 {
        width: 100%;
    }

    .resultBox.shorter {
        width: 100%;
    }
}


@media (min-width: 992px) {
    .typo-line {
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

        .typo-line .category {
            transform: translateY(-50%);
            top: 50%;
            left: 0px;
            position: absolute;
        }

}

@media screen and (max-width: 991px) {
    .navbar .navbar-brand {
        height: 60px;
    }

    .dropdown-menu.point li {
        color: #fff;
    }

    .heading-section {
        margin-top: 60px;
    }

    .mt-md-30 {
        margin-top: 30px;
    }

    .profile-ticket__item {
        width: 50%;
    }

    .nav-mobile-menu .material-icons {
        margin-top: -4px;
    }

    .nav.nav-mobile-menu .caret {
        margin-top: 9px;
    }

    .nav.nav-mobile-menu .dropdown-menu {
        padding-left: 20px;
    }

    .nav.nav-mobile-menu .dropdown.user .dropdown-menu .material-icons {
        margin-top: -6px;
    }

    .layout-footer {
        width: 100%;
    }

    .navbar-header .navbar-toggle {
        margin-top: 7px;
    }

    .min-w-300 {
        min-width: 200px;
    }
}

@media screen and (max-width: 768px) {

    .heading-section:before {
        display: none;
    }

    .main-panel > .content {
        display: block;
    }

    .profile-ticket__item {
        width: 50%;
    }

    .result {
        width: 50px;
        height: 50px;
        font: bold 24px/51px arial, sans-serif;
    }

    .free-ball,
    .free-weekly-ball {
        box-shadow: inset #27a2db 0 0 20px -2px, inset #27a2db 0 0 0 5px;
    }

    .free-ball-last {
        box-shadow: inset #f44336 0 0 20px -2px, inset #f44336 0 0 0 5px;
    }

    .resultBox .calendar {
        background: url(../img/icon/spritesheet.png) transparent -381px 0 no-repeat;
    }

    .calMonth,
    .calDate {
        font: bold 12px/14px arial, sans-serif;
    }

    .resultBox .calDate {
        font-size: 34px;
        line-height: 40px;
    }

    .result.medium {
        width: 40px;
        height: 40px;
        line-height: 41px;
        font-size: 20px;
        font-weight: normal;
    }

    .checkerNumber {
        padding: 3px;
        font: 16px/30px arial, sans-serif;
        width: 40px;
    }

    .checkerTable td,
    .checkerTable .tableCell {
        padding: 6px;
    }

    .table-checkresult th {
        font-size: 14px;
    }
}

@media screen and (max-width: 570px) {

    .resultBox {
        padding-bottom: 20px;
    }

    .result:first-child {
        margin-left: 20px;
    }

    .result.small:first-child {
        margin-left: 2px;
    }

    .resultBox .calendar {
        display: none;
    }

    .resultBox.withSide {
        height: auto;
    }

    .resultBox .sideHeader {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .resultBox .paddedLight_Result {
        padding-left: 20px;
    }

    .resultBox {
        margin-bottom: 20px;
    }

    .sideHeader.checkerSide {
        line-height: 40px;
    }
}

@media screen and (max-width: 500px) {
    .profile-ticket__item {
        width: 100%;
    }

    .fair_about__list li {
        padding: 10px 20px;
    }

    .img-check-thunder {
        width: 300px !important;
    }

    .heading-section {
        padding: 20px 20px 60px;
    }


    .tag {
        left: 35px;
        top: 75%;
    }

    .left-content,
    .right-content,
    .block-border,
    .main-content {
        padding: 20px;
    }

    .modal-dialog.modal-md {
        width: 350px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .registration-login-form-popup {
        width: 350px;
        margin: 50px auto 0;
    }

    .text-lg {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .latestHeader {
        height: 50px;
        font: bold 20px/60px arial, sans-serif;
    }

    .result {
        width: 30px;
        height: 30px;
        font: bold 14px/30px arial, sans-serif;
    }

    .free-ball,
    .free-weekly-ball {
        box-shadow: inset #27a2db 0 0 20px -2px, inset #27a2db 0 0 0 3px;
    }

    .free-ball-last {
        box-shadow: inset #f44336 0 0 20px -2px, inset #f44336 0 0 0 3px;
    }

    .result.medium {
        width: 30px;
        height: 30px;
        line-height: 31px;
        font-size: 14px;
    }

    .resultBox.withSide .title {
        font-size: 16px;
    }

    .resultBox {
        margin-bottom: 10px;
    }

    .notice-box {
        background-image: none;
        padding: 20px;
    }
}

.alertify .ajs-dialog {
    padding: 24px;
    border-radius: 3px;
}

.myAlert-top {
    position: fixed;
    top: 10px;
    left: 35%;
    width: 30%;
}

.myAlert-bottom {
    position: fixed;
    bottom: 5px;
    left: 35%;
    width: 30%;
}

div.fullscreen {
    position: absolute;
    width: 100%;
    height: 960px;
    top: 0;
    left: 0;
    background-color: lightblue;
}

.alert {
    display: none;
}

.body-loader {
    position: fixed;
    top: 0;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    padding: 10px 20px 10px 50px;
    background: #3cb878;
    z-index: 1111;
    display: none;
    color: #fff;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    max-height: 40px;
    font-size: .9em;
}

    .body-loader:before {
        content: '';
        width: 20px;
        height: 20px;
        background: url('../img/loader/balls-loader.svg');
        background-size: contain;
        display: block;
        left: 15px;
        top: 50%;
        margin-top: -10px;
        position: absolute
    }

    .body-loader.slidedown {
        -webkit-animation: slidedown .2s ease-out normal;
        -moz-animation: slidedown .2s ease-out normal;
        -ms-animation: slidedown .2s ease-out normal;
        -o-animation: slidedown .2s ease-out normal;
        animation: slidedown .2s ease-out normal
    }

.full-width {
    width: 100%;
}



@media (max-width:1920px) {
    .registration-login-form {
        padding-top: 71px;
        padding-left: 0
    }

        .registration-login-form .nav-tabs {
            bottom: auto;
            height: auto;
            width: 100%
        }

        .registration-login-form .nav-item {
            height: 100%;
            display: block;
            width: 50%;
            float: left;
            text-align: center
        }

        .registration-login-form .nav-link {
            display: block
        }

        .registration-login-form .nav-item:last-child .nav-link {
            border-bottom: 1px solid #e6ecf5
        }
}

.checkbox label {
    color: #888da8;
}

.bg-facebook,
.bg-facebook:hover {
    background-color: #2f5b9d;
    text-transform: none;
    font-weight: 700;
}

.none-transform-bold {
    text-transform: none;
    font-weight: 700;
}

.bg-twitter {
    background-color: #38bff1;
    text-transform: none;
    font-weight: 700;
}

.bg-google,
.bg-google:hover {
    background-color: #ea4235;
    text-transform: none;
    font-weight: 700;
}

.btn-icon-left .fa {
    margin-right: 10px;
}

.modal-backdrop.in {
    opacity: 1;
}

.field-validation-error {
    color: red;
    padding-top: 5px;
    display: block;
    font-size: 14px;
}

.payBalance {
    display: none;
}

.activepage {
    display: block;
}

.sub-title {
    font-size: 18px;
    text-transform: none;
    margin-bottom: 20px;
}

.your-match .fa-link {
    font-size: 20px;
}

.navbar .dropdown-menu .active > a:hover {
    color: #fff;
}

select {
    font-weight: 700;
    color: #333;
    padding: 10px 5px;
    height: 43px;
}

