﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="/Content/css/devstyle.css" rel="stylesheet" />
<link href="~/Content/css/desktop.css" rel="stylesheet" />
<h2>Statistics</h2>
<main class="content js-content mainPastResult">
    <div class="box-wrap">
        <div class="js-wrapper-fix">
            <div class="box-profile-cont">
                <div class="main">
                    <h1>Statistics</h1>
                    <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/" title="RippleLot Home" itemprop="item">
                                <span itemprop="name">RippleLot</span>
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/thunderball" title="Thunderball" itemprop="item">
                                <span itemprop="name">Thunderball</span>
                            </a>
                        </li>
                        <li>Statistics</li>
                    </ol>
                    <p>Find out all the information that you need to know about which <a href="/thunderball" title="Thunderball Draw Information">Thunderball</a> numbers have been drawn most often, which have been drawn the fewest times and which have appeared most often in pairs or triplets. You can also discover which numbers have not been picked for a while.  It’s up to you to decide how these statistics influence your choice of numbers.</p>
                    <p>If this has inspired you to <a href="/thunderball/tickets" title="Buy a Thunderball ticket">buy a Thunderball ticket</a>, then use the Thunderball Checker after the draw has taken place  to see whether you have a prize coming your way. </p>
                    <p>All of the information is taken from 9th May 2010 up to and including Saturday 13th January 2018. </p>
                    <p>Take a look at the <a href="/thunderball/historical-statistics" title="Historical Thunderball Statistics">historical Thunderball statistics</a> page to view information from before 9th May 2010, when the number of balls per draw increased from 34 to 39.</p>
                    <h2>Thunderball Winning Numbers Table</h2>
                    <div class="table" style="width: 96%;">
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">1</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">151</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">2</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">161</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">3</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">154</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">4</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">160</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">5</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">148</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">6</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">164</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">7</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">153</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">8</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">149</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">9</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">142</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">10</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">160</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">11</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">132</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">12</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">139</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">13</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">157</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">14</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">130</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">15</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">157</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">16</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">159</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">17</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">159</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">18</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">163</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">19</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">164</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">20</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">163</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">21</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">163</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">22</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">166</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">23</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">161</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">24</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">151</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">25</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">152</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">26</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">157</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">27</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">154</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">28</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">158</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">29</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">159</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">30</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">179</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">31</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">178</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">32</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">181</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">33</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">142</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">34</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">145</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">35</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">135</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">36</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">141</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">37</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">135</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">38</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">146</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-ball">39</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">147</span> times</strong>
                        </div>
                        <br class="clear"><br>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-thunderball">1</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">87</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-thunderball">2</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">76</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-thunderball">3</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">97</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-thunderball">4</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">96</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-thunderball">5</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">90</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-thunderball">6</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">83</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-thunderball">7</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">73</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-thunderball">8</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">93</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-thunderball">9</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">59</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-thunderball">10</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">88</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-thunderball">11</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">97</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-thunderball">12</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">88</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-thunderball">13</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">82</span> times</strong>
                        </div>
                        <div class="tableCell centred floatLeft">
                            <div class="result medium thunderball-thunderball">14</div>
                            <br>Drawn:<br><strong><span style="color: #F00;">94</span> times</strong>
                        </div>
                    </div>
                    <h2>Main Numbers Frequency Graph</h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <div id="frequencyGraph1">
                                        <div style="position: relative;">
                                            <div dir="ltr" style="position: relative; width: 860px; height: 400px;">
                                                <div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;" aria-label="A chart.">
                                                    <svg width="860" height="400" aria-label="A chart." style="overflow: hidden;">
                                                        <defs id="defs">
                                                            <clipPath id="_ABSTRACT_RENDERER_ID_0">
                                                                <rect x="60" y="20" width="800" height="320"></rect>
                                                            </clipPath>
                                                        </defs>
                                                        <rect x="0" y="0" width="860" height="400" stroke="none" stroke-width="0" fill="#eeeeee"></rect>
                                                        <g>
                                                            <rect x="60" y="20" width="800" height="320" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
                                                            <g clip-path="url(https://www.lottery.co.uk/thunderball/statistics#_ABSTRACT_RENDERER_ID_0)"><g><rect x="60" y="339" width="800" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="60" y="233" width="800" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="60" y="126" width="800" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="60" y="20" width="800" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect></g><g><rect x="64" y="204" width="13" height="401" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="85" y="178" width="13" height="427" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="105" y="196" width="13" height="409" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="126" y="181" width="13" height="424" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="146" y="212" width="13" height="393" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="167" y="170" width="13" height="435" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="187" y="199" width="13" height="406" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="208" y="210" width="12" height="395" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="228" y="228" width="13" height="377" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="249" y="181" width="12" height="424" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="269" y="255" width="13" height="350" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="290" y="236" width="12" height="369" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="310" y="188" width="13" height="417" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="331" y="260" width="12" height="345" stroke="#6c0039" stroke-width="1" fill="#6c0039"></rect><rect x="351" y="188" width="13" height="417" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="372" y="183" width="12" height="422" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="392" y="183" width="13" height="422" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="413" y="173" width="12" height="432" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="433" y="170" width="13" height="435" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="454" y="173" width="12" height="432" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="474" y="173" width="13" height="432" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="495" y="165" width="12" height="440" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="515" y="178" width="13" height="427" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="536" y="204" width="12" height="401" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="556" y="202" width="13" height="403" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="577" y="188" width="12" height="417" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="597" y="196" width="13" height="409" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="618" y="186" width="12" height="419" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="638" y="183" width="13" height="422" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="659" y="130" width="12" height="475" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="679" y="133" width="13" height="472" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="700" y="125" width="12" height="480" stroke="#df007b" stroke-width="1" fill="#df007b"></rect><rect x="720" y="228" width="13" height="377" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="740" y="220" width="13" height="385" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="761" y="247" width="13" height="358" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="781" y="231" width="13" height="374" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="802" y="247" width="13" height="358" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="822" y="218" width="13" height="387" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="843" y="215" width="13" height="390" stroke="#a40059" stroke-width="1" fill="#a40059"></rect></g></g>
                                                            <g>
                                                            </g>
                                                            <g>
                                                                <g><text text-anchor="middle" x="70.74358974358974" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">1</text></g>
                                                                <g><text text-anchor="middle" x="91.23076923076923" y="367.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">2</text></g>
                                                                <g><text text-anchor="middle" x="111.71794871794872" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">3</text></g>
                                                                <g><text text-anchor="middle" x="132.2051282051282" y="367.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">4</text></g>
                                                                <g><text text-anchor="middle" x="152.69230769230768" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">5</text></g>
                                                                <g><text text-anchor="middle" x="173.17948717948718" y="367.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">6</text></g>
                                                                <g><text text-anchor="middle" x="193.66666666666666" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">7</text></g>
                                                                <g><text text-anchor="middle" x="214.15384615384613" y="367.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">8</text></g>
                                                                <g><text text-anchor="middle" x="234.64102564102564" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">9</text></g>
                                                                <g><text text-anchor="middle" x="255.1282051282051" y="367.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">10</text></g>
                                                                <g><text text-anchor="middle" x="275.6153846153846" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">11</text></g>
                                                                <g><text text-anchor="middle" x="296.1025641025641" y="367.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">12</text></g>
                                                                <g><text text-anchor="middle" x="316.5897435897436" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">13</text></g>
                                                                <g><text text-anchor="middle" x="337.07692307692304" y="367.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">14</text></g>
                                                                <g><text text-anchor="middle" x="357.56410256410254" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">15</text></g>
                                                                <g><text text-anchor="middle" x="378.05128205128204" y="367.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">16</text></g>
                                                                <g><text text-anchor="middle" x="398.5384615384615" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">17</text></g>
                                                                <g><text text-anchor="middle" x="419.025641025641" y="367.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">18</text></g>
                                                                <g><text text-anchor="middle" x="439.5128205128205" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">19</text></g>
                                                                <g><text text-anchor="middle" x="459.99999999999994" y="367.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">20</text></g>
                                                                <g><text text-anchor="middle" x="480.48717948717945" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">21</text></g>
                                                                <g><text text-anchor="middle" x="500.97435897435895" y="367.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">22</text></g>
                                                                <g><text text-anchor="middle" x="521.4615384615383" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">23</text></g>
                                                                <g><text text-anchor="middle" x="541.9487179487179" y="367.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">24</text></g>
                                                                <g><text text-anchor="middle" x="562.4358974358975" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">25</text></g>
                                                                <g><text text-anchor="middle" x="582.9230769230769" y="367.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">26</text></g>
                                                                <g><text text-anchor="middle" x="603.4102564102564" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">27</text></g>
                                                                <g><text text-anchor="middle" x="623.8974358974358" y="367.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">28</text></g>
                                                                <g><text text-anchor="middle" x="644.3846153846154" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">29</text></g>
                                                                <g><text text-anchor="middle" x="664.8717948717948" y="367.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">30</text></g>
                                                                <g><text text-anchor="middle" x="685.3589743589743" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">31</text></g>
                                                                <g><text text-anchor="middle" x="705.8461538461538" y="367.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">32</text></g>
                                                                <g><text text-anchor="middle" x="726.3333333333333" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">33</text></g>
                                                                <g><text text-anchor="middle" x="746.8205128205128" y="367.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">34</text></g>
                                                                <g><text text-anchor="middle" x="767.3076923076923" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">35</text></g>
                                                                <g><text text-anchor="middle" x="787.7948717948717" y="367.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">36</text></g>
                                                                <g><text text-anchor="middle" x="808.2820512820513" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">37</text></g>
                                                                <g><text text-anchor="middle" x="828.7692307692307" y="367.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">38</text></g>
                                                                <g><text text-anchor="middle" x="849.2564102564102" y="354.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">39</text></g>
                                                                <g><text text-anchor="end" x="50.333333333333336" y="343.7" font-family="Arial" font-size="12" stroke="none" stroke-width="0" fill="#444444">100</text></g>
                                                                <g><text text-anchor="end" x="50.333333333333336" y="237.36666666666667" font-family="Arial" font-size="12" stroke="none" stroke-width="0" fill="#444444">140</text></g>
                                                                <g><text text-anchor="end" x="50.333333333333336" y="131.03333333333333" font-family="Arial" font-size="12" stroke="none" stroke-width="0" fill="#444444">180</text></g>
                                                                <g><text text-anchor="end" x="50.333333333333336" y="24.7" font-family="Arial" font-size="12" stroke="none" stroke-width="0" fill="#444444">220</text></g>
                                                            </g>
                                                        </g>
                                                        <g>
                                                            <g><text text-anchor="middle" x="460" y="388.35" font-family="Arial" font-size="11" stroke="none" stroke-width="0" fill="#171717">Ball Number</text><rect x="60" y="379" width="800" height="11" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect></g>
                                                            <g><text text-anchor="middle" x="19.01666666666667" y="180" font-family="Arial" font-size="11" transform="rotate(-90 19.01666666666667 180)" stroke="none" stroke-width="0" fill="#171717">Frequency</text><path d="M9.666666666666657,340L9.666666666666677,20L20.66666666666668,20L20.666666666666657,340Z" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></path></g>
                                                        </g>
                                                        <g></g>
                                                    </svg><div aria-label="A tabular representation of the data in the chart." style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;"><table><thead><tr><th>Ball</th><th>Frequency</th></tr></thead><tbody><tr><td>1</td><td>151</td></tr><tr><td>2</td><td>161</td></tr><tr><td>3</td><td>154</td></tr><tr><td>4</td><td>160</td></tr><tr><td>5</td><td>148</td></tr><tr><td>6</td><td>164</td></tr><tr><td>7</td><td>153</td></tr><tr><td>8</td><td>149</td></tr><tr><td>9</td><td>142</td></tr><tr><td>10</td><td>160</td></tr><tr><td>11</td><td>132</td></tr><tr><td>12</td><td>139</td></tr><tr><td>13</td><td>157</td></tr><tr><td>14</td><td>130</td></tr><tr><td>15</td><td>157</td></tr><tr><td>16</td><td>159</td></tr><tr><td>17</td><td>159</td></tr><tr><td>18</td><td>163</td></tr><tr><td>19</td><td>164</td></tr><tr><td>20</td><td>163</td></tr><tr><td>21</td><td>163</td></tr><tr><td>22</td><td>166</td></tr><tr><td>23</td><td>161</td></tr><tr><td>24</td><td>151</td></tr><tr><td>25</td><td>152</td></tr><tr><td>26</td><td>157</td></tr><tr><td>27</td><td>154</td></tr><tr><td>28</td><td>158</td></tr><tr><td>29</td><td>159</td></tr><tr><td>30</td><td>179</td></tr><tr><td>31</td><td>178</td></tr><tr><td>32</td><td>181</td></tr><tr><td>33</td><td>142</td></tr><tr><td>34</td><td>145</td></tr><tr><td>35</td><td>135</td></tr><tr><td>36</td><td>141</td></tr><tr><td>37</td><td>135</td></tr><tr><td>38</td><td>146</td></tr><tr><td>39</td><td>147</td></tr></tbody></table></div>
                                                </div>
                                            </div>
                                            <div aria-hidden="true" style="display: none; position: absolute; top: 410px; left: 870px; white-space: nowrap; font-family: Arial; font-size: 12px;">...</div><div></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="twoCol floatLeft">
                        <h2>Thunderball Numbers Frequency Graph</h2>
                        <table class="table"><tbody><tr><td><div id="frequencyGraph2"><div style="position: relative;"><div dir="ltr" style="position: relative; width: 400px; height: 390px;"><div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;" aria-label="A chart."><svg width="400" height="390" aria-label="A chart." style="overflow: hidden;"><defs id="defs"><clipPath id="_ABSTRACT_RENDERER_ID_1"><rect x="60" y="20" width="340" height="312"></rect></clipPath></defs><rect x="0" y="0" width="400" height="390" stroke="none" stroke-width="0" fill="#eeeeee"></rect><g><rect x="60" y="20" width="340" height="312" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect><g clip-path="url(https://www.lottery.co.uk/thunderball/statistics#_ABSTRACT_RENDERER_ID_1)"><g><rect x="60" y="331" width="340" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="60" y="253" width="340" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="60" y="176" width="340" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="60" y="98" width="340" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect><rect x="60" y="20" width="340" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect></g><g><rect x="65" y="102" width="15" height="540" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="89" y="170" width="15" height="472" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="114" y="40" width="15" height="602" stroke="#df007b" stroke-width="1" fill="#df007b"></rect><rect x="138" y="46" width="15" height="596" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="162" y="83" width="15" height="559" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="186" y="127" width="15" height="515" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="210" y="189" width="15" height="453" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="235" y="65" width="15" height="577" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="259" y="276" width="15" height="366" stroke="#6c0039" stroke-width="1" fill="#6c0039"></rect><rect x="283" y="96" width="15" height="546" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="307" y="40" width="15" height="602" stroke="#df007b" stroke-width="1" fill="#df007b"></rect><rect x="331" y="96" width="15" height="546" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="356" y="133" width="15" height="509" stroke="#a40059" stroke-width="1" fill="#a40059"></rect><rect x="380" y="58" width="15" height="584" stroke="#a40059" stroke-width="1" fill="#a40059"></rect></g></g><g></g><g><g><text text-anchor="middle" x="72.60714285714286" y="346.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">1</text></g><g><text text-anchor="middle" x="96.82142857142857" y="346.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">2</text></g><g><text text-anchor="middle" x="121.03571428571429" y="346.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">3</text></g><g><text text-anchor="middle" x="145.25" y="346.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">4</text></g><g><text text-anchor="middle" x="169.46428571428572" y="346.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">5</text></g><g><text text-anchor="middle" x="193.67857142857144" y="346.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">6</text></g><g><text text-anchor="middle" x="217.89285714285714" y="346.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">7</text></g><g><text text-anchor="middle" x="242.10714285714286" y="346.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">8</text></g><g><text text-anchor="middle" x="266.32142857142856" y="346.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">9</text></g><g><text text-anchor="middle" x="290.53571428571433" y="346.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">10</text></g><g><text text-anchor="middle" x="314.75" y="346.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">11</text></g><g><text text-anchor="middle" x="338.9642857142857" y="346.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">12</text></g><g><text text-anchor="middle" x="363.17857142857144" y="346.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">13</text></g><g><text text-anchor="middle" x="387.39285714285717" y="346.5" font-family="Arial" font-size="10" stroke="none" stroke-width="0" fill="#222222">14</text></g><g><text text-anchor="end" x="53.66666666666667" y="335.7" font-family="Arial" font-size="12" stroke="none" stroke-width="0" fill="#444444">50.0</text></g><g><text text-anchor="end" x="53.66666666666667" y="257.95" font-family="Arial" font-size="12" stroke="none" stroke-width="0" fill="#444444">62.5</text></g><g><text text-anchor="end" x="53.66666666666667" y="180.2" font-family="Arial" font-size="12" stroke="none" stroke-width="0" fill="#444444">75.0</text></g><g><text text-anchor="end" x="53.66666666666667" y="102.45" font-family="Arial" font-size="12" stroke="none" stroke-width="0" fill="#444444">87.5</text></g><g><text text-anchor="end" x="53.66666666666667" y="24.7" font-family="Arial" font-size="12" stroke="none" stroke-width="0" fill="#444444">100.0</text></g></g></g><g><g><text text-anchor="middle" x="230" y="372.85" font-family="Arial" font-size="11" stroke="none" stroke-width="0" fill="#171717">Thunderball</text><rect x="60" y="363.5" width="340" height="11" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect></g><g><text text-anchor="middle" x="15.683333333333332" y="176" font-family="Arial" font-size="11" transform="rotate(-90 15.683333333333332 176)" stroke="none" stroke-width="0" fill="#171717">Frequency</text><path d="M6.333333333333322,332L6.333333333333342,20L17.333333333333343,20L17.33333333333332,332Z" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></path></g></g><g></g></svg><div aria-label="A tabular representation of the data in the chart." style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;"><table><thead><tr><th>Thunderball</th><th>Frequency</th></tr></thead><tbody><tr><td>1</td><td>87</td></tr><tr><td>2</td><td>76</td></tr><tr><td>3</td><td>97</td></tr><tr><td>4</td><td>96</td></tr><tr><td>5</td><td>90</td></tr><tr><td>6</td><td>83</td></tr><tr><td>7</td><td>73</td></tr><tr><td>8</td><td>93</td></tr><tr><td>9</td><td>59</td></tr><tr><td>10</td><td>88</td></tr><tr><td>11</td><td>97</td></tr><tr><td>12</td><td>88</td></tr><tr><td>13</td><td>82</td></tr><tr><td>14</td><td>94</td></tr></tbody></table></div></div></div><div aria-hidden="true" style="display: none; position: absolute; top: 400px; left: 410px; white-space: nowrap; font-family: Arial; font-size: 12px;">...</div><div></div></div></div></td></tr></tbody></table>
                    </div>
                    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                    <script type="text/javascript">
                        google.load('visualization', '1', { packages: ['corechart'] });
                        google.setOnLoadCallback(displayGraphs);

                        function displayGraphs() {
                            frequencyGraph1();
                            frequencyGraph2();
                        };
                        function frequencyGraph1() {
                            var data = google.visualization.arrayToDataTable([
                                ['Ball', 'Frequency', { role: 'style' }, { role: 'tooltip', 'p': { 'html': true } }],
                                ['1', 151, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">1</div><br>Drawn:<br><strong><span style="color: #F00;">151</span> times</strong></div>'],
                                ['2', 161, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">2</div><br>Drawn:<br><strong><span style="color: #F00;">161</span> times</strong></div>'],
                                ['3', 154, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">3</div><br>Drawn:<br><strong><span style="color: #F00;">154</span> times</strong></div>'],
                                ['4', 160, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">4</div><br>Drawn:<br><strong><span style="color: #F00;">160</span> times</strong></div>'],
                                ['5', 148, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">5</div><br>Drawn:<br><strong><span style="color: #F00;">148</span> times</strong></div>'],
                                ['6', 164, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">6</div><br>Drawn:<br><strong><span style="color: #F00;">164</span> times</strong></div>'],
                                ['7', 153, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">7</div><br>Drawn:<br><strong><span style="color: #F00;">153</span> times</strong></div>'],
                                ['8', 149, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">8</div><br>Drawn:<br><strong><span style="color: #F00;">149</span> times</strong></div>'],
                                ['9', 142, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">9</div><br>Drawn:<br><strong><span style="color: #F00;">142</span> times</strong></div>'],
                                ['10', 160, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">10</div><br>Drawn:<br><strong><span style="color: #F00;">160</span> times</strong></div>'],
                                ['11', 132, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">11</div><br>Drawn:<br><strong><span style="color: #F00;">132</span> times</strong></div>'],
                                ['12', 139, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">12</div><br>Drawn:<br><strong><span style="color: #F00;">139</span> times</strong></div>'],
                                ['13', 157, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">13</div><br>Drawn:<br><strong><span style="color: #F00;">157</span> times</strong></div>'],
                                ['14', 130, "#6c0039", '<div class="centred paddedLight"><div class="result thunderball-ball small">14</div><br>Drawn:<br><strong><span style="color: #F00;">130</span> times</strong></div>'],
                                ['15', 157, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">15</div><br>Drawn:<br><strong><span style="color: #F00;">157</span> times</strong></div>'],
                                ['16', 159, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">16</div><br>Drawn:<br><strong><span style="color: #F00;">159</span> times</strong></div>'],
                                ['17', 159, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">17</div><br>Drawn:<br><strong><span style="color: #F00;">159</span> times</strong></div>'],
                                ['18', 163, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">18</div><br>Drawn:<br><strong><span style="color: #F00;">163</span> times</strong></div>'],
                                ['19', 164, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">19</div><br>Drawn:<br><strong><span style="color: #F00;">164</span> times</strong></div>'],
                                ['20', 163, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">20</div><br>Drawn:<br><strong><span style="color: #F00;">163</span> times</strong></div>'],
                                ['21', 163, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">21</div><br>Drawn:<br><strong><span style="color: #F00;">163</span> times</strong></div>'],
                                ['22', 166, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">22</div><br>Drawn:<br><strong><span style="color: #F00;">166</span> times</strong></div>'],
                                ['23', 161, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">23</div><br>Drawn:<br><strong><span style="color: #F00;">161</span> times</strong></div>'],
                                ['24', 151, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">24</div><br>Drawn:<br><strong><span style="color: #F00;">151</span> times</strong></div>'],
                                ['25', 152, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">25</div><br>Drawn:<br><strong><span style="color: #F00;">152</span> times</strong></div>'],
                                ['26', 157, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">26</div><br>Drawn:<br><strong><span style="color: #F00;">157</span> times</strong></div>'],
                                ['27', 154, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">27</div><br>Drawn:<br><strong><span style="color: #F00;">154</span> times</strong></div>'],
                                ['28', 158, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">28</div><br>Drawn:<br><strong><span style="color: #F00;">158</span> times</strong></div>'],
                                ['29', 159, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">29</div><br>Drawn:<br><strong><span style="color: #F00;">159</span> times</strong></div>'],
                                ['30', 179, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">30</div><br>Drawn:<br><strong><span style="color: #F00;">179</span> times</strong></div>'],
                                ['31', 178, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">31</div><br>Drawn:<br><strong><span style="color: #F00;">178</span> times</strong></div>'],
                                ['32', 181, "#df007b", '<div class="centred paddedLight"><div class="result thunderball-ball small">32</div><br>Drawn:<br><strong><span style="color: #F00;">181</span> times</strong></div>'],
                                ['33', 142, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">33</div><br>Drawn:<br><strong><span style="color: #F00;">142</span> times</strong></div>'],
                                ['34', 145, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">34</div><br>Drawn:<br><strong><span style="color: #F00;">145</span> times</strong></div>'],
                                ['35', 135, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">35</div><br>Drawn:<br><strong><span style="color: #F00;">135</span> times</strong></div>'],
                                ['36', 141, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">36</div><br>Drawn:<br><strong><span style="color: #F00;">141</span> times</strong></div>'],
                                ['37', 135, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">37</div><br>Drawn:<br><strong><span style="color: #F00;">135</span> times</strong></div>'],
                                ['38', 146, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">38</div><br>Drawn:<br><strong><span style="color: #F00;">146</span> times</strong></div>'],
                                ['39', 147, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-ball small">39</div><br>Drawn:<br><strong><span style="color: #F00;">147</span> times</strong></div>']
                            ]);
                            var options = {
                                width: 860, height: 400, backgroundColor: '#EEE',
                                chartArea: { left: 60, top: 20, width: '96%', height: '80%' },
                                tooltip: { textStyle: { fontSize: 11 }, isHtml: true },
                                legend: 'none',
                                vAxis: {
                                    title: 'Frequency',
                                    titleTextStyle: { color: '#171717', fontSize: 11, italic: false },
                                    textStyle: { fontSize: 12 },
                                    gridlines: { color: '#CCC', count: 4 }
                                },
                                hAxis: {
                                    title: 'Ball Number',
                                    titleTextStyle: { color: '#171717', fontSize: 11, italic: false },
                                    slantedTextAngle: '90',
                                    textStyle: { fontSize: 10 },
                                    gridlines: { color: '#CCC' }
                                }
                            }
                            var graph = new google.visualization.ColumnChart(document.getElementById('frequencyGraph1'))
                            graph.draw(data, options);
                        };
                        function frequencyGraph2() {
                            var data = google.visualization.arrayToDataTable([
                                ['Thunderball', 'Frequency', { role: 'style' }, { role: 'tooltip', 'p': { 'html': true } }],
                                ['1', 87, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-thunderball small">1</div><br>Drawn:<br><strong><span style="color: #F00;">87</span> times</strong></div>'],
                                ['2', 76, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-thunderball small">2</div><br>Drawn:<br><strong><span style="color: #F00;">76</span> times</strong></div>'],
                                ['3', 97, "#df007b", '<div class="centred paddedLight"><div class="result thunderball-thunderball small">3</div><br>Drawn:<br><strong><span style="color: #F00;">97</span> times</strong></div>'],
                                ['4', 96, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-thunderball small">4</div><br>Drawn:<br><strong><span style="color: #F00;">96</span> times</strong></div>'],
                                ['5', 90, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-thunderball small">5</div><br>Drawn:<br><strong><span style="color: #F00;">90</span> times</strong></div>'],
                                ['6', 83, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-thunderball small">6</div><br>Drawn:<br><strong><span style="color: #F00;">83</span> times</strong></div>'],
                                ['7', 73, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-thunderball small">7</div><br>Drawn:<br><strong><span style="color: #F00;">73</span> times</strong></div>'],
                                ['8', 93, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-thunderball small">8</div><br>Drawn:<br><strong><span style="color: #F00;">93</span> times</strong></div>'],
                                ['9', 59, "#6c0039", '<div class="centred paddedLight"><div class="result thunderball-thunderball small">9</div><br>Drawn:<br><strong><span style="color: #F00;">59</span> times</strong></div>'],
                                ['10', 88, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-thunderball small">10</div><br>Drawn:<br><strong><span style="color: #F00;">88</span> times</strong></div>'],
                                ['11', 97, "#df007b", '<div class="centred paddedLight"><div class="result thunderball-thunderball small">11</div><br>Drawn:<br><strong><span style="color: #F00;">97</span> times</strong></div>'],
                                ['12', 88, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-thunderball small">12</div><br>Drawn:<br><strong><span style="color: #F00;">88</span> times</strong></div>'],
                                ['13', 82, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-thunderball small">13</div><br>Drawn:<br><strong><span style="color: #F00;">82</span> times</strong></div>'],
                                ['14', 94, "#a40059", '<div class="centred paddedLight"><div class="result thunderball-thunderball small">14</div><br>Drawn:<br><strong><span style="color: #F00;">94</span> times</strong></div>']
                            ]);
                            var options = {
                                width: 400, height: 390, backgroundColor: '#EEE',
                                chartArea: { left: 60, top: 20, width: '96%', height: '80%' },
                                tooltip: { textStyle: { fontSize: 11 }, isHtml: true },
                                legend: 'none',
                                vAxis: {
                                    title: 'Frequency',
                                    titleTextStyle: { color: '#171717', fontSize: 11, italic: false },
                                    textStyle: { fontSize: 12 },
                                    gridlines: { color: '#CCC', count: 5 }
                                },
                                hAxis: {
                                    title: 'Thunderball',
                                    titleTextStyle: { color: '#171717', fontSize: 11, italic: false },
                                    slantedTextAngle: '90',
                                    textStyle: { fontSize: 10 },
                                    gridlines: { color: '#CCC' }
                                }
                            }
                            var graph = new google.visualization.ColumnChart(document.getElementById('frequencyGraph2'))
                            graph.draw(data, options);
                        };
                    </script>
                    <script src="https://www.google.com/uds/?file=visualization&amp;v=1&amp;packages=corechart" type="text/javascript"></script><link href="https://www.google.com/uds/api/visualization/1.0/40ff64b1d9d6b3213524485974f36cc0/ui+en.css" type="text/css" rel="stylesheet">
                    <script src="https://www.google.com/uds/api/visualization/1.0/40ff64b1d9d6b3213524485974f36cc0/format+en,default+en,ui+en,corechart+en.I.js" type="text/javascript"></script>
                    <div class="twoCol floatRight">
                        <h2>Most Common Thunderball Numbers</h2>
                        <table class="table thunderball" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <th>Ball Number</th>
                                    <th>Frequency</th>
                                    <th>Last Drawn</th>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result small thunderball-ball">32</span></td>
                                    <td style="text-align: center;">181</td>
                                    <td style="text-align: center;">21 days ago <span style="font-size: 11px;">(Wed 27th Dec 2017)</span></td>
                                </tr>
                                <tr class="alt">
                                    <td style="text-align: center;"><span class="result small thunderball-ball">30</span></td>
                                    <td style="text-align: center;">179</td>
                                    <td style="text-align: center;">40 days ago <span style="font-size: 11px;">(Fri 8th Dec 2017)</span></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result small thunderball-ball">31</span></td>
                                    <td style="text-align: center;">178</td>
                                    <td style="text-align: center;">46 days ago <span style="font-size: 11px;">(Sat 2nd Dec 2017)</span></td>
                                </tr>
                                <tr class="alt">
                                    <td style="text-align: center;"><span class="result small thunderball-ball">22</span></td>
                                    <td style="text-align: center;">166</td>
                                    <td style="text-align: center;">12 days ago <span style="font-size: 11px;">(Fri 5th Jan 2018)</span></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result small thunderball-ball">19</span></td>
                                    <td style="text-align: center;">164</td>
                                    <td style="text-align: center;">4 days ago <span style="font-size: 11px;">(Sat 13th Jan 2018)</span></td>
                                </tr>
                                <tr class="alt">
                                    <td style="text-align: center;"><span class="result small thunderball-thunderball">3</span></td>
                                    <td style="text-align: center;">97</td>
                                    <td style="text-align: center;">21 days ago <span style="font-size: 11px;">(Wed 27th Dec 2017)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br class="clear">
                    <div class="twoCol floatLeft">
                        <h2>Most Overdue Numbers</h2>
                        <table class="table thunderball" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <th>Ball Number</th>
                                    <th>Last Drawn</th>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result small thunderball-ball">5</span></td>
                                    <td style="text-align: center;">68 days ago <span style="font-size: 11px;">(Fri 10th Nov 2017)</span></td>
                                </tr>
                                <tr class="alt">
                                    <td style="text-align: center;"><span class="result small thunderball-ball">36</span></td>
                                    <td style="text-align: center;">56 days ago <span style="font-size: 11px;">(Wed 22nd Nov 2017)</span></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result small thunderball-ball">31</span></td>
                                    <td style="text-align: center;">46 days ago <span style="font-size: 11px;">(Sat 2nd Dec 2017)</span></td>
                                </tr>
                                <tr class="alt">
                                    <td style="text-align: center;"><span class="result small thunderball-ball">10</span></td>
                                    <td style="text-align: center;">42 days ago <span style="font-size: 11px;">(Wed 6th Dec 2017)</span></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result small thunderball-ball">30</span></td>
                                    <td style="text-align: center;">40 days ago <span style="font-size: 11px;">(Fri 8th Dec 2017)</span></td>
                                </tr>
                                <tr class="alt">
                                    <td style="text-align: center;"><span class="result small thunderball-thunderball">11</span></td>
                                    <td style="text-align: center;">91 days ago <span style="font-size: 11px;">(Wed 18th Oct 2017)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="twoCol floatRight">
                        <h2>Least Often Picked Numbers</h2>
                        <table class="table thunderball" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <th>Ball Number</th>
                                    <th>Frequency</th>
                                    <th>Last Drawn</th>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result small thunderball-ball">14</span></td>
                                    <td style="text-align: center;">130</td>
                                    <td style="text-align: center;">5 days ago <span style="font-size: 11px;">(Fri 12th Jan 2018)</span></td>
                                </tr>
                                <tr class="alt">
                                    <td style="text-align: center;"><span class="result small thunderball-ball">11</span></td>
                                    <td style="text-align: center;">132</td>
                                    <td style="text-align: center;">32 days ago <span style="font-size: 11px;">(Sat 16th Dec 2017)</span></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result small thunderball-ball">37</span></td>
                                    <td style="text-align: center;">135</td>
                                    <td style="text-align: center;">14 days ago <span style="font-size: 11px;">(Wed 3rd Jan 2018)</span></td>
                                </tr>
                                <tr class="alt">
                                    <td style="text-align: center;"><span class="result small thunderball-ball">35</span></td>
                                    <td style="text-align: center;">135</td>
                                    <td style="text-align: center;">4 days ago <span style="font-size: 11px;">(Sat 13th Jan 2018)</span></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result small thunderball-ball">12</span></td>
                                    <td style="text-align: center;">139</td>
                                    <td style="text-align: center;">18 days ago <span style="font-size: 11px;">(Sat 30th Dec 2017)</span></td>
                                </tr>
                                <tr class="alt">
                                    <td style="text-align: center;"><span class="result small thunderball-thunderball">9</span></td>
                                    <td style="text-align: center;">59</td>
                                    <td style="text-align: center;">70 days ago <span style="font-size: 11px;">(Wed 8th Nov 2017)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br class="clear">
                    <h2>Most Common Pairs and Common Consecutive Pairs</h2>
                    <div class="twoCol floatLeft">
                        <p><strong>Common Pairs</strong></p>
                        <table class="table thunderball" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <th colspan="2">Numbers</th>
                                    <th>Frequency</th>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">3</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">15</span></td>
                                    <td style="text-align: center;">31</td>
                                </tr>
                                <tr class="alt">
                                    <td style="text-align: center;"><span class="result thunderball-ball small">20</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">32</span></td>
                                    <td style="text-align: center;">29</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">22</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">31</span></td>
                                    <td style="text-align: center;">28</td>
                                </tr>
                                <tr class="alt">
                                    <td style="text-align: center;"><span class="result thunderball-ball small">2</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">29</span></td>
                                    <td style="text-align: center;">27</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">5</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">32</span></td>
                                    <td style="text-align: center;">27</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="twoCol floatRight">
                        <p><strong>Consecutive Pairs</strong></p>
                        <table class="table thunderball" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <th colspan="2">Numbers</th>
                                    <th>Frequency</th>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">31</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">32</span></td>
                                    <td style="text-align: center;">27</td>
                                </tr>
                                <tr class="alt">
                                    <td style="text-align: center;"><span class="result thunderball-ball small">21</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">22</span></td>
                                    <td style="text-align: center;">24</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">30</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">31</span></td>
                                    <td style="text-align: center;">24</td>
                                </tr>
                                <tr class="alt">
                                    <td style="text-align: center;"><span class="result thunderball-ball small">6</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">7</span></td>
                                    <td style="text-align: center;">23</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">4</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">5</span></td>
                                    <td style="text-align: center;">22</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br class="clear">
                    <h2>Most Common Triplets and Consecutive Common Triplets</h2>
                    <div class="twoCol floatLeft">
                        <p><strong>Common Triplets</strong></p>
                        <table class="table thunderball" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <th colspan="3">Numbers</th>
                                    <th>Frequency</th>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">1</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">19</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">29</span></td>
                                    <td style="text-align: center;">6</td>
                                </tr>
                                <tr class="alt">
                                    <td style="text-align: center;"><span class="result thunderball-ball small">3</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">24</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">30</span></td>
                                    <td style="text-align: center;">6</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">3</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">28</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">32</span></td>
                                    <td style="text-align: center;">6</td>
                                </tr>
                                <tr class="alt">
                                    <td style="text-align: center;"><span class="result thunderball-ball small">4</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">5</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">32</span></td>
                                    <td style="text-align: center;">6</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">4</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">16</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">32</span></td>
                                    <td style="text-align: center;">6</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="twoCol floatRight">
                        <p><strong>Common Consecutive Triplets</strong></p>
                        <table class="table thunderball" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <th colspan="3">Numbers</th>
                                    <th>Frequency</th>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">4</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">5</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">6</span></td>
                                    <td style="text-align: center;">4</td>
                                </tr>
                                <tr class="alt">
                                    <td style="text-align: center;"><span class="result thunderball-ball small">12</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">13</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">14</span></td>
                                    <td style="text-align: center;">4</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">15</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">16</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">17</span></td>
                                    <td style="text-align: center;">4</td>
                                </tr>
                                <tr class="alt">
                                    <td style="text-align: center;"><span class="result thunderball-ball small">5</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">6</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">7</span></td>
                                    <td style="text-align: center;">3</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">11</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">12</span></td>
                                    <td style="text-align: center;"><span class="result thunderball-ball small">13</span></td>
                                    <td style="text-align: center;">3</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br class="clear">
                </div>
            </div>
        </div>
    </div>
</main>