﻿
@{
    ViewBag.Title = "TransactionWallet";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@*<main class="content js-content" style="min-height: 169px;padding-top: 50px;padding-bottom: 87px;">
        <!--MENU-->
        <div class="box-wrap">
            <div class="js-wrapper-fix">
                <div class="box-profile-cont" style="padding-top:10px">
                    <div class="admin-panel indigo-admin-panel">
                        <form class="form-inline" role="form">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <input type="text" id="txtFromDate" name="txtFromDate" class="form-control inputLine inputDateTime" placeholder="From Date">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" id="txtToDate" name="txtToDate" class="form-control inputLine inputDateTime" placeholder="To Date">
                                    </div>
                                    <div class="col-sm-1">
                                        <a id="2lvlModal" class="btn btn-danger btnSearch" onclick="SearchPointCoin()">
                                            <i class="fa fa-search"></i>&nbsp;&nbsp;Search
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <section class="section divListHistoryTicket">
                        <!--Main row-->
                            <div class="col-md-12 divTable">
                                <!--Card-->
                                <div class="card card-cascade narrower">
                                    <!--Admin panel-->
                                    <div class="admin-panel purple-admin-panel">
                                        <div class="col-lg-12 text-center">
                                            <!--First column-->
                                            <div class="admin-panel info-admin-panel">
                                                <div class="view primary-color" style="background-color:brown;bottom:23px">
                                                    <h5>LIST TRANSACTION WALLET</h5>
                                                </div>


                                            </div>
                                            <!--/Second column-->
                                        </div>
                                        <!--/Third row-->
                                        <!--Third row-->
                                        <div class="row mb-0">
                                            <!--First column-->
                                            <div class="col-md-12">
                                                <!--Panel content-->
                                                <div class="card-block pt-0">
                                                    <!--Table-->
                                                    <div class="table-responsive">
                                                        <table class="table table-hover" id="tblListWallet">
                                                            <!--Table head-->
                                                            <thead>
                                                                <tr style="background-color:black">
                                                                    <th class="textAlignCenter">#</th>
                                                                    <th class="textAlignCenter">Points</th>
                                                                    <th class="textAlignCenter">Buy Date</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody id="tbodyListPoint">
                                                                @if (Model.Count == 2 && Model[0] != "")
                                                                {
                                                                    @Html.Raw(Model[0])
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                                @if (Model.Count == 2 && Model[1] != "")
                                                {
                                                    @Html.Raw(Model[1])
                                                }
                                            </div>
                                            <!--/First column-->
                                        </div>
                                        <!--/Third row-->
                                    </div>
                                    <!--/Admin panel-->
                                </div>
                                <!--/.Card-->
                            </div>
                        <!--/Main row-->
                    </section>

                </div>
            </div>

            }
        </div>
    </main>*@
<div class="main-content">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="btc">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="card-content">
                        <div class="row search-date">
                            <div class="col-md-3 col-sm-4">
                                <div class="form-group">
                                    <label class="label-control">From Date</label>
                                    <input type="text" class="form-control datepicker" value="10/05/2018" />
                                    <!-- <input type="text" id="txtFromDate" name="txtFromDate" class="form-control inputLine inputDateTime" placeholder="From Date"> -->
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="form-group">
                                    <label class="label-control">To Date</label>
                                    <input type="text" class="form-control datepicker" value="10/05/2018" />
                                    <!-- <input type="text" id="txtToDate" name="txtToDate" class="form-control inputLine inputDateTime" placeholder="To Date"> -->
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <button id="2lvlModal" type="submit" class="btn btn-warning btn-round btn-just-icon" onclick="SearchBooking()">
                                    <i class="material-icons">search</i>
                                </button>
                                <!-- <a id="2lvlModal" class="btn btn-danger btnSearch" onclick="SearchBooking()">Search</a> -->
                            </div>
                        </div>
                        <table class="table-hover table-responsive table-checkresult" id="tblListWallet">
                            <thead>
                                <tr>
                                    <th class="">Create Date</th>
                                    <th class="">TransactionID</th>
                                    <th class="">Bitcoin Value</th>
                                    <th class="">Transaction blockchain</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyListCoin">
                                @*<tr class="info pointer" data-toggle="modal" data-target="#myModal">
                                        <td>
                                            1
                                        </td>
                                        <td class="text-center">
                                            1.00000
                                        </td>
                                        <td class="text-center">01/31/2018 19:00:00</td>

                                    </tr>*@
                                @if (Model.Count == 2 && Model[0] != "")
                                {
                                    @Html.Raw(Model[0])
                                }
                            </tbody>
                        </table>
                    </div>
                    @if (Model.Count == 2 && Model[1] != "")
                    {
                        @Html.Raw(Model[1])
                    }
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="car">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="card-content">
                        <div class="row search-date">
                            <div class="col-md-3 col-sm-4">
                                <div class="form-group">
                                    <label class="label-control">From Date</label>
                                    <input type="text" class="form-control datepicker" value="10/05/2018" />
                                    <!-- <input type="text" id="txtFromDate" name="txtFromDate" class="form-control inputLine inputDateTime" placeholder="From Date"> -->
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="form-group">
                                    <label class="label-control">To Date</label>
                                    <input type="text" class="form-control datepicker" value="10/05/2018" />
                                    <!-- <input type="text" id="txtToDate" name="txtToDate" class="form-control inputLine inputDateTime" placeholder="To Date"> -->
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <button id="2lvlModal" type="submit" class="btn btn-warning btn-round btn-just-icon" onclick="SearchBooking()">
                                    <i class="material-icons">search</i>
                                </button>
                                <!-- <a id="2lvlModal" class="btn btn-danger btnSearch" onclick="SearchBooking()">Search</a> -->
                            </div>
                        </div>
                        <table class="table-hover table-responsive table-checkresult">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Points</th>
                                    <th>Buy Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="info pointer" data-toggle="modal" data-target="#myModal">
                                    <td>
                                        1
                                    </td>
                                    <td class="text-center">
                                        1.00000
                                    </td>
                                    <td class="text-center">01/31/2018 19:00:00</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-ext show" id="myModalDetailWallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="padding: 0px; width:auto;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseModalTransactionWallet()"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title w-100" id="myModalLabel">Detail Information</h4>
            </div>
            <div class="modal-body" style="padding: 30px 0px 0px;padding-top: 0px;">
                <div class="panel panel-login">
                    <div class="panel-body">
                        <div class="col-lg-12" style="margin:0 auto">
                            <div class="card card-cascade mb-r" style="display: block;">
                                <div class="admin-panel info-admin-panel">
                                    <div class="card-block">
                                        <form>
                                            <div class="row" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">

                                                <div class="col-md-12">
                                                    <label id="lbEwallet">TransactionID</label>
                                                    <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                        <input type="text" style="padding-bottom:0px; padding-top:0px;margin-top:0px" value="" id="txtTransactionID" name="txtTransactionID" class="form-control validate">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                <div class="col-md-12">
                                                    <label id="lbEwallet" style="margin-bottom:0px">Your Wallet Address</label>
                                                    <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                        <input type="text" style="padding:0px" id="txtYourWalletAddress" name="txtYourWalletAddress" class="form-control validate">
                                                    </div>
                                                    <label style="color:red" id="lbPoint"></label>
                                                </div>
                                            </div>
                                            <div class="row" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                <div class="col-md-12">
                                                    <label id="lbEwallet" style="margin-bottom:0px">Received Wallet Address</label>
                                                    <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                        <input type="text" style="padding:0px" id="txtReceivedWalletAddress" name="txtReceivedWalletAddress" class="form-control validate">
                                                    </div>
                                                    <label style="color:red" id="lbPoint"></label>
                                                </div>
                                            </div>
                                            <div class="row" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                <div class="col-md-12">
                                                    <label id="lbEwallet" style="margin-bottom:0px">BTC</label>
                                                    <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                        <input type="text" style="padding:0px" id="txtBTC" name="txtBTC" class="form-control validate">
                                                    </div>
                                                    <label style="color:red" id="lbPoint"></label>
                                                </div>
                                            </div>
                                            <div class="row" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                <div class="col-md-12">
                                                    <label id="lbEwallet" style="margin-bottom:0px">TransactionBitcoin</label>
                                                    <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                        @*<input type="text" style="padding:0px" id="txtTransactionBitcoin" name="txtTransactionBitcoin" class="form-control validate" value="@Session["Linktestnet"]">*@
                                                        <a id="aLink" href="" target="_blank">
                                                            <input type="text" style="padding:0px; cursor:pointer" id="txtTransactionBitcoin" name="txtTransactionBitcoin" class="form-control validate" />
                                                        </a>
                                                    </div>
                                                    <label style="color:red" id="lbPoint"></label>
                                                </div>
                                            </div>
                                            <div class="row" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                <div class="col-md-6">
                                                    <label id="lbEwallet" style="margin-bottom:0px">CreateDate</label>
                                                    <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                        <input type="text" style="padding:0px" id="txtCreateDate" name="txtCreateDate" class="form-control validate">
                                                    </div>
                                                    <label style="color:red" id="lbPoint"></label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label id="lbEwallet" style="margin-bottom:0px">ExpiredDate</label>
                                                    <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                        <input type="text" style="padding:0px" id="txtExpiredDate" name="txtExpiredDate" class="form-control validate">
                                                    </div>
                                                    <label style="color:red" id="lbPoint"></label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="hdLinkTestNet" value="@ViewBag.LinkTestnet" />
<div id="over" style="display: none; background: #000; position: fixed; left: 0; top: 0; width: 100%; height: 100%; opacity: 0.8; z-index: 999;"></div>
<script src="/Scripts/jqueryui.js"></script>
<script src="/Scripts/point/point.js"></script>
<script>
    $("#txtFromDate").datepicker();
    $("#txtToDate").datepicker();
</script>