﻿
@{
    ViewBag.Title = "IndexV2";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<link href="/Content/css/custom.css" rel="stylesheet">
<link href="~/Content/css/style-dev.min.css" rel="stylesheet">
<div class="content">
    <!-- Main charts -->
    <div class="row">
        <div class="col-lg-8">
            <!-- Traffic sources -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">Lottery Tickets<a class="heading-elements-toggle"><i class="icon-more"></i></a><a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                    <div class="heading-elements">
                        <label class="checkbox-inline checkbox-switchery checkbox-right switchery-xs">
                            Draw №151  01/24/2018 at 14:39
                        </label>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="box-ticket" id="box-ticket">
                                <div class="box-ticket__header">
                                    <div class="ticket-header__left">
                                        <div class="ticket-header__num"></div>
                                        <a id="autoBox_1" href="javascript:void(0)" onclick="autoProfileAnimated(1,$(this).closest('.profile-ticket__item'));" class="btn-empty"><span class="icon-auto"></span>&nbsp;Auto</a>

                                    </div>
                                    <div class="ticket-header__right">
                                        <a href="#" onclick="clearTicketIsActived(this,1);" class="btn-empty ticket-header__btn-clear js-ticket-clear">&nbsp;Clear</a>
                                        <span class="btn-del__wrap">
                                            <a href="#" onclick="closeTicket(this,1);" class="btn-empty ticket-header__btn-del js-ticket-hidden"><span class="icon-del"></span></a>
                                        </span>
                                    </div>
                                </div>
                                <div class="box-ticket__body">
                                    <p>Select 5 numbers</p>
                                    <ul class="num-list first-49" data-max="5" id="ulnum49">
                                        <li class="num-list__item">1</li>
                                        <li class="num-list__item">2</li>
                                        <li class="num-list__item">3</li>
                                        <li class="num-list__item">4</li>
                                        <li class="num-list__item">5</li>
                                        <li class="num-list__item">6</li>
                                        <li class="num-list__item">7</li>
                                        <li class="num-list__item">8</li>
                                        <li class="num-list__item">9</li>
                                        <li class="num-list__item">10</li>
                                        <li class="num-list__item">11</li>
                                        <li class="num-list__item">12</li>
                                        <li class="num-list__item">13</li>
                                        <li class="num-list__item">14</li>
                                        <li class="num-list__item">15</li>
                                        <li class="num-list__item">16</li>
                                        <li class="num-list__item">17</li>
                                        <li class="num-list__item">18</li>
                                        <li class="num-list__item">19</li>
                                        <li class="num-list__item">20</li>
                                        <li class="num-list__item">21</li>
                                        <li class="num-list__item">22</li>
                                        <li class="num-list__item">23</li>
                                        <li class="num-list__item">24</li>
                                        <li class="num-list__item">25</li>
                                        <li class="num-list__item">26</li>
                                        <li class="num-list__item">27</li>
                                        <li class="num-list__item">28</li>
                                        <li class="num-list__item">29</li>
                                        <li class="num-list__item">30</li>
                                        <li class="num-list__item">31</li>
                                        <li class="num-list__item">32</li>
                                        <li class="num-list__item">33</li>
                                        <li class="num-list__item">34</li>
                                        <li class="num-list__item">35</li>
                                        <li class="num-list__item">36</li>
                                        <li class="num-list__item">37</li>
                                        <li class="num-list__item">38</li>
                                        <li class="num-list__item">39</li>
                                        <li class="num-list__item">40</li>
                                        <li class="num-list__item">41</li>
                                        <li class="num-list__item">42</li>
                                        <li class="num-list__item">43</li>
                                        <li class="num-list__item">44</li>
                                        <li class="num-list__item">45</li>
                                        <li class="num-list__item">46</li>
                                        <li class="num-list__item">47</li>
                                        <li class="num-list__item">48</li>
                                        <li class="num-list__item">49</li>

                                    </ul>
                                    <p>And one more</p>
                                    <ul class="num-list num-list_yellow" id="ulExtra_1" data-max="1">
                                        <li class="num-list__item">1</li>
                                        <li class="num-list__item">2</li>
                                        <li class="num-list__item">3</li>
                                        <li class="num-list__item">4</li>
                                        <li class="num-list__item">5</li>
                                        <li class="num-list__item">6</li>
                                        <li class="num-list__item">7</li>
                                        <li class="num-list__item">8</li>
                                        <li class="num-list__item">9</li>
                                        <li class="num-list__item">10</li>
                                        <li class="num-list__item">11</li>
                                        <li class="num-list__item">12</li>
                                        <li class="num-list__item">13</li>
                                        <li class="num-list__item">14</li>
                                        <li class="num-list__item">15</li>
                                        <li class="num-list__item">16</li>
                                        <li class="num-list__item">17</li>
                                        <li class="num-list__item">18</li>
                                        <li class="num-list__item">19</li>
                                        <li class="num-list__item">20</li>
                                        <li class="num-list__item">21</li>
                                        <li class="num-list__item">22</li>
                                        <li class="num-list__item">23</li>
                                        <li class="num-list__item">24</li>
                                        <li class="num-list__item">25</li>
                                        <li class="num-list__item">26</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="box-ticket" id="box-ticket">
                                <div class="box-ticket__header">
                                    <div class="ticket-header__left">
                                        <div class="ticket-header__num"></div>
                                        <a id="autoBox_1" href="javascript:void(0)" onclick="autoProfileAnimated(1,$(this).closest('.profile-ticket__item'));" class="btn-empty"><span class="icon-auto"></span>&nbsp;Auto</a>

                                    </div>
                                    <div class="ticket-header__right">
                                        <a href="#" onclick="clearTicketIsActived(this,1);" class="btn-empty ticket-header__btn-clear js-ticket-clear">&nbsp;Clear</a>
                                        <span class="btn-del__wrap">
                                            <a href="#" onclick="closeTicket(this,1);" class="btn-empty ticket-header__btn-del js-ticket-hidden"><span class="icon-del"></span></a>
                                        </span>
                                    </div>
                                </div>
                                <div class="box-ticket__body">
                                    <p>Select 5 numbers</p>
                                    <ul class="num-list first-49" data-max="5" id="ulnum49">
                                        <li class="num-list__item">1</li>
                                        <li class="num-list__item">2</li>
                                        <li class="num-list__item">3</li>
                                        <li class="num-list__item">4</li>
                                        <li class="num-list__item">5</li>
                                        <li class="num-list__item">6</li>
                                        <li class="num-list__item">7</li>
                                        <li class="num-list__item">8</li>
                                        <li class="num-list__item">9</li>
                                        <li class="num-list__item">10</li>
                                        <li class="num-list__item">11</li>
                                        <li class="num-list__item">12</li>
                                        <li class="num-list__item">13</li>
                                        <li class="num-list__item">14</li>
                                        <li class="num-list__item">15</li>
                                        <li class="num-list__item">16</li>
                                        <li class="num-list__item">17</li>
                                        <li class="num-list__item">18</li>
                                        <li class="num-list__item">19</li>
                                        <li class="num-list__item">20</li>
                                        <li class="num-list__item">21</li>
                                        <li class="num-list__item">22</li>
                                        <li class="num-list__item">23</li>
                                        <li class="num-list__item">24</li>
                                        <li class="num-list__item">25</li>
                                        <li class="num-list__item">26</li>
                                        <li class="num-list__item">27</li>
                                        <li class="num-list__item">28</li>
                                        <li class="num-list__item">29</li>
                                        <li class="num-list__item">30</li>
                                        <li class="num-list__item">31</li>
                                        <li class="num-list__item">32</li>
                                        <li class="num-list__item">33</li>
                                        <li class="num-list__item">34</li>
                                        <li class="num-list__item">35</li>
                                        <li class="num-list__item">36</li>
                                        <li class="num-list__item">37</li>
                                        <li class="num-list__item">38</li>
                                        <li class="num-list__item">39</li>
                                        <li class="num-list__item">40</li>
                                        <li class="num-list__item">41</li>
                                        <li class="num-list__item">42</li>
                                        <li class="num-list__item">43</li>
                                        <li class="num-list__item">44</li>
                                        <li class="num-list__item">45</li>
                                        <li class="num-list__item">46</li>
                                        <li class="num-list__item">47</li>
                                        <li class="num-list__item">48</li>
                                        <li class="num-list__item">49</li>

                                    </ul>
                                    <p>And one more</p>
                                    <ul class="num-list num-list_yellow" id="ulExtra_1" data-max="1">
                                        <li class="num-list__item">1</li>
                                        <li class="num-list__item">2</li>
                                        <li class="num-list__item">3</li>
                                        <li class="num-list__item">4</li>
                                        <li class="num-list__item">5</li>
                                        <li class="num-list__item">6</li>
                                        <li class="num-list__item">7</li>
                                        <li class="num-list__item">8</li>
                                        <li class="num-list__item">9</li>
                                        <li class="num-list__item">10</li>
                                        <li class="num-list__item">11</li>
                                        <li class="num-list__item">12</li>
                                        <li class="num-list__item">13</li>
                                        <li class="num-list__item">14</li>
                                        <li class="num-list__item">15</li>
                                        <li class="num-list__item">16</li>
                                        <li class="num-list__item">17</li>
                                        <li class="num-list__item">18</li>
                                        <li class="num-list__item">19</li>
                                        <li class="num-list__item">20</li>
                                        <li class="num-list__item">21</li>
                                        <li class="num-list__item">22</li>
                                        <li class="num-list__item">23</li>
                                        <li class="num-list__item">24</li>
                                        <li class="num-list__item">25</li>
                                        <li class="num-list__item">26</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="box-ticket" id="box-ticket">
                                <div class="box-ticket__header">
                                    <div class="ticket-header__left">
                                        <div class="ticket-header__num"></div>
                                        <a id="autoBox_1" href="javascript:void(0)" onclick="autoProfileAnimated(1,$(this).closest('.profile-ticket__item'));" class="btn-empty"><span class="icon-auto"></span>&nbsp;Auto</a>

                                    </div>
                                    <div class="ticket-header__right">
                                        <a href="#" onclick="clearTicketIsActived(this,1);" class="btn-empty ticket-header__btn-clear js-ticket-clear">&nbsp;Clear</a>
                                        <span class="btn-del__wrap">
                                            <a href="#" onclick="closeTicket(this,1);" class="btn-empty ticket-header__btn-del js-ticket-hidden"><span class="icon-del"></span></a>
                                        </span>
                                    </div>
                                </div>
                                <div class="box-ticket__body">
                                    <p>Select 5 numbers</p>
                                    <ul class="num-list first-49" data-max="5" id="ulnum49">
                                        <li class="num-list__item">1</li>
                                        <li class="num-list__item">2</li>
                                        <li class="num-list__item">3</li>
                                        <li class="num-list__item">4</li>
                                        <li class="num-list__item">5</li>
                                        <li class="num-list__item">6</li>
                                        <li class="num-list__item">7</li>
                                        <li class="num-list__item">8</li>
                                        <li class="num-list__item">9</li>
                                        <li class="num-list__item">10</li>
                                        <li class="num-list__item">11</li>
                                        <li class="num-list__item">12</li>
                                        <li class="num-list__item">13</li>
                                        <li class="num-list__item">14</li>
                                        <li class="num-list__item">15</li>
                                        <li class="num-list__item">16</li>
                                        <li class="num-list__item">17</li>
                                        <li class="num-list__item">18</li>
                                        <li class="num-list__item">19</li>
                                        <li class="num-list__item">20</li>
                                        <li class="num-list__item">21</li>
                                        <li class="num-list__item">22</li>
                                        <li class="num-list__item">23</li>
                                        <li class="num-list__item">24</li>
                                        <li class="num-list__item">25</li>
                                        <li class="num-list__item">26</li>
                                        <li class="num-list__item">27</li>
                                        <li class="num-list__item">28</li>
                                        <li class="num-list__item">29</li>
                                        <li class="num-list__item">30</li>
                                        <li class="num-list__item">31</li>
                                        <li class="num-list__item">32</li>
                                        <li class="num-list__item">33</li>
                                        <li class="num-list__item">34</li>
                                        <li class="num-list__item">35</li>
                                        <li class="num-list__item">36</li>
                                        <li class="num-list__item">37</li>
                                        <li class="num-list__item">38</li>
                                        <li class="num-list__item">39</li>
                                        <li class="num-list__item">40</li>
                                        <li class="num-list__item">41</li>
                                        <li class="num-list__item">42</li>
                                        <li class="num-list__item">43</li>
                                        <li class="num-list__item">44</li>
                                        <li class="num-list__item">45</li>
                                        <li class="num-list__item">46</li>
                                        <li class="num-list__item">47</li>
                                        <li class="num-list__item">48</li>
                                        <li class="num-list__item">49</li>

                                    </ul>
                                    <p>And one more</p>
                                    <ul class="num-list num-list_yellow" id="ulExtra_1" data-max="1">
                                        <li class="num-list__item">1</li>
                                        <li class="num-list__item">2</li>
                                        <li class="num-list__item">3</li>
                                        <li class="num-list__item">4</li>
                                        <li class="num-list__item">5</li>
                                        <li class="num-list__item">6</li>
                                        <li class="num-list__item">7</li>
                                        <li class="num-list__item">8</li>
                                        <li class="num-list__item">9</li>
                                        <li class="num-list__item">10</li>
                                        <li class="num-list__item">11</li>
                                        <li class="num-list__item">12</li>
                                        <li class="num-list__item">13</li>
                                        <li class="num-list__item">14</li>
                                        <li class="num-list__item">15</li>
                                        <li class="num-list__item">16</li>
                                        <li class="num-list__item">17</li>
                                        <li class="num-list__item">18</li>
                                        <li class="num-list__item">19</li>
                                        <li class="num-list__item">20</li>
                                        <li class="num-list__item">21</li>
                                        <li class="num-list__item">22</li>
                                        <li class="num-list__item">23</li>
                                        <li class="num-list__item">24</li>
                                        <li class="num-list__item">25</li>
                                        <li class="num-list__item">26</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="profile-ticket__button form-control_feedback" style="padding: 10px;">
                            <a href="javascript:void(0)" onclick="AddMoreTicketMegaball()" class="btn-add-big __addTickets"><span class="icon-plus"></span>ADD TICKETS </a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /traffic sources -->
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-md-12">
                    <!-- Productivity goal -->
                    <div class="panel text-center">
                        <div class="panel-body">

                            <!-- Progress counter -->
                            <div class="content-group-sm svg-center position-relative" id="goal-progress">
                                <div class="infoTicket jackPot">
                                    <div class="title" style="font-size: 1.5em;font-weight: 300;color: #ffa726;">JACKPOT</div>
                                    <div class="content textAlignCenter">
                                        <span style="font-size: 3em;font-weight: 700;color: #27a0d8;">404.03<sup>XRP</sup></span>
                                    </div>
                                </div>
                            </div>
                            <!-- /progress counter -->
                            <!-- Bars -->
                            <!-- /bars -->
                        </div>
                    </div>
                    <!-- /productivity goal -->
                </div>


            </div>
            <div class="panel panel-flat" style="padding-bottom: 10px;">
                <div class="panel-heading">
                    <h6 class="panel-title">List tickets<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                    <div class="heading-elements" style="background-color: #f7f6f6;">
                        <span class="heading-text">
                            <span> Total: </span>
                            <span class="text-bold text-danger-600 position-right">4,378</span>
                        </span>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ticket</th>
                                <th>Time</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="text-muted text-size-small">1</span>
                                </td>
                                <td>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <span class="result medium thunderball-ball">9</span>
                                            <span class="result medium thunderball-ball">25</span>
                                            <span class="result medium thunderball-ball">26</span>
                                            <span class="result medium thunderball-ball">41</span>
                                            <span class="result medium thunderball-ball">42</span>
                                            <span class="result medium thunderball-thunderball">10</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="text-muted text-size-small">06:28 pm</span>
                                </td>
                                <td>
                                    <h6 class="text-semibold no-margin">0.002</h6>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text-muted text-size-small">1</span>
                                </td>
                                <td>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <span class="result medium thunderball-ball">9</span>
                                            <span class="result medium thunderball-ball">25</span>
                                            <span class="result medium thunderball-ball">26</span>
                                            <span class="result medium thunderball-ball">41</span>
                                            <span class="result medium thunderball-ball">42</span>
                                            <span class="result medium thunderball-thunderball">10</span>
                                        </div>

                                    </div>
                                </td>
                                <td>
                                    <span class="text-muted text-size-small">04:52 pm</span>
                                </td>
                                <td>
                                    <h6 class="text-semibold no-margin">0.002</h6>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="text-muted text-size-small">1</span>
                                </td>
                                <td>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <span class="result medium thunderball-ball">9</span>
                                            <span class="result medium thunderball-ball">25</span>
                                            <span class="result medium thunderball-ball">26</span>
                                            <span class="result medium thunderball-ball">41</span>
                                            <span class="result medium thunderball-ball">42</span>
                                            <span class="result medium thunderball-thunderball">10</span>
                                        </div>

                                    </div>
                                </td>
                                <td>
                                    <span class="text-muted text-size-small">01:26 pm</span>
                                </td>
                                <td>
                                    <h6 class="text-semibold no-margin">0.002</h6>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="text-muted text-size-small">1</span>
                                </td>
                                <td>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <span class="result medium thunderball-ball">9</span>
                                            <span class="result medium thunderball-ball">25</span>
                                            <span class="result medium thunderball-ball">26</span>
                                            <span class="result medium thunderball-ball">41</span>
                                            <span class="result medium thunderball-ball">42</span>
                                            <span class="result medium thunderball-thunderball">10</span>
                                        </div>

                                    </div>
                                </td>
                                <td>
                                    <span class="text-muted text-size-small">11:46 am</span>
                                </td>
                                <td>
                                    <h6 class="text-semibold no-margin">0.002</h6>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="text-muted text-size-small">1</span>
                                </td>
                                <td>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <span class="result medium thunderball-ball">9</span>
                                            <span class="result medium thunderball-ball">25</span>
                                            <span class="result medium thunderball-ball">26</span>
                                            <span class="result medium thunderball-ball">41</span>
                                            <span class="result medium thunderball-ball">42</span>
                                            <span class="result medium thunderball-thunderball">10</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="text-muted text-size-small">10:29 am</span>
                                </td>
                                <td>
                                    <h6 class="text-semibold no-margin">0.002</h6>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center" style="margin-top: 10px;">
                    <button type="button" class="btn bg-teal-400 legitRipple">Buy tickets<i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- /main charts -->
    <!-- Dashboard content -->
    <!-- /dashboard content -->
    <!-- Footer -->
    <div class="footer text-muted">
        © 2015. <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
    </div>
    <!-- /footer -->
</div>
<script type="text/javascript" src="~/Content/js/app.js"></script>
<script type="text/javascript" src="/Scripts/gamemegaball/megaball.js"></script>
