﻿
<div class="sidebar" data-active-color="orange">
    <div class="sidebar-wrapper">
        <ul class="nav" id="nav">
            <li>
                <a href="/">
                    <i class="material-icons">home</i>
                    <p> Home </p>
                </a>
            </li>
            <li>
                <a href="/play-game">
                    <i class="material-icons">extension</i>
                    <p> Game </p>
                </a>
            </li>
            <li>
                <a href="/lotte-result">
                    <i class="material-icons">date_range</i>
                    <p> Lotto Result </p>
                </a>
            </li>
            <li>
                <a href="/checker">
                    <i class="material-icons">check_circle</i>
                    <p> Checker </p>
                </a>
            </li>
            <li>
                <a href="/check-transparency">
                    <i class="material-icons">cached</i>
                    <p> Check Transparency </p>
                </a>
            </li>
        </ul>
    </div>
</div>
<input type="hidden" id="hdTotaFreeTicket" name="hdTotaFreeTicket" value="@ViewBag.AmountTicketFree" />
<input type="hidden" id="hdIntNumberTicketFree" name="hdIntNumberTicketFree" value="@ViewBag.IntNumberTicketFree" />
<input type="hidden" id="hdNumberCoinBTC" name="hdNumberCoinBTC" value="@ViewBag.NumberCoinBTC" />
<input type="hidden" id="hdPriceTicket" name="hdPriceTicket" value="@ViewBag.CoinValues" />
<input type="hidden" id="hdRawnumber" name="hdRawnumber" value="@ViewBag.RawNumber" />
<input type="hidden" id="hdJackpot" name="hdJackpot" value="@ViewBag.Jackpot" />
<script src="/Content/js/jquery.countdownTimer.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var now = new Date();
        var nowUTC = new Date("@ViewData[BBH.Lotte.Shared.KeyManager._DATEANDTIME]").getTime();
        var endtime = new Date("@ViewData[BBH.Lotte.Shared.KeyManager._ENDDATE]").getTime();
        var distance = endtime - nowUTC;
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) + days*24;
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        if (days >= 0 && hours >= 0 && minutes >= 0) {
            $('#divCountDownMenu').countdowntimer({
                hours: hours,
                minutes: minutes,
                seconds: seconds,
                size: "sm",
                tickInterval: 1
            });

        }
        else {
            $('#divCountDownMenu').countdowntimer({
                hours: 0,
                minutes: 0,
                seconds: 0,
                size: "sm",
                tickInterval: 1
            });
        }
            GetExchangeBtcToUsd();
    });

    $(function () {

        var current = location.pathname;
        $('#nav li a').each(function () {
            var $this = $(this);
            var href = $this.attr('href');
            // if the current path is like this link, make it active
            if (current == href) {
                $this.parent().addClass('active');
            }
        })
    })
    $(document).ready(function () {
        $("#spanAmountTicketFree").text($("#hdTotaFreeTicket").val());
        $("#spanNumberTicketsFree").text($("#hdIntNumberTicketFree").val());
        $("#spanNumberCoinBTC").text($("#hdNumberCoinBTC").val());
        $("#spanRawnumber").text($("#hdRawnumber").val());
        $("#spanJackpot").text($("#hdJackpot").val());
    });
    function GetExchangeBtcToUsd() {
        $.ajax({
            type: "post",
            url: "/Game/CurrencyToBtc",
            async: false,
            contentType: 'application/json',
            beforeSend: function () {
            },
            success: function (data) {
                if (typeof data != 'undefined') {
                    var jackpot = $("#hdJackpot").val();
                    if (jackpot != 'undefined') {
                        var usd = parseFloat(jackpot) / parseFloat(data);
                        $("#spanUSD").text('$' + parseFloat(usd, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
                    }
                }
            },
            error: function () {
            }
        });
    }
</script>

