body, .btn {
    font-size: 16px;
}

.btn {
    line-height: 1.5;
    transition: .5s;
}

.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    content: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.row-xs {
    margin-right: -4px;
    margin-left: -4px;
}

    .row-xs > .col,
    .row-xs > [class*="col-"] {
        padding-right: 4px;
        padding-left: 4px;
    }

.w-100 {
    width: 100%;
}

.right {
    float: right;
}



.flex {
    display: flex;
}

.inline-block {
    display: inline-block;
}

@font-face {
    font-family: "Mont";
    src: url('../font/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Mont-bold";
    src: url('../font/Montserrat-Bold.ttf');
}

@font-face {
    font-family: "Mont-extra";
    src: url('../font/Montserrat-Medium.ttf');
}

@font-face {
    font-family: "Hel-bold";
    src: url('../font/helvetica-bold.ttf');
}

@font-face {
    font-family: "Hel";
    src: url('../font/helvetica-regular.ttf');
}

body {
    position: relative;
    background-color: #a92133;
    color: #fff;
    font-family: 'Hel';
    overflow-x: hidden;
    width: 100%;
    margin-left: 0;
    transition: .5s;
}

    body.open {
        margin-left: -250px;
        transition: .5s;
    }

a {
    color: #fbb11a;
}

    a:hover {
        color: #a92133;
        text-decoration: none;
    }

.c-yellow {
    color: #fbb11a;
}

.c-grey-light {
    color: #adadad;
}

.c-grey {
    color: #353535;
}

.text-contact {
    color: rgba(255, 255, 255, 0.502);
    margin-bottom: 20px;
    font-size: 14px;
    margin-top: -15px;
}

.img-logo {
    width: 200px;
}

.nav li + li {
    margin-left: 20px;
}

.nav-menu {
    padding: 0 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    z-index: 1;
}

.btn-primary {
    background-color: #a92133;
    border-radius: 0;
    border: none;
    padding: 12px 20px !important;
}

.btn-primary:hover {
    background-color: #a92133;
}

.btn-primary:active:focus {
    background-color: #fbb11a;
}

    .btn-primary:focus {
        background-color: #fbb11a;
    }

    .mont {
        font-family: 'Mont';
    }

.mont-bold {
    font-family: 'Mont-bold';
}

.hel {
    font-family: 'Hel' !important;
}

.hel-bold {
    font-family: 'Hel-bold';
}

h2 {
    font-weight: 700;
    font-size: 44px;
    letter-spacing: 2px;
}

h3 {
    font-size: 26px;
    margin-bottom: 30px;
}

h4 {
    font-size: 18px;
}

    h4.large {
        font-size: 22px;
    }

h5 {
    font-size: 16px;
    letter-spacing: 2px;
}

.header {
    background: url(../img/bg/bg-header.png) top right no-repeat;
    background-size: contain;
}

.content-header {
    padding-top: 200px;
    margin-top: -60px;
}

.countdown {
    position: relative;
    margin-top: 40px;
    margin-bottom: 50px;
}

.countdown .count {
    position: relative;
    background-color: #353535;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
    width: 120px;
    height: 120px;
    display: inline-block;
    margin-right: 20px;
}

.countdown .count.second {
    margin-right: 25px;
}

.countdown .count .time {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 5px;
    font-family: 'Mont-bold';
}

.countdown .count .text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    font-family: 'Mont';
}

.countdown .count:last-child {
    margin-right: 0;
}

.countdown .count.jackpot {
    position: absolute;
    top: 0;
    width: 260px;
    font-family: 'Mont-bold';
    white-space: nowrap;
}

.countdown .count.jackpot .text-jackpot {
    font-family: 'Mont-bold';
    font-size: 24px;
    margin-left: 20px;
    margin-top: 5px;
    letter-spacing: 2px;
}

.countdown .count.jackpot .number-jackpot {
    position: absolute;
    bottom: 32px;
    margin-left: 18px;
}

.countdown .count.jackpot .number-jackpot .number {
    font-size: 24px;
    background-color: #fbb11a;
    height: 34px;
    width: 32px;
    display: inline-block;
    text-align: center;
    margin: 0 2px;
}

.countdown .count.jackpot .number-jackpot .dot {
    color: #fbb11a;
    font-size: 40px;
}

.countdown .count.jackpot .number-jackpot .text-btc {
    font-size: 24px;
}

.countdown .count.jackpot .price-usd {
    position: absolute;
    bottom: 8px;
    left: 20px;
    letter-spacing: 2px;
}

#menu-right {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    background-color: #a92133;
    z-index: 1;
    visibility: hidden;
    transition: .5s;
}

    #menu-right.open {
        visibility: visible;
        right: 0;
        box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2);
        transition: .5s;
    }

    #menu-right ul {
        list-style: none;
        padding-top: 50px;
    }

        #menu-right ul li {
            margin-bottom: 15px;
        }

            #menu-right ul li.active a {
                color: #fbb11a;
            }


        #menu-right ul a {
            color: #fff;
            font-weight: 700;
            text-decoration: none;
            letter-spacing: 1px;
            padding: 5px 0;
            transition: .5s;
        }

            #menu-right ul a:hover {
                color: #fbb11a;
                transition: .5s;
            }

.btn-primary {
    font-weight: 700;
    letter-spacing: 2px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
}

    .btn-primary:hover,
    .btn-primary:active {
        background-color: #fbb11a !important;
    }

.btn-default {
    background-color: #fbb11a;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: 'Mont';
    font-size: 20px;
    padding: 18px 70px;
    border: none;
    border-radius: 0;
}

    .btn-default:focus,
    .btn-default:active,
    .btn-default:active:focus  {
        background-color: #fbb11a;
        border: none;
        color: #fff;
    }

    .btn-default:hover {
        box-shadow: 0px 5px 30px 0px rgba(251, 177, 26, 0.2);
        color: #fff;
        border: none;
        background: #fbb11a;
    }

.btn-sm {
    padding: 8px 20px;
    font-size: 14px;
    font-family: 'Hel';
    font-weight: 700;
}

.nav-button {
    padding: 14px;
    background-color: #a92133;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: .5s;
}

    .nav-button:hover {
        background-color: #fbb11a;
        transition: .5s;
    }

#nav-icon {
    width: 20px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

    #nav-icon span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }

        #nav-icon span:nth-child(1) {
            top: 0px;
        }

        #nav-icon span:nth-child(2) {
            top: 8px;
        }

        #nav-icon span:nth-child(3) {
            top: 16px;
        }

    #nav-icon.open span:nth-child(1) {
        top: 8px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    #nav-icon.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    #nav-icon.open span:nth-child(3) {
        top: 8px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

hr.lg {
    margin-top: 20px;
    margin-bottom: 20px;
}

hr.xl {
    margin-top: 40px;
    margin-bottom: 40px;
}

hr.no-line {
    border-top-color: transparent;
}

.social-inline {
    font-size: 30px;
    margin-left: 10px;
}

    .social-inline a {
        color: #adadad;
    }

        .social-inline a:hover {
            color: #353535;
        }

        .social-inline a + a {
            margin-left: 30px;
        }

    .social-inline .fa-facebook-f {
        font-size: 26px;
        vertical-align: 2px;
    }

.main-content {
    position: relative;
    background-color: #fff;
    display: flex;
    width: 100%;
    max-width: 100%;
}

    .main-content .how-to-play {
        margin-top: -60px;
    }

        .main-content .how-to-play .content-right {
            padding-top: 0;
        }

        .main-content .how-to-play .video {
            position: relative;
            width: 100%;
            height: 360px;
            background: url('../img/about/2.png') center center no-repeat;
            background-size: cover;
        }

            .main-content .how-to-play .video .content {
                width: 80%;
                margin: 0 auto;
                padding-top: 140px;
                letter-spacing: 2px;
            }

        .main-content .how-to-play .faq,
        .main-content .how-to-play .join-game {
            padding: 80px 0;
        }

            .main-content .how-to-play .faq .content,
            .main-content .how-to-play .join-game .content {
                width: 80%;
                margin: 0 auto;
            }

                .main-content .how-to-play .faq .content button,
                .main-content .how-to-play .join-game .content button {
                    margin-top: 10px;
                }

        .main-content .how-to-play .join-game {
            color: #adadad;
        }

            .main-content .how-to-play .join-game h3,
            .main-content .how-to-play .join-game h4 {
                color: #353535;
            }

            .main-content .how-to-play .join-game h4 {
                margin-bottom: 15px;
            }

            .main-content .how-to-play .join-game p {
                margin-bottom: 5px;
            }

            .main-content .how-to-play .join-game .nav-about {
                width: 300px;
            }

    .main-content .about {
        margin-top: -60px;
    }

        .main-content .about .about-us .content {
            width: 80%;
            margin: 0 auto;
        }

        .main-content .about .video {
            position: relative;
            width: 100%;
            height: 360px;
            background: url('../img/about/2.png') center center no-repeat;
            background-size: cover;
        }

            .main-content .about .video .content {
                width: 80%;
                margin: 0 auto;
                padding-top: 140px;
                letter-spacing: 2px;
            }

        .main-content .about .faq {
            padding: 80px 0;
        }

            .main-content .about .faq .content {
                width: 80%;
                margin: 0 auto;
            }

                .main-content .about .faq .content button {
                    margin-top: 10px;
                }

        .main-content .about .privacy {
            position: relative;
            width: 100%;
            height: auto;
            background: url('../img/about/3.png') center center no-repeat;
            background-size: cover;
        }

            .main-content .about .privacy .content {
                padding-top: 50px;
                padding-bottom: 50px;
                width: 80%;
                margin: 0 auto;
            }

        .main-content .about .term .content {
            padding-top: 50px;
            padding-bottom: 50px;
            width: 80%;
            margin: 0 auto;
        }

            .main-content .about .term .content .block-term {
                min-height: 150px;
            }

                .main-content .about .term .content .block-term h3 {
                    margin-bottom: 10px;
                }

            .main-content .about .term .content .slick-list {
                max-width: 100%;
                width: 100%;
                padding: 10px 5px;
                margin: 0 -20px;
            }

            .main-content .about .term .content .slick-slide {
                padding: 20px;
                background-color: rgba(255, 255, 255, 0.502);
                box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.07);
                margin: 0 15px;
            }

            .main-content .about .term .content button {
                margin-top: 10px;
            }

    .main-content .contact-us {
        margin-top: -60px;
    }

        .main-content .contact-us .contact {
            padding-top: 100px;
            padding-bottom: 60px;
        }

            .main-content .contact-us .contact .content {
                width: 80%;
                margin: 0 auto;
            }

                .main-content .contact-us .contact .content .helpful img {
                    position: relative;
                }

                .main-content .contact-us .contact .content .helpful h4 {
                    position: absolute;
                    bottom: 100px;
                    left: 40px;
                    width: 50%;
                }

                .main-content .contact-us .contact .content .helpful button {
                    position: absolute;
                    bottom: 50px;
                    left: 40px;
                }

    .main-content .header-w {
        margin-top: -60px;
    }

        .main-content .header-w .content-w {
            padding-top: 100px;
            padding-bottom: 60px;
        }

            .main-content .header-w .content-w .content {
                width: 80%;
                margin: 0 auto;
                color: #333;
            }

                .main-content .header-w .content-w .content h4 {
                    font-size: 22px;
                    font-family: Hel-bold;
                    margin-bottom: 20px;
                }

                .main-content .header-w .content-w .content p {
                    font-size: 16px;
                }

                    .main-content .header-w .content-w .content p span {
                        font-family: Hel-bold;
                        color: #fbb11a;
                    }

            .main-content .header-w .content-w table {
                width: 100%;
                margin: 20px 0 30px;
            }

                .main-content .header-w .content-w table thead th {
                    background: #fbb11a;
                    padding: 15px 20px;
                    color: #fff;
                }

                .main-content .header-w .content-w table tbody td {
                    background: #f8f8f8;
                    padding: 10px 20px;
                }

                .main-content .header-w .content-w table tbody tr:first-child td {
                    padding-top: 30px;
                }

                .main-content .header-w .content-w table tbody tr:last-child td {
                    padding-bottom: 30px;
                }

                .main-content .header-w .content-w table tbody td span {
                    color: #adadad;
                }


    .main-content .faq {
        margin-top: -60px;
    }

        .main-content .faq .contact {
            padding-top: 100px;
            padding-bottom: 60px;
        }

            .main-content .faq .contact .content {
                width: 80%;
                margin: 0 auto;
            }

                .main-content .faq .contact .content .common-faq a p {
                    color: #adadad;
                    font-family: 'Mont';
                }

                    .main-content .faq .contact .content .common-faq a p span {
                        font-family: 'Mont-bold';
                    }

                .main-content .faq .contact .content .common-faq a:hover p {
                    color: #fbb11a;
                }

    .main-content .content-left {
        width: 280px;
        background-color: #a92133;
        padding: 20px;
        position: relative;
    }

        .main-content .content-left .countdown {
            position: -webkit-sticky;
            position: sticky;
            top: 120px;
            margin-bottom: 0;
        }

            .main-content .content-left .countdown .count {
                display: block;
                margin-right: 0;
                margin-bottom: 20px;
                width: 110px;
                height: 110px;
            }

                .main-content .content-left .countdown .count.jackpot {
                    position: relative;
                    width: 240px;
                    height: 120px;
                }

                    .main-content .content-left .countdown .count.jackpot .text-jackpot {
                        padding-top: 10px;
                        letter-spacing: 0px;
                    }

                    .main-content .content-left .countdown .count.jackpot .number-jackpot {
                        bottom: 30px;
                    }

                    .main-content .content-left .countdown .count.jackpot .price-usd {
                        bottom: 7px;
                    }

            .main-content .content-left .countdown .social-block {
                position: absolute;
                top: 200px;
                right: 0px;
                font-size: 28px;
                display: none;
            }

                .main-content .content-left .countdown .social-block a {
                    color: #fff;
                    display: block;
                    margin-bottom: 15px;
                }

                    .main-content .content-left .countdown .social-block a:hover {
                        color: #fbb11a;
                    }

                    .main-content .content-left .countdown .social-block a .fa-facebook-f {
                        margin-left: 4px;
                    }

    .main-content .content-right {
        width: calc(100% - 280px);
        background-color: #fff;
    }

        .main-content .content-right .nav {
            margin-right: 50px;
        }

        .main-content .content-right .free-ticket {
            position: relative;
            width: 80%;
            margin: 50px auto 0;
            padding: 100px 0 100px;
        }

            .main-content .content-right .free-ticket p {
                color: #adadad;
                margin-bottom: 30px;
            }

            .main-content .content-right .free-ticket .img-1 {
                background: url('../img/icon/icon-number.png') no-repeat;
                position: absolute;
                top: 0px;
                left: -100px;
                display: block;
                height: 100px;
                width: 200px;
                opacity: .2;
            }

            .main-content .content-right .free-ticket .img-2 {
                background: url('../img/icon/icon-number1.png') no-repeat;
                position: absolute;
                bottom: 20px;
                right: 60%;
                display: block;
                height: 100px;
                width: 200px;
                opacity: .2;
            }

            .main-content .content-right .free-ticket .img-3 {
                background: url('../img/icon/icon-carcoin.png') no-repeat;
                position: absolute;
                bottom: -10px;
                right: -100px;
                display: block;
                height: 100px;
                width: 100px;
                opacity: .2;
            }

        .main-content .content-right .about {
            padding: 50px 0;
            background-color: #353535;
        }

            .main-content .content-right .about .content {
                width: 80%;
                margin: 0 auto;
            }

                .main-content .content-right .about .content h3 {
                    margin-bottom: 5px;
                }

                .main-content .content-right .about .content h5 {
                    font-weight: 700;
                    margin-bottom: 20px;
                }

                .main-content .content-right .about .content p {
                    color: #adadad;
                    margin-bottom: 8px;
                }

        .main-content .content-right .winner-story {
            position: relative;
            padding: 80px 0;
            color: #353535;
        }

            .main-content .content-right .winner-story .content {
                width: 80%;
                margin: 0 auto;
            }

                .main-content .content-right .winner-story .content .img-4 {
                    background: url('../img/icon/icon-number2.png') no-repeat;
                    position: absolute;
                    bottom: 20px;
                    right: 10%;
                    display: block;
                    height: 200px;
                    width: 550px;
                    opacity: .2;
                }

                .main-content .content-right .winner-story .content h4 {
                    margin-bottom: 5px;
                }

                .main-content .content-right .winner-story .content h5 {
                    color: #adadad;
                }

                .main-content .content-right .winner-story .content p {
                    margin-top: 20px;
                }

                .main-content .content-right .winner-story .content .slick-list {
                    max-width: 100%;
                    width: 100%;
                    padding: 10px 5px;
                    margin: 0 -20px;
                }

                .main-content .content-right .winner-story .content .slick-slide {
                    padding: 20px;
                    background-color: rgba(255, 255, 255, 0.502);
                    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.07);
                    margin: 0 15px;
                }

        .main-content .content-right .agent {
            position: relative;
            width: 100%;
            height: 500px;
            background: url('../img/bg/bg2.png') center center no-repeat;
            background-size: cover;
        }

            .main-content .content-right .agent .content {
                width: 80%;
                margin: 0 auto;
                padding-top: 160px;
            }

        .main-content .content-right .f-spec {
            font-family: 'Mont-bold';
            color: #fbb11a;
            text-shadow: 0 0 3px #fbb11a;
        }

        .main-content .content-right .recent {
            background: #fbb11a;
            padding: 50px;
        }

            .main-content .content-right .recent h4 {
                margin-bottom: 60px;
            }

            .main-content .content-right .recent .date {
                font-size: 20px;
                letter-spacing: 2px;
            }

            .main-content .content-right .recent .number-ticket {
                background: #353535;
                padding: 10px 13px;
                margin: 5px;
                font-weight: 700;
            }

                .main-content .content-right .recent .number-ticket.red {
                    background: #a92133;
                }

        .main-content .content-right .frequency {
            padding: 100px 50px;
            color: #353535;
        }

            .main-content .content-right .frequency .content {
                margin: 0 auto;
            }

                .main-content .content-right .frequency .content .chart {
                    display: flex;
                    justify-content: space-between;
                    height: 300px;
                    overflow: hidden;
                    text-align: center;
                    padding: 50px 0;
                }

                    .main-content .content-right .frequency .content .chart .bar {
                        margin: 5px;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        text-align: center;
                        background: #fadaac;
                    }

                        .main-content .content-right .frequency .content .chart .bar .title {
                            position: absolute;
                            bottom: -30px;
                            width: 100%;
                            text-align: center;
                            font-size: 14px;
                            color: #353535;
                            font-weight: 700;
                        }

                        .main-content .content-right .frequency .content .chart .bar .value {
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                            background: #fbb11a;
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                        }

                            .main-content .content-right .frequency .content .chart .bar .value.red {
                                background: #a92133;
                            }

        .main-content .content-right .odd-winning {
            padding: 50px 0;
            background: #353535;
        }

            .main-content .content-right .odd-winning .content {
                width: 80%;
                margin: 0 auto;
            }

            .main-content .content-right .odd-winning .block {
                border-bottom: 1px solid #fcc34f;
                padding: 10px 0;
            }

                .main-content .content-right .odd-winning .block:first-child {
                    padding-top: 0;
                }

                .main-content .content-right .odd-winning .block:last-child {
                    padding-bottom: 0;
                    border-bottom: 0px;
                }

                .main-content .content-right .odd-winning .block span {
                    font-size: 18px;
                    letter-spacing: 4px;
                }

                .main-content .content-right .odd-winning .block .title {
                    letter-spacing: 2px;
                    font-weight: 700;
                    font-family: 'Mont';
                }

        .main-content .content-right .partner {
            padding: 100px 0;
            color: #353535;
        }

            .main-content .content-right .partner .content {
                width: 80%;
                margin: 0 auto;
            }

            .main-content .content-right .partner .slick-partner {
                width: 100%;
                margin-top: 50px;
            }

                .main-content .content-right .partner .slick-partner img {
                    margin: 0 auto;
                }

                .main-content .content-right .partner .slick-partner .slick-next {
                    top: 20px;
                    right: 0;
                }

                .main-content .content-right .partner .slick-partner .slick-prev {
                    top: 20px;
                    right: 100%;
                }

        .main-content .content-right .footer {
            background: #a92133;
            padding: 50px 0;
        }

            .main-content .content-right .footer .content {
                width: 80%;
                margin: 0 auto;
            }

            .main-content .content-right .footer input,
            .main-content .content-right .footer textarea {
                border-radius: 0;
                padding: 10px 15px;
                border: none;
            }

            .main-content .content-right .footer .menu-footer {
                list-style: none;
                padding: 0;
                margin-bottom: 10px;
            }

                .main-content .content-right .footer .menu-footer li {
                    padding: 4px 0;
                }

                .main-content .content-right .footer .menu-footer a {
                    color: #d49099;
                    font-size: 18px;
                    font-weight: 700;
                }

                    .main-content .content-right .footer .menu-footer a:hover {
                        color: #fbb11a;
                    }

            .main-content .content-right .footer .copy-right {
                font-size: 14px;
                color: #d49099;
                margin-bottom: 0;
            }

    .main-content .nav-about {
        margin-top: 30px;
        margin-bottom: 30px;
        border-bottom: 3px solid #adadad;
        padding-bottom: 10px;
    }

        .main-content .nav-about li + li {
            margin-left: 30px;
        }

        .main-content .nav-about a {
            font-size: 18px;
            font-weight: 700;
            color: #adadad;
            letter-spacing: 2px;
        }

            .main-content .nav-about a:hover,
            .main-content .nav-about li.active a {
                border-bottom: 3px solid #fbb11a;
                padding-bottom: 12px;
            }

            .main-content .nav-about li.active a {
                color: #353535;
            }

.bg-yellow {
    background: #fbb11a;
    padding: 30px;
}

.border-left {
    border-left: 2px solid #fff !important;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.logo-favicon {
    display: none;
}

.number-free {
    width: 300px;
    background-color: #fbb11a;
    box-shadow: inset 2.121px 2.121px 9px 0px rgba(0, 0, 0, 0.35);
    padding: 25px 30px 20px;
    font-weight: 700;
}

    .number-free .ticket {
        background-color: #353535;
        color: #fff;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 40px;
        font-family: 'Mont-bold';
    }

    .number-free .text-ticket {
        color: #353535;
        font-size: 20px;
        text-align: center;
        padding-top: 10px;
    }

.slick-prev {
    position: absolute;
    right: 100px;
    top: -65px;
    color: #adadad;
    cursor: pointer;
}

    .slick-prev .fas {
        font-size: 32px;
    }

    .slick-prev:hover .fas {
        color: #fbb11a;
    }

.slick-next {
    position: absolute;
    right: 65px;
    top: -65px;
    color: #adadad;
    cursor: pointer;
}

    .slick-next .fas {
        font-size: 32px;
    }

    .slick-next:hover .fas {
        color: #fbb11a;
    }

.all-faq .panel-default {
    background-color: rgba(255, 255, 255, 0.502);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.07);
    border: none;
}

    .all-faq .panel-default:hover {
        background-color: #fbb11a;
    }

        .all-faq .panel-default:hover .panel-heading h4 {
            color: #fff;
            border-bottom: 1px solid #fff;
        }

        .all-faq .panel-default:hover .panel-collapse .panel-body {
            color: #fff;
        }

.all-faq .panel-heading {
    padding: 20px 20px 0;
    background: none;
    border: none;
}

    .all-faq .panel-heading h4 {
        margin-bottom: 0;
        padding-bottom: 20px;
        border-bottom: 1px solid #f2f2f2;
        color: #353535;
        font-family: 'Mont-bold';
    }

.all-faq .panel-collapse .panel-body {
    padding: 20px;
    font-family: 'Hel-bold';
    font-size: 14px;
    color: #adadad;
    border: none !important;
}

    .all-faq .panel-collapse .panel-body p:last-child {
        margin-bottom: 0;
    }

.all-faq .panel-default + .panel-default {
    margin-top: 20px;
}

.common-faq {
    color: #353535;
}

    .common-faq .panel-heading {
        font-family: 'Mont';
        color: #fbb11a;
        letter-spacing: 1px;
    }

        .common-faq .panel-heading.collapsed {
            color: #adadad;
        }

    .common-faq h4.panel-title {
        font-size: 16px;
        margin-bottom: 30px;
        cursor: pointer;
        font-family: 'Mont-extra';
    }

    .common-faq .panel-collapse .panel-body {
        font-family: 'Hel-bold';
        color: #adadad;
    }

.table-border-bottom td {
    border-bottom: 1px solid #e1e1e1;
}

.table-border-bottom tr:last-child td {
    border-bottom: none;
}

.registration-login-form .form-group label.control-label {
    font-size: 14px;
    color: #515365;
}

.registration-login-form .form-group input.form-control {
    padding: 7px;
    padding-left: 0;
}

.registration-login-form .tab-content .form-group {
    margin-bottom: 15px;
}

.registration-login-form .form-group input {
    border: 0px;
    font-size: 14px;
}

.registration-login-form-popup {
    width: 470px;
}

.registration-login-form {
    border: 1px solid #e6ecf5;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    padding-left: 65px;
    margin-bottom: 20px;
    min-height: 540px;
    width: 100%;
}

    .registration-login-form .nav-tabs {
        float: left;
        display: block;
        height: 100%;
        border: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0
    }

    .registration-login-form .nav-item {
        margin-bottom: 0;
        height: 50%;
        display: table;
        float: none;
    }

    .registration-login-form .nav {
        margin-right: 0;
    }

    .registration-login-form .nav-item + .nav-item {
        margin-left: 0px;
    }

    .registration-login-form .nav-item p {
        font-size: 16px;
        font-family: Hel-bold;
    }

    .registration-login-form .nav-item:last-child .nav-link {
        border-bottom: 0
    }

    .registration-login-form .nav-link {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #e6ecf5 !important;
        border-right: 1px solid #e6ecf5 !important;
        padding: 5px;
        color: #c0c4d8;
        fill: #c0c4d8;
        background-color: #fafbfd;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        margin-right: 0;
    }

    .registration-login-form .nav-item.active .nav-link {
        fill: #ff5e3a;
        background-color: #FFECD0 !important;
        border: none;
    }

    .registration-login-form .material-icons {
        font-size: 32px;
    }

    .registration-login-form .nav-item.active .nav-link .material-icons,
    .registration-login-form .nav-item.active .nav-link p {
        color: #ff9800;
    }

    .registration-login-form .nav-link:hover {
        background-color: #eee;
    }

    .registration-login-form .nav-link svg {
        width: 21px;
        height: 21px
    }

    .registration-login-form .tab-content {
        overflow: hidden
    }

    .registration-login-form .content {
        padding: 10px 25px 30px;
    }

    .registration-login-form .title {
        padding: 20px 25px;
        border-bottom: 1px solid #e6ecf5;
        margin-bottom: 0;
        color: #515365;
        font-weight: 700;
        text-transform: none;
        font-size: 18px;
        margin-top: 0;
    }

    .registration-login-form p {
        margin-bottom: 0;
        font-size: 13px
    }

    .registration-login-form .remember {
        margin: 25px 0 15px;
        font-size: 14px;
    }

        .registration-login-form .remember .checkbox {
            display: inline-block;
            margin: 0;
        }

        .registration-login-form .remember .forgot {
            float: right;
            color: #27a2db;
            font-size: 14px;
        }

            .registration-login-form .remember .forgot:hover {
                color: #ff9800;
            }



.or {
    position: relative;
    width: 100%;
    height: 1px;
    margin: 1rem 0;
    background-color: #e6ecf5;
    color: #333;
}

    .or:after {
        content: 'OR';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 0 25px;
        font-size: 10px;
        z-index: 5
    }

@media (max-width:1920px) {
    .registration-login-form {
        padding-top: 71px;
        padding-left: 0
    }

        .registration-login-form .nav-tabs {
            bottom: auto;
            height: auto;
            width: 100%
        }

        .registration-login-form .nav-item {
            height: 100%;
            display: block;
            width: 50%;
            float: left;
            text-align: center
        }

        .registration-login-form .nav-link {
            display: block
        }

        .registration-login-form .nav-item:last-child .nav-link {
            border-bottom: 1px solid #e6ecf5
        }
}

.checkbox label {
    color: #515365;
    margin-bottom: 0;
}

.btn-login {
    background-color: #ff9800;
    color: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14), 0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12);
    padding: 8px 10px !important;
    margin: 10px 0px;
    font-size: 14px;
    font-weight: 400;
    border-radius: .25rem;
}

.bg-facebook,
.bg-google {
    color: #fff;
}


    .bg-facebook,
    .bg-facebook:hover {
        background-color: #2f5b9d;
        text-transform: none;
        font-size: 14px;
        padding: 8px 10px;
        margin: 10px 0px;
    }

.bg-twitter {
    background-color: #38bff1;
    text-transform: none;
    font-size: 14px;
    padding: 8px 10px;
    margin: 10px 0px;
}

.bg-google,
.bg-google:hover {
    background-color: #ea4235;
    text-transform: none;
    font-size: 14px;
    padding: 8px 10px;
    margin: 10px 0px;
}

    .bg-facebook:hover,
    .bg-google:hover,
    .btn-login:hover {
        box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
        color: #fff;
        transition: .5s;
    }

.btn-login:hover {
    background-color: #ff9800 !important;
}

.btn-icon-left .fa {
    margin-right: 10px;
}


.modal-dialog {
    pointer-events: visible;
}

.modal-open {
    overflow: auto;
    padding-right: 0 !important;
}

.full-width {
    width: 100%;
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.no-gutters {
    margin-right: 0;
    margin-left: 0
}

    .no-gutters > .col, .no-gutters > [class*=col-] {
        padding-right: 0;
        padding-left: 0
    }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.order-first {
    -ms-flex-order: -1;
    order: -1
}

.order-last {
    -ms-flex-order: 13;
    order: 13
}

.order-0 {
    -ms-flex-order: 0;
    order: 0
}

.order-1 {
    -ms-flex-order: 1;
    order: 1
}

.order-2 {
    -ms-flex-order: 2;
    order: 2
}

.order-3 {
    -ms-flex-order: 3;
    order: 3
}

.order-4 {
    -ms-flex-order: 4;
    order: 4
}

.order-5 {
    -ms-flex-order: 5;
    order: 5
}

.order-6 {
    -ms-flex-order: 6;
    order: 6
}

.order-7 {
    -ms-flex-order: 7;
    order: 7
}

.order-8 {
    -ms-flex-order: 8;
    order: 8
}

.order-9 {
    -ms-flex-order: 9;
    order: 9
}

.order-10 {
    -ms-flex-order: 10;
    order: 10
}

.order-11 {
    -ms-flex-order: 11;
    order: 11
}

.order-12 {
    -ms-flex-order: 12;
    order: 12
}

.offset-1 {
    margin-left: 8.333333%
}

.offset-2 {
    margin-left: 16.666667%
}

.offset-3 {
    margin-left: 25%
}

.offset-4 {
    margin-left: 33.333333%
}

.offset-5 {
    margin-left: 41.666667%
}

.offset-6 {
    margin-left: 50%
}

.offset-7 {
    margin-left: 58.333333%
}

.offset-8 {
    margin-left: 66.666667%
}

.offset-9 {
    margin-left: 75%
}

.offset-10 {
    margin-left: 83.333333%
}

.offset-11 {
    margin-left: 91.666667%
}

@media (min-width: 576px) {
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .col-sm-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .order-sm-first {
        -ms-flex-order: -1;
        order: -1
    }

    .order-sm-last {
        -ms-flex-order: 13;
        order: 13
    }

    .order-sm-0 {
        -ms-flex-order: 0;
        order: 0
    }

    .order-sm-1 {
        -ms-flex-order: 1;
        order: 1
    }

    .order-sm-2 {
        -ms-flex-order: 2;
        order: 2
    }

    .order-sm-3 {
        -ms-flex-order: 3;
        order: 3
    }

    .order-sm-4 {
        -ms-flex-order: 4;
        order: 4
    }

    .order-sm-5 {
        -ms-flex-order: 5;
        order: 5
    }

    .order-sm-6 {
        -ms-flex-order: 6;
        order: 6
    }

    .order-sm-7 {
        -ms-flex-order: 7;
        order: 7
    }

    .order-sm-8 {
        -ms-flex-order: 8;
        order: 8
    }

    .order-sm-9 {
        -ms-flex-order: 9;
        order: 9
    }

    .order-sm-10 {
        -ms-flex-order: 10;
        order: 10
    }

    .order-sm-11 {
        -ms-flex-order: 11;
        order: 11
    }

    .order-sm-12 {
        -ms-flex-order: 12;
        order: 12
    }

    .offset-sm-0 {
        margin-left: 0
    }

    .offset-sm-1 {
        margin-left: 8.333333%
    }

    .offset-sm-2 {
        margin-left: 16.666667%
    }

    .offset-sm-3 {
        margin-left: 25%
    }

    .offset-sm-4 {
        margin-left: 33.333333%
    }

    .offset-sm-5 {
        margin-left: 41.666667%
    }

    .offset-sm-6 {
        margin-left: 50%
    }

    .offset-sm-7 {
        margin-left: 58.333333%
    }

    .offset-sm-8 {
        margin-left: 66.666667%
    }

    .offset-sm-9 {
        margin-left: 75%
    }

    .offset-sm-10 {
        margin-left: 83.333333%
    }

    .offset-sm-11 {
        margin-left: 91.666667%
    }
}

@media (min-width: 768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .order-md-first {
        -ms-flex-order: -1;
        order: -1
    }

    .order-md-last {
        -ms-flex-order: 13;
        order: 13
    }

    .order-md-0 {
        -ms-flex-order: 0;
        order: 0
    }

    .order-md-1 {
        -ms-flex-order: 1;
        order: 1
    }

    .order-md-2 {
        -ms-flex-order: 2;
        order: 2
    }

    .order-md-3 {
        -ms-flex-order: 3;
        order: 3
    }

    .order-md-4 {
        -ms-flex-order: 4;
        order: 4
    }

    .order-md-5 {
        -ms-flex-order: 5;
        order: 5
    }

    .order-md-6 {
        -ms-flex-order: 6;
        order: 6
    }

    .order-md-7 {
        -ms-flex-order: 7;
        order: 7
    }

    .order-md-8 {
        -ms-flex-order: 8;
        order: 8
    }

    .order-md-9 {
        -ms-flex-order: 9;
        order: 9
    }

    .order-md-10 {
        -ms-flex-order: 10;
        order: 10
    }

    .order-md-11 {
        -ms-flex-order: 11;
        order: 11
    }

    .order-md-12 {
        -ms-flex-order: 12;
        order: 12
    }

    .offset-md-0 {
        margin-left: 0
    }

    .offset-md-1 {
        margin-left: 8.333333%
    }

    .offset-md-2 {
        margin-left: 16.666667%
    }

    .offset-md-3 {
        margin-left: 25%
    }

    .offset-md-4 {
        margin-left: 33.333333%
    }

    .offset-md-5 {
        margin-left: 41.666667%
    }

    .offset-md-6 {
        margin-left: 50%
    }

    .offset-md-7 {
        margin-left: 58.333333%
    }

    .offset-md-8 {
        margin-left: 66.666667%
    }

    .offset-md-9 {
        margin-left: 75%
    }

    .offset-md-10 {
        margin-left: 83.333333%
    }

    .offset-md-11 {
        margin-left: 91.666667%
    }
}

@media (min-width: 992px) {
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .col-lg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .order-lg-first {
        -ms-flex-order: -1;
        order: -1
    }

    .order-lg-last {
        -ms-flex-order: 13;
        order: 13
    }

    .order-lg-0 {
        -ms-flex-order: 0;
        order: 0
    }

    .order-lg-1 {
        -ms-flex-order: 1;
        order: 1
    }

    .order-lg-2 {
        -ms-flex-order: 2;
        order: 2
    }

    .order-lg-3 {
        -ms-flex-order: 3;
        order: 3
    }

    .order-lg-4 {
        -ms-flex-order: 4;
        order: 4
    }

    .order-lg-5 {
        -ms-flex-order: 5;
        order: 5
    }

    .order-lg-6 {
        -ms-flex-order: 6;
        order: 6
    }

    .order-lg-7 {
        -ms-flex-order: 7;
        order: 7
    }

    .order-lg-8 {
        -ms-flex-order: 8;
        order: 8
    }

    .order-lg-9 {
        -ms-flex-order: 9;
        order: 9
    }

    .order-lg-10 {
        -ms-flex-order: 10;
        order: 10
    }

    .order-lg-11 {
        -ms-flex-order: 11;
        order: 11
    }

    .order-lg-12 {
        -ms-flex-order: 12;
        order: 12
    }

    .offset-lg-0 {
        margin-left: 0
    }

    .offset-lg-1 {
        margin-left: 8.333333%
    }

    .offset-lg-2 {
        margin-left: 16.666667%
    }

    .offset-lg-3 {
        margin-left: 25%
    }

    .offset-lg-4 {
        margin-left: 33.333333%
    }

    .offset-lg-5 {
        margin-left: 41.666667%
    }

    .offset-lg-6 {
        margin-left: 50%
    }

    .offset-lg-7 {
        margin-left: 58.333333%
    }

    .offset-lg-8 {
        margin-left: 66.666667%
    }

    .offset-lg-9 {
        margin-left: 75%
    }

    .offset-lg-10 {
        margin-left: 83.333333%
    }

    .offset-lg-11 {
        margin-left: 91.666667%
    }

    .header .count.jackpot {
        width: 320px;
        height: 170px;
    }

    .header .countdown .count.jackpot .text-jackpot {
        font-size: 31px;
        margin-top: 15px;
        letter-spacing: 2px;
    }

    .header .countdown .count.jackpot .number-jackpot .number {
        font-size: 30px;
        height: 40px;
        width: 40px;
    }

    .header .countdown .count.jackpot .number-jackpot .text-btc {
        font-size: 30px;
    }

    .header .countdown .count.jackpot .number-jackpot {
        position: relative;
        bottom: 0;
    }

    .header .countdown .count.jackpot .price-usd {
        margin-left: 20px;
        letter-spacing: 2px;
        margin-top: 8px;
        font-size: 24px;
        position: relative;
        bottom: 0;
        left: 0;
    }
}

@media (min-width: 1200px) {
    .col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .col-xl-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .col-xl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-xl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-xl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-xl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-xl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-xl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-xl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-xl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-xl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-xl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .order-xl-first {
        -ms-flex-order: -1;
        order: -1
    }

    .order-xl-last {
        -ms-flex-order: 13;
        order: 13
    }

    .order-xl-0 {
        -ms-flex-order: 0;
        order: 0
    }

    .order-xl-1 {
        -ms-flex-order: 1;
        order: 1
    }

    .order-xl-2 {
        -ms-flex-order: 2;
        order: 2
    }

    .order-xl-3 {
        -ms-flex-order: 3;
        order: 3
    }

    .order-xl-4 {
        -ms-flex-order: 4;
        order: 4
    }

    .order-xl-5 {
        -ms-flex-order: 5;
        order: 5
    }

    .order-xl-6 {
        -ms-flex-order: 6;
        order: 6
    }

    .order-xl-7 {
        -ms-flex-order: 7;
        order: 7
    }

    .order-xl-8 {
        -ms-flex-order: 8;
        order: 8
    }

    .order-xl-9 {
        -ms-flex-order: 9;
        order: 9
    }

    .order-xl-10 {
        -ms-flex-order: 10;
        order: 10
    }

    .order-xl-11 {
        -ms-flex-order: 11;
        order: 11
    }

    .order-xl-12 {
        -ms-flex-order: 12;
        order: 12
    }

    .offset-xl-0 {
        margin-left: 0
    }

    .offset-xl-1 {
        margin-left: 8.333333%
    }

    .offset-xl-2 {
        margin-left: 16.666667%
    }

    .offset-xl-3 {
        margin-left: 25%
    }

    .offset-xl-4 {
        margin-left: 33.333333%
    }

    .offset-xl-5 {
        margin-left: 41.666667%
    }

    .offset-xl-6 {
        margin-left: 50%
    }

    .offset-xl-7 {
        margin-left: 58.333333%
    }

    .offset-xl-8 {
        margin-left: 66.666667%
    }

    .offset-xl-9 {
        margin-left: 75%
    }

    .offset-xl-10 {
        margin-left: 83.333333%
    }

    .offset-xl-11 {
        margin-left: 91.666667%
    }
}

.flex-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important
}

.flex-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important
}

.flex-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important
}

.flex-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important
}

.flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important
}

.flex-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important
}

.flex-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important
}

.flex-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important
}

.flex-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important
}

.flex-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important
}

.justify-content-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important
}

.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important
}

.justify-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important
}

.align-items-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important
}

.align-items-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important
}

.align-items-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important
}

.align-items-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important
}

.align-content-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important
}

.align-content-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important
}

.align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important
}

.align-content-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important
}

.align-content-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important
}

.align-content-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important
}

.align-self-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important
}

.align-self-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important
}

.align-self-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important
}

.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important
}

.align-self-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important
}

.align-self-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important
}

@media (min-width: 576px) {
    .flex-sm-row {
        -ms-flex-direction: row !important;
        flex-direction: row !important
    }

    .flex-sm-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important
    }

    .flex-sm-row-reverse {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important
    }

    .flex-sm-column-reverse {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important
    }

    .flex-sm-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important
    }

    .flex-sm-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important
    }

    .flex-sm-wrap-reverse {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important
    }

    .flex-sm-fill {
        -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important
    }

    .flex-sm-grow-0 {
        -ms-flex-positive: 0 !important;
        flex-grow: 0 !important
    }

    .flex-sm-grow-1 {
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important
    }

    .flex-sm-shrink-0 {
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important
    }

    .flex-sm-shrink-1 {
        -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important
    }

    .justify-content-sm-start {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important
    }

    .justify-content-sm-end {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important
    }

    .justify-content-sm-center {
        -ms-flex-pack: center !important;
        justify-content: center !important
    }

    .justify-content-sm-between {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important
    }

    .justify-content-sm-around {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important
    }

    .align-items-sm-start {
        -ms-flex-align: start !important;
        align-items: flex-start !important
    }

    .align-items-sm-end {
        -ms-flex-align: end !important;
        align-items: flex-end !important
    }

    .align-items-sm-center {
        -ms-flex-align: center !important;
        align-items: center !important
    }

    .align-items-sm-baseline {
        -ms-flex-align: baseline !important;
        align-items: baseline !important
    }

    .align-items-sm-stretch {
        -ms-flex-align: stretch !important;
        align-items: stretch !important
    }

    .align-content-sm-start {
        -ms-flex-line-pack: start !important;
        align-content: flex-start !important
    }

    .align-content-sm-end {
        -ms-flex-line-pack: end !important;
        align-content: flex-end !important
    }

    .align-content-sm-center {
        -ms-flex-line-pack: center !important;
        align-content: center !important
    }

    .align-content-sm-between {
        -ms-flex-line-pack: justify !important;
        align-content: space-between !important
    }

    .align-content-sm-around {
        -ms-flex-line-pack: distribute !important;
        align-content: space-around !important
    }

    .align-content-sm-stretch {
        -ms-flex-line-pack: stretch !important;
        align-content: stretch !important
    }

    .align-self-sm-auto {
        -ms-flex-item-align: auto !important;
        align-self: auto !important
    }

    .align-self-sm-start {
        -ms-flex-item-align: start !important;
        align-self: flex-start !important
    }

    .align-self-sm-end {
        -ms-flex-item-align: end !important;
        align-self: flex-end !important
    }

    .align-self-sm-center {
        -ms-flex-item-align: center !important;
        align-self: center !important
    }

    .align-self-sm-baseline {
        -ms-flex-item-align: baseline !important;
        align-self: baseline !important
    }

    .align-self-sm-stretch {
        -ms-flex-item-align: stretch !important;
        align-self: stretch !important
    }
}

@media (min-width: 768px) {
    .flex-md-row {
        -ms-flex-direction: row !important;
        flex-direction: row !important
    }

    .flex-md-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important
    }

    .flex-md-row-reverse {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important
    }

    .flex-md-column-reverse {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important
    }

    .flex-md-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important
    }

    .flex-md-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important
    }

    .flex-md-wrap-reverse {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important
    }

    .flex-md-fill {
        -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important
    }

    .flex-md-grow-0 {
        -ms-flex-positive: 0 !important;
        flex-grow: 0 !important
    }

    .flex-md-grow-1 {
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important
    }

    .flex-md-shrink-0 {
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important
    }

    .flex-md-shrink-1 {
        -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important
    }

    .justify-content-md-start {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important
    }

    .justify-content-md-end {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important
    }

    .justify-content-md-center {
        -ms-flex-pack: center !important;
        justify-content: center !important
    }

    .justify-content-md-between {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important
    }

    .justify-content-md-around {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important
    }

    .align-items-md-start {
        -ms-flex-align: start !important;
        align-items: flex-start !important
    }

    .align-items-md-end {
        -ms-flex-align: end !important;
        align-items: flex-end !important
    }

    .align-items-md-center {
        -ms-flex-align: center !important;
        align-items: center !important
    }

    .align-items-md-baseline {
        -ms-flex-align: baseline !important;
        align-items: baseline !important
    }

    .align-items-md-stretch {
        -ms-flex-align: stretch !important;
        align-items: stretch !important
    }

    .align-content-md-start {
        -ms-flex-line-pack: start !important;
        align-content: flex-start !important
    }

    .align-content-md-end {
        -ms-flex-line-pack: end !important;
        align-content: flex-end !important
    }

    .align-content-md-center {
        -ms-flex-line-pack: center !important;
        align-content: center !important
    }

    .align-content-md-between {
        -ms-flex-line-pack: justify !important;
        align-content: space-between !important
    }

    .align-content-md-around {
        -ms-flex-line-pack: distribute !important;
        align-content: space-around !important
    }

    .align-content-md-stretch {
        -ms-flex-line-pack: stretch !important;
        align-content: stretch !important
    }

    .align-self-md-auto {
        -ms-flex-item-align: auto !important;
        align-self: auto !important
    }

    .align-self-md-start {
        -ms-flex-item-align: start !important;
        align-self: flex-start !important
    }

    .align-self-md-end {
        -ms-flex-item-align: end !important;
        align-self: flex-end !important
    }

    .align-self-md-center {
        -ms-flex-item-align: center !important;
        align-self: center !important
    }

    .align-self-md-baseline {
        -ms-flex-item-align: baseline !important;
        align-self: baseline !important
    }

    .align-self-md-stretch {
        -ms-flex-item-align: stretch !important;
        align-self: stretch !important
    }
}

@media (min-width: 992px) {
    .flex-lg-row {
        -ms-flex-direction: row !important;
        flex-direction: row !important
    }

    .flex-lg-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important
    }

    .flex-lg-row-reverse {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important
    }

    .flex-lg-column-reverse {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important
    }

    .flex-lg-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important
    }

    .flex-lg-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important
    }

    .flex-lg-wrap-reverse {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important
    }

    .flex-lg-fill {
        -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important
    }

    .flex-lg-grow-0 {
        -ms-flex-positive: 0 !important;
        flex-grow: 0 !important
    }

    .flex-lg-grow-1 {
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important
    }

    .flex-lg-shrink-0 {
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important
    }

    .flex-lg-shrink-1 {
        -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important
    }

    .justify-content-lg-start {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important
    }

    .justify-content-lg-end {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important
    }

    .justify-content-lg-center {
        -ms-flex-pack: center !important;
        justify-content: center !important
    }

    .justify-content-lg-between {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important
    }

    .justify-content-lg-around {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important
    }

    .align-items-lg-start {
        -ms-flex-align: start !important;
        align-items: flex-start !important
    }

    .align-items-lg-end {
        -ms-flex-align: end !important;
        align-items: flex-end !important
    }

    .align-items-lg-center {
        -ms-flex-align: center !important;
        align-items: center !important
    }

    .align-items-lg-baseline {
        -ms-flex-align: baseline !important;
        align-items: baseline !important
    }

    .align-items-lg-stretch {
        -ms-flex-align: stretch !important;
        align-items: stretch !important
    }

    .align-content-lg-start {
        -ms-flex-line-pack: start !important;
        align-content: flex-start !important
    }

    .align-content-lg-end {
        -ms-flex-line-pack: end !important;
        align-content: flex-end !important
    }

    .align-content-lg-center {
        -ms-flex-line-pack: center !important;
        align-content: center !important
    }

    .align-content-lg-between {
        -ms-flex-line-pack: justify !important;
        align-content: space-between !important
    }

    .align-content-lg-around {
        -ms-flex-line-pack: distribute !important;
        align-content: space-around !important
    }

    .align-content-lg-stretch {
        -ms-flex-line-pack: stretch !important;
        align-content: stretch !important
    }

    .align-self-lg-auto {
        -ms-flex-item-align: auto !important;
        align-self: auto !important
    }

    .align-self-lg-start {
        -ms-flex-item-align: start !important;
        align-self: flex-start !important
    }

    .align-self-lg-end {
        -ms-flex-item-align: end !important;
        align-self: flex-end !important
    }

    .align-self-lg-center {
        -ms-flex-item-align: center !important;
        align-self: center !important
    }

    .align-self-lg-baseline {
        -ms-flex-item-align: baseline !important;
        align-self: baseline !important
    }

    .align-self-lg-stretch {
        -ms-flex-item-align: stretch !important;
        align-self: stretch !important
    }
}

@media (min-width: 1200px) {
    .flex-xl-row {
        -ms-flex-direction: row !important;
        flex-direction: row !important
    }

    .flex-xl-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important
    }

    .flex-xl-row-reverse {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important
    }

    .flex-xl-column-reverse {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important
    }

    .flex-xl-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important
    }

    .flex-xl-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important
    }

    .flex-xl-wrap-reverse {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important
    }

    .flex-xl-fill {
        -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important
    }

    .flex-xl-grow-0 {
        -ms-flex-positive: 0 !important;
        flex-grow: 0 !important
    }

    .flex-xl-grow-1 {
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important
    }

    .flex-xl-shrink-0 {
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important
    }

    .flex-xl-shrink-1 {
        -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important
    }

    .justify-content-xl-start {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important
    }

    .justify-content-xl-end {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important
    }

    .justify-content-xl-center {
        -ms-flex-pack: center !important;
        justify-content: center !important
    }

    .justify-content-xl-between {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important
    }

    .justify-content-xl-around {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important
    }

    .align-items-xl-start {
        -ms-flex-align: start !important;
        align-items: flex-start !important
    }

    .align-items-xl-end {
        -ms-flex-align: end !important;
        align-items: flex-end !important
    }

    .align-items-xl-center {
        -ms-flex-align: center !important;
        align-items: center !important
    }

    .align-items-xl-baseline {
        -ms-flex-align: baseline !important;
        align-items: baseline !important
    }

    .align-items-xl-stretch {
        -ms-flex-align: stretch !important;
        align-items: stretch !important
    }

    .align-content-xl-start {
        -ms-flex-line-pack: start !important;
        align-content: flex-start !important
    }

    .align-content-xl-end {
        -ms-flex-line-pack: end !important;
        align-content: flex-end !important
    }

    .align-content-xl-center {
        -ms-flex-line-pack: center !important;
        align-content: center !important
    }

    .align-content-xl-between {
        -ms-flex-line-pack: justify !important;
        align-content: space-between !important
    }

    .align-content-xl-around {
        -ms-flex-line-pack: distribute !important;
        align-content: space-around !important
    }

    .align-content-xl-stretch {
        -ms-flex-line-pack: stretch !important;
        align-content: stretch !important
    }

    .align-self-xl-auto {
        -ms-flex-item-align: auto !important;
        align-self: auto !important
    }

    .align-self-xl-start {
        -ms-flex-item-align: start !important;
        align-self: flex-start !important
    }

    .align-self-xl-end {
        -ms-flex-item-align: end !important;
        align-self: flex-end !important
    }

    .align-self-xl-center {
        -ms-flex-item-align: center !important;
        align-self: center !important
    }

    .align-self-xl-baseline {
        -ms-flex-item-align: baseline !important;
        align-self: baseline !important
    }

    .align-self-xl-stretch {
        -ms-flex-item-align: stretch !important;
        align-self: stretch !important
    }
}




.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

    .nav.nav-about > li > a {
        display: inline;
        padding: 0;
    }

    .nav > li > a:focus, .nav > li > a:hover {
        background-color: transparent;
    }


.registration-login-form .form-control,
.registration-login-form .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#ff9800, #ff9800), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
}

    .registration-login-form .form-control::-moz-placeholder,
    .registration-login-form .form-group .form-control::-moz-placeholder {
        color: #AAAAAA;
        font-weight: 400;
    }

    .registration-login-form .form-control:-ms-input-placeholder,
    .registration-login-form .form-group .form-control:-ms-input-placeholder {
        color: #AAAAAA;
        font-weight: 400;
    }

    .registration-login-form .form-control::-webkit-input-placeholder,
    .registration-login-form .form-group .form-control::-webkit-input-placeholder {
        color: #AAAAAA;
        font-weight: 400;
    }

    .registration-login-form .form-control[readonly],
    .registration-login-form .form-control[disabled],
    .registration-login-form fieldset[disabled] .form-control,
    .registration-login-form .form-group .form-control[readonly],
    .registration-login-form .form-group .form-control[disabled],
    .registration-login-form fieldset[disabled] .form-group .form-control {
        background-color: rgba(0, 0, 0, 0);
    }

    .registration-login-form .form-control[disabled],
    .registration-login-form fieldset[disabled] .form-control,
    .registration-login-form .form-group .form-control[disabled],
    .registration-login-form fieldset[disabled] .form-group .form-control {
        background-image: none;
        border-bottom: 1px dotted #D2D2D2;
    }

.registration-login-form .form-group {
    position: relative;
}

    .registration-login-form .form-group.label-static label.control-label,
    .registration-login-form .form-group.label-placeholder label.control-label,
    .registration-login-form .form-group.label-floating label.control-label {
        position: absolute;
        pointer-events: none;
        transition: 0.3s ease all;
    }

    .registration-login-form .form-group.label-floating label.control-label {
        will-change: left, top, contents;
    }

    .registration-login-form .form-group.label-placeholder:not(.is-empty) label.control-label {
        display: none;
    }

    .registration-login-form .form-group .help-block {
        position: absolute;
        display: none;
    }

    .registration-login-form .form-group .form-control.valid:focus {
        background-image: linear-gradient(#ff9800, #ff9800), linear-gradient(#D2D2D2, #D2D2D2);
    }

    .registration-login-form .form-group.is-focused .form-control {
        outline: none;
        background-image: linear-gradient(#ff9800, #ff9800), linear-gradient(#D2D2D2, #D2D2D2);
        background-size: 100% 2px, 100% 1px;
        box-shadow: none;
        transition-duration: 0.3s;
    }

        .registration-login-form .form-group.is-focused .form-control .material-input:after {
            background-color: #ff9800;
        }

    .registration-login-form .form-group.is-focused.form-info .form-control {
        background-image: linear-gradient(#27a2db, #27a2db), linear-gradient(#D2D2D2, #D2D2D2);
    }

    .registration-login-form .form-group.is-focused.form-success .form-control {
        background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#D2D2D2, #D2D2D2);
    }

    .registration-login-form .form-group.is-focused.form-warning .form-control {
        background-image: linear-gradient(#ff9800, #ff9800), linear-gradient(#D2D2D2, #D2D2D2);
    }

    .registration-login-form .form-group.is-focused.form-danger .form-control {
        background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2);
    }

    .registration-login-form .form-group.is-focused.form-white .form-control {
        background-image: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(#D2D2D2, #D2D2D2);
    }

    .registration-login-form .form-group.is-focused.label-placeholder label,
    .form-group.is-focused.label-placeholder label.control-label {
        color: #AAAAAA;
    }

    .registration-login-form .form-group.is-focused .help-block {
        display: block;
    }

    .registration-login-form .form-group.has-warning .form-control {
        box-shadow: none;
    }

    .registration-login-form .form-group.has-warning.is-focused .form-control {
        background-image: linear-gradient(#ff9800, #ff9800), linear-gradient(#D2D2D2, #D2D2D2);
    }

    .registration-login-form .form-group.has-warning label.control-label,
    .registration-login-form .form-group.has-warning .help-block {
        color: #ff9800;
    }

    .registration-login-form .form-group.has-error .form-control {
        box-shadow: none;
    }

    .registration-login-form .form-group.has-error.is-focused .form-control {
        background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2);
    }

    .registration-login-form .form-group.has-error .form-control {
        background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2);
        background-size: 100% 2px, 100% 1px;
        transition-duration: 0.3s;
    }

    .registration-login-form .form-group.has-error label.control-label,
    .registration-login-form .form-group.has-error .help-block {
        color: #f44336;
    }

    .registration-login-form .form-group.has-success .form-control {
        box-shadow: none;
    }

    .registration-login-form .form-group.has-success.is-focused .form-control {
        background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#D2D2D2, #D2D2D2);
    }

    .registration-login-form .form-group.has-success label.control-label,
    .registration-login-form .form-group.has-success .help-block {
        color: #4caf50;
    }

    .registration-login-form .form-group.has-info .form-control {
        box-shadow: none;
    }

    .registration-login-form .form-group.has-info.is-focused .form-control {
        background-image: linear-gradient(#27a2db, #27a2db), linear-gradient(#D2D2D2, #D2D2D2);
    }

    .registration-login-form .form-group.has-info label.control-label,
    .registration-login-form .form-group.has-info .help-block {
        color: #27a2db;
    }

    .registration-login-form .form-group textarea,
    .registration-login-form .form-group input {
        resize: none; 
        zoom: 1;
    }

        .registration-login-form .form-group textarea ~ .form-control-highlight {
            margin-top: -11px;
        }

    .registration-login-form .form-group select {
        appearance: none;
    }

        .registration-login-form .form-group select ~ .material-input:after {
            display: none;
        }

.registration-login-form .form-control::-moz-placeholder {
    font-size: 14px;
    line-height: 1.428571429;
    color: #AAAAAA;
    font-weight: 400;
}

.registration-login-form .form-control:-ms-input-placeholder {
    font-size: 14px;
    line-height: 1.428571429;
    color: #AAAAAA;
    font-weight: 400;
}

.registration-login-form .form-control::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 1.428571429;
    color: #AAAAAA;
    font-weight: 400;
}

/* alert*/

.ajs-message {
    border: none;
    border-radius: 0;
    position: relative;
    padding: 20px 15px;
    line-height: 20px;
    font-size: 14px;
}

.alertify-notifier .ajs-message.ajs-error {
    background-color: #f55a4e !important;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
    border: none;
    text-shadow: none;
}

.alertify-notifier .ajs-message.ajs-success {
    background-color: #5cb860 !important;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
    border: none;
    text-shadow: none;
}

.field-validation-error {
    color: red;
    font-size: 14px;
}


.mt-0 {
    margin-top: 0 !important;
}

.mt-30 {
    margin-top: 30px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.pl-50 {
    padding-left: 50px;
}

.pr-50 {
    padding-right: 50px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.pr-30 {
    padding-right: 30px;
}

.pl-17 {
    padding-left: 17px;
}



@media (max-width: 1600px) {
    .main-content .content-right .recent {
        padding: 50px 30px;
    }

        .main-content .content-right .recent .number-ticket {
            margin: 0 2px;
            padding: 10px 8px;
        }
}

@media (max-width: 1400px) {
    .content {
        width: 100% !important;
        padding: 0 30px;
    }

    .main-content .content-right .free-ticket {
        width: 90%;
        margin: 0 auto;
        padding: 100px 0 50px;
    }

        .main-content .content-right .free-ticket .img-3 {
            right: 0;
        }

    .main-content .content-right .partner .slick-partner {
        width: 90%;
        margin: 50px auto 0;
    }

    .main-content .content-right .frequency .content {
        padding: 0;
    }

        .main-content .content-right .frequency .content .chart .bar {
            margin: 3px;
        }

    .main-content .content-right .recent .date {
        letter-spacing: 0px;
    }
}

@media (max-width: 1280px) {
    .main-content .content-right .recent .number-ticket {
        margin: 0 1px;
        padding: 8px 5px;
    }

    .main-content .content-right .odd-winning .content .pr-50 {
        padding-right: 15px;
    }

    .main-content .content-right .odd-winning .content .pl-50 {
        padding-left: 15px;
    }
}

@media (max-width: 1200px) {
    .nav-menu {
        position: relative;
        padding: 0 30px;
        top: 20px;
    }

    .main-content .content-left {
        display: none;
    }

    .main-content .content-right {
        width: 100%;
        padding-top: 100px;
    }

    .logo-favicon {
        display: block;
        width: 48px;
    }

    .logo-jackpot {
        display: none;
    }
}

@media (max-width: 1000px) {
    .main-content .content-right .winner-story .content .slick-list {
        margin: 0;
    }

    .img-1,
    .img-2,
    .img-3,
    .img-4 {
        display: none !important;
    }
}

@media (max-width: 900px) {
    .header {
        background-size: cover;
    }
}

@media (max-width: 768px) {
    .main-content .content-right .about .content img {
        display: none;
    }

    .main-content .content-right .winner-story .content .slick-list {
        margin: 0;
    }

    .main-content .content-right .recent .pr-50,
    .main-content .content-right .recent .pl-50 {
        padding: 20px 15px;
    }

    .countdown .count.jackpot {
        position: relative;
        margin-top: 20px;
    }

    .number-free {
        margin-bottom: 30px;
    }

    .border-left {
        border-left: 0px !important;
    }

    .bg-yellow.top {
        padding-bottom: 0;
    }

    .bg-yellow.bottom {
        padding-top: 0;
    }

    .main-content .content-right .odd-winning .block:last-child {
        border-bottom: 1px solid #fcc34f;
        padding: 10px 0;
    }

    .main-content .content-right .odd-winning .block:first-child {
        padding: 10px 0;
    }

    .main-content .content-right .odd-winning .bottom .block:last-child {
        border-bottom: 0;
    }

    .mb-40 {
        margin-bottom: 20px;
    }

    .main-content .content-right .recent h4 {
        margin-bottom: 30px;
    }

    .main-content .content-right .recent .number-ticket {
        padding: 10px 10px;
    }

    .main-content .content-right .frequency .content .chart {
        display: block;
        height: 100%;
    }

        .main-content .content-right .frequency .content .chart .bar {
            display: inline-block;
            height: 93px;
            width: 25px;
            margin: 20px 5px;
        }

    .nav-menu {
        padding: 0 30px;
    }

    .container {
        padding: 0 30px;
        max-width: 100%;
    }

    .content-header .btn.btn-default.btn-lg {
        margin-bottom: 20px;
    }

    .countdown {
        margin-bottom: 30px;
    }

    .main-content.contact-us .contact .content .helpful img,
    #slick-term-story {
        margin-top: 30px;
    }
}

@media (width: 768px) {
    .main-content .content-right .about .content img {
        display: block;
    }

        .main-content .content-right .about .content img.pr-30 {
            padding-right: 0;
        }

    .footer .pr-50 {
        padding-right: 0;
    }

    .main-content .content-right .recent .number-ticket {
        padding: 8px 5px;
    }
}

@media (max-width: 500px) {

    .main-content .content-right {
        padding-top: 50px;
    } 
    .main-content .content-right .free-ticket {
        padding-top: 0;
    }

    .main-content .content-right .frequency {
        padding: 20px;
    }

        .main-content .content-right .frequency .content .chart {
            padding: 0 0 50px;
        }

    .main-content .content-right .agent {
        height: 400px;
    }

        .main-content .content-right .agent .content {
            padding-top: 50px;
        }

    .main-content .content-right .recent {
        padding: 30px;
    }

        .main-content .content-right .recent .date {
            font-size: 16px;
            letter-spacing: 0;
        }

        .main-content .content-right .recent .number-ticket {
            padding: 8px 5px;
        }

    .main-content .content-right .partner {
        padding: 30px;
    }

        .main-content .content-right .partner .content {
            padding: 0;
        }

    .slick-arrow {
        display: none !important;
    }

    h2 {
        font-size: 36px;
    }

    .countdown .count {
        width: 90px;
        height: 90px;
        margin-right: 5px;
    }

        .countdown .count .time {
            font-size: 40px;
        }

        .countdown .count.jackpot {
            height: 110px;
        }

    .nav-button {
        padding: 10px;
    }

    .nav-item .btn-primary {
        padding: 8px 20px !important;
    }

    .logo-favicon {
        width: 40px;
    }

    .nav li + li {
        margin-left: 10px;
    }

    .nav-menu {
        padding: 0 20px;
    }

    .main-content .content-right .winner-story .content .slick-slide {
        margin: 0;
    }

    .main-content .content-right .recent .number-ticket {
        margin: 0;
    }

    .main-content .content-right .odd-winning .block .title {
        letter-spacing: 0px;
    }

    .main-content .content-right .odd-winning .block span {
        font-size: 16px;
    }

    .content,
    .container {
        padding: 0 20px;
    }

    .bg-yellow,
    .main-content .content-right .recent {
        padding: 20px;
    }

    .main-content .content-right .winner-story {
        padding: 50px 0;
    }

    .footer .pr-50 {
        padding-right: 15px;
    }

    .footer .pl-50 {
        padding-left: 15px;
    }

    .content-header {
        padding-top: 160px;
    }

    .main-content .nav-about a {
        letter-spacing: 0;
        margin-right: 0;
    }

    .registration-login-form-popup {
        width: 350px;
        margin: 50px auto 0;
    }
}

@media (max-width: 350px) {
    .container {
        padding: 0 20px;
    }

    h2 {
        font-size: 30px;
    }

    .countdown .count {
        width: 85px;
    }
}
