﻿.loadingPage {
    background: rgb(0, 0, 0);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 9999;
}

    .loadingPage img {
        position: absolute;
        z-index: 99999;
        left: 0;
        right: 0;
        height: 115px;
        top: 0;
        margin: auto;
        bottom: 0;
    }

.popupModalVideo {
    /*width:800px !important;*/
    top: 15%;
    min-height: 500px !important;
}

    .popupModalVideo .modal-content {
        min-height: 500px !important;
    }

#video-view {
    width: 100%;
}

.class-video {
    width: 100%;
}

#video-view .class-video iframe {
    width: 100% !important;
    height: 500px !important;
}

.btnClosePopupVideo {
    border: none;
    background: none;
    color: gray;
    float: right;
}

.custom-btn {
    background-color: #FF9501 !important;
    border: none;
    padding: 7px 30px;
    transition: .7s;
}

.custom-label {
    color: red;
}

.margin-bottom-5px {
    margin-bottom: 5px !important;
}
