﻿<div class="header" style="min-height:667px;">
    <div class="container">
        <div class="content-header">
            <div class="row">
                <div class="col-lg-8 col-md-9">
                    <h2 class="mont-bold">TRANSPARENT</h2>
                    <h5 class="mont">and fair jackpot is here</h5>
                    <div class="countdown">
                        <span class="count">
                            <span class="text">Hours</span>
                            <span class="time hours"></span>
                        </span>
                        <span class="count">
                            <span class="text">Minutes</span>
                            <span class="time minutes"></span>
                        </span>
                        <span class="count second">
                            <span class="text">Seconds</span>
                            <span class="time seconds"></span>
                        </span>
                        <span class="count jackpot">
                            <div class="text-jackpot">JACKPOT POOL</div>
                            @Html.Raw(ViewBag.GenJackPot)
                            <div class="price-usd">
                                <span id="spanUSD" class="c-yellow">0</span>
                                <span>USD</span>
                            </div>
                        </span>
                    </div>
                    <button onclick="window.location.href='/play-game'" class="btn btn-default btn-lg">PLAY NOW</button>
                </div>
                <div class="col-lg-4 col-md-3">
                </div>
            </div>
        </div>
    </div>
</div>
