﻿
@{
    Layout = "~/Views/Home/_LayoutLandingPageLotte.cshtml";
}
<div class="main-content">
    <!--Header-->
    @{Html.RenderAction("ContentLeft", "Home");}
    <!--End header-->
    <div class="content-right how-to-play">

        <div class="video">
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="mont">FULL <span class="f-spec">INFORMATION</span> <br> ON HOW TO <span class="f-spec">PLAY</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="join-game">
            <div class="content">
                <h3 class="hel-bold">THREE STEPS TO JOIN THE GAME</h3>
                <div class="row">
                    <div class="col-md-8">
                        <ul class="nav nav-about">
                            <li class="active"><a data-toggle="tab" href="#step1">Step 1</a></li>
                            <li><a data-toggle="tab" href="#step2">Step 2</a></li>
                            <li><a data-toggle="tab" href="#step3">Step 3</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="step1" class="tab-pane active">
                                <h4 class="hel-bold">Deposit Bitcoin</h4>
                                <p>Register account (Free)</p>
                                <p>Deposit Bitcoin into your wallet</p>
                            </div>
                            <div id="step2" class="tab-pane">
                                <h4 class="hel-bold">Buy tickets</h4>
                                <p>Simple select 05 main numbers from 01 to 39, and 01 CarBall from 01 to 18. You can win up the Jackpot for matching 06 main numbers. The 06 main numbers are NOT compulsory UNORDERED SET NUMBERS</p>
                                <p>Ticket price: 0,0002 BTC</p>
                            </div>
                            <div id="step3" class="tab-pane">
                                <h4 class="hel-bold">Drawing results & time</h4>
                                <p>You can win Jackpot for matching 05 main numbers and 01 CarBall. </p>
                                <p>Besides Jackpot, you can have a chance to win other 09 prizes.</p>
                                <p>Payout fee for award (the fee for winners to claim the prize and services for company):</p>
                                <ul>
                                    <li>Jackpot: 5%</li>
                                    <li>First prize: 4%</li>
                                    <li>Second prize: 3%</li>
                                    <li>Third prize: 2%</li>
                                </ul>
                                <p>12:00 UTC – End of selling ticket </p>
                                <p>13:00 UTC – Start to draw </p>
                                <p>13:30 UTC – End of drawing </p>
                                <p>14:00 UTC – Start new ticket sales </p>
                                <p>Drawing time: Tuesday, Thursday & Saturday (Weekly).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
        @{Html.RenderAction("Footer", "Home");}
    </div>
</div>
