﻿@{
    Layout = "~/Views/Home/_LayoutLandingPageLotte.cshtml";
}
<!--Header-->
@{Html.RenderAction("Header", "Home");}
<!--End header-->
<div class="main-content">
    <!--Header-->
    @{Html.RenderAction("ContentLeft", "Home");}
    <!--End header-->
    <div class="content-right">
        <div class="free-ticket">
            <div class="row">
                <div class="col-md-7">
                    <h3 class="hel-bold c-grey">FREE TICKETS ARE LIMITED <br>FOR REGISTRATION & REFERRAL</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <p>Whether you believe in luck or a smart investment? Have you ever buy any lotto ticket on blockchain? If not, why not buy our CSC Jackpot lotto tickets?  In August 2018, we‘ve got 10.000 free tickets. Please do not hesitate to claim your free tickets and enjoy to play here. </p>
                </div>
                <div class="col-md-5">
                    @Html.Raw(ViewBag.FreeTicketRemaning)
                </div>
            </div>
            <button onclick="window.location.href='/play-game'" class="btn btn-primary">Get a free ticket</button>
            <div class="img-1"></div>
            <div class="img-2"></div>
            <div class="img-3"></div>
        </div>
        <div class="about mt-0">
            <div class="content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <img class="img-responsive pr-30" src="~/Content/LandingPageLotte/assets/img/bg/about.png" alt="">
                    </div>
                    <div class="col-lg-8 col-md-6 col-12">
                        <h3 class="hel-bold mt-0">ABOUT US</h3>
                        <h5>CSC Jackpot</h5>
                        <p>The CSC Jackpot is a digital lottery style game based on blockchain technology that ensures fairness of the draw and absolute transparency of the result. </p>
                        <p>A transparent prize fund that is based on ticket sales and a fair draw process that can be verified by the user on the CSC Jakcpot website make this the safest and most secure way to win! </p>
                        <p>There is a lot to play for with exciting cash prizes each day and a monthly jackpot!</p>
                        <p>To enter the draw, users can purchase tokens from </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="agent">
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="hel-bold">LINK AS AGENTS</h3>
                        <p class="mb-20">Want to become an agent? Opportunity to increase your revenue and earn higher benefits according to our amazing bonus system. Everything you need to know about agent opportunities is right here.</p>
                        <a href="https://mycarcoin.com/register" target="_blank" class="btn btn-primary" type="button">Join now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="recent">
            <div class="row">
                @{Html.RenderAction("LoaddTransactionBookingOrderByDate", "Home");}
                @{Html.RenderAction("ListAwardMegaball", "Home");}

            </div>
        </div>
        @{Html.RenderAction("StatisticNumber", "Home");}
        <div class="odd-winning">
            <div class="content">
                <h3 class="hel-bold">ODDS OF WINNING</h3>
                <div class="row justify-content-bet">
                    <div class="col-md-6 col-12 pr-50">
                        <div class="bg-yellow top">
                            <div class="block">
                                <div class="row">
                                    <div class="col-5">
                                        <span class="title">JACKPOT</span>
                                    </div>
                                    <div class="col-7 text-right">
                                        <span>1 : 10,363,626</span>
                                    </div>
                                </div>
                            </div>
                            <div class="block">
                                <div class="row">
                                    <div class="col-5">
                                        <span class="title">1ST PRIZE</span>
                                    </div>
                                    <div class="col-7 text-right">
                                        <span>1 : 543,770</span>
                                    </div>
                                </div>
                            </div>
                            <div class="block">
                                <div class="row">
                                    <div class="col-5">
                                        <span class="title">2ND PRIZE</span>
                                    </div>
                                    <div class="col-7 text-right">
                                        <span>1 : 60,962</span>
                                    </div>
                                </div>
                            </div>
                            <div class="block">
                                <div class="row">
                                    <div class="col-5">
                                        <span class="title">3RD PRIZE</span>
                                    </div>
                                    <div class="col-7 text-right">
                                        <span>1 : 3,586</span>
                                    </div>
                                </div>
                            </div>
                            <div class="block">
                                <div class="row">
                                    <div class="col-5">
                                        <span class="title">4TH PRIZE</span>
                                    </div>
                                    <div class="col-7 text-right">
                                        <span>1 : 2,008</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 pl-50">
                        <div class="bg-yellow bottom">

                            <div class="block">
                                <div class="row">
                                    <div class="col-5">
                                        <span class="title">5TH PRIZE</span>
                                    </div>
                                    <div class="col-7 text-right">
                                        <span>1 : 118</span>
                                    </div>
                                </div>
                            </div>
                            <div class="block">
                                <div class="row">
                                    <div class="col-5">
                                        <span class="title">6TH PRIZE</span>
                                    </div>
                                    <div class="col-7 text-right">
                                        <span>1 : 173</span>
                                    </div>
                                </div>
                            </div>
                            <div class="block">
                                <div class="row">
                                    <div class="col-5">
                                        <span class="title">7TH PRIZE</span>
                                    </div>
                                    <div class="col-7 text-right">
                                        <span>1 : 44</span>
                                    </div>
                                </div>
                            </div>
                            <div class="block">
                                <div class="row">
                                    <div class="col-5">
                                        <span class="title">8TH PRIZE</span>
                                    </div>
                                    <div class="col-7 text-right">
                                        <span>1 : 37</span>
                                    </div>
                                </div>
                            </div>
                            <div class="block">
                                <div class="row">
                                    <div class="col-5">
                                        <span class="title">9TH PRIZE</span>
                                    </div>
                                    <div class="col-7 text-right">
                                        <span>1 : 10</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="partner">
            <div class="content">
                <h3 class="hel-bold c-grey text-center">PARTNERS</h3>
                <div class="slick-partner">
                    <div>
                        <img src="~/Content/LandingPageLotte/assets/img/partner/1.png" alt="" style="width: 200px;">
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
        @{Html.RenderAction("Footer", "Home");}
    </div>
</div>
