﻿
<div class="frequency">
    <div class="content">
        <h3 class="hel-bold c-grey">FREQUENCY OF NUMBERS</h3>
        <div class="chart" id="numbers-star">
            @if (Model[0] != null)
            {
                @Html.Raw(Model[0]);
            }
        </div>
    </div>
</div>
