﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/Content/css/mdb.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/Content/css/style.css" rel="stylesheet">
    <link href="/Content/css/custom.css" rel="stylesheet">
    <link href="/Content/alertify.css" rel="stylesheet">
</head>
<body class="fixed-sn white-skin">
    @{Html.RenderAction("Menu", "Home");}
    <div>
        @RenderBody()
    </div>
    @*<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red">
            <i class="fa fa-pencil"></i>
        </a>
        <ul>
            <li><a class="btn-floating red"><i class="fa fa-star"></i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="fa fa-user"></i></a></li>
            <li><a class="btn-floating green"><i class="fa fa-envelope"></i></a></li>
            <li><a class="btn-floating blue"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
    </div>*@
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/Content/js/jquery-3.1.1.min.js"></script>
    <script>
        $("#navigation").load("components/navbar-inner.html");
    </script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/Content/js/tether.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/Content/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/Content/js/mdb.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.alphanumeric.js"></script>
    <script type="text/javascript" src="/Scripts/alertify.js"></script>
    @*<script>
            $(function () {
                var data = {
                    labels: ["January", "February", "March", "April", "May", "June", "July"],
                    datasets: [{
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(0,0,0,.15)",
                        data: [65, 59, 80, 81, 56, 55, 40],
                        backgroundColor: "#4CAF50"
                    }, {
                        label: "My Second dataset",
                        fillColor: "rgba(255,255,255,.25)",
                        strokeColor: "rgba(255,255,255,.75)",
                        pointColor: "#fff",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(0,0,0,.15)",
                        data: [28, 48, 40, 19, 86, 27, 90]
                    }]
                };


                var dataPie = [{
                    value: 300,
                    color: "#F7464A",
                    highlight: "#FF5A5E",
                    label: "Red"
                }, {
                    value: 50,
                    color: "#46BFBD",
                    highlight: "#5AD3D1",
                    label: "Green"
                }, {
                    value: 100,
                    color: "#FDB45C",
                    highlight: "#FFC870",
                    label: "Yellow"
                }]

                var option = {
                    responsive: true,
                    // set font color
                    scaleFontColor: "#fff",
                    // font family
                    defaultFontFamily: "'Roboto', sans-serif",
                    // background grid lines color
                    scaleGridLineColor: "rgba(255,255,255,.1)",
                    // hide vertical lines
                    scaleShowVerticalLines: false,
                };

                // Get the context of the canvas element we want to select
                var ctx = document.getElementById("sales").getContext('2d');
                var myLineChart = new Chart(ctx).Line(data, option); //'Line' defines type of the chart.
            });
        </script>
        <script>
            $(function () {
                $('.min-chart#chart-sales').easyPieChart({
                    barColor: "#4caf50",
                    onStep: function (from, to, percent) {
                        $(this.el).find('.percent').text(Math.round(percent));
                    }
                });
            });
        </script>
    *@
    <script>

        //$('.datepicker').pickadate();

        $(document).ready(function () {
            $('.mdb-select').material_select();
        });

        $(".button-collapse").sideNav();

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

</body>
</html>
