﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>CMS Admin Lotte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">
    <!-- The styles -->
    <link href="/Content/css/bootstrap-cerulean.min.css" rel="stylesheet">
    <link href="/Content/css/charisma-app.css" rel="stylesheet">
    <link href='/Content/bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='/Content/bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='/Content/bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='/Content/bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='/Content/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='/Content/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='/Content/css/jquery.noty.css' rel='stylesheet'>
    <link href='/Content/css/noty_theme_default.css' rel='stylesheet'>
    <link href='/Content/css/elfinder.min.css' rel='stylesheet'>
    <link href='/Content/css/elfinder.theme.css' rel='stylesheet'>
    <link href='/Content/css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='/Content/css/uploadify.css' rel='stylesheet'>
    <link href='/Content/css/animate.min.css' rel='stylesheet'>
    <!-- jQuery -->
    <script src="/Content/bower_components/jquery/jquery.min.js"></script>
    <link href="/Content/css/style_dev.css" rel="stylesheet" />

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- The fav icon -->
</head>
<body>
    <div class="ch-container">
        <div class="row">

            <div class="row">
                <div class="col-md-12 center login-header">
                    <h2>Welcome to Lotte</h2>
                </div>
                <!--/span-->
            </div><!--/row-->
            <div class="row">
                <div class="well col-md-5 center login-box">
                    <div id="divMessage" class="alert alert-info">

                    </div>
                    <form class="form-horizontal" action="index.html" method="post">
                        <fieldset>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                                <input type="text" id="txtEmail" name="txtEmail" onfocus="ResetForm(1)" class="form-control" placeholder="Username">
                            </div>
                            <div class="clearfix"></div><br>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
                                <input type="password" id="txtPassword" name="txtPassword" onkeydown="return EnterLogin(event, this.value)" onfocus="ResetForm(3)" class="form-control" placeholder="Password">
                            </div>
                            <div class="clearfix"></div><br>
                            <div class="input-group" style="left: 50px;">
                                <div class="g-recaptcha" id="captcha" data-sitekey="@(System.Configuration.ConfigurationManager.AppSettings["sitekey"])" onfocus="ResetForm('lbrecaptcha', this.value)"></div>

                            </div>
                            <div class="input-group" style="left: 50px;">
                                <label id="lbrecaptcha" style="color:red; display:none;" class=""></label>
                            </div>
                            <div class="clearfix"></div>
                            <p class="center col-md-5">
                                <button type="button" onclick="MemberLogin()" class="btn btn-primary">Login</button>
                            </p>
                        </fieldset>
                    </form>
                </div>
                <!--/span-->
            </div><!--/row-->
        </div><!--/fluid-row-->
    </div><!--/.fluid-container-->
    <!-- external javascript -->
    <input type="hidden" id="hdUsername" value="@TempData["UserNameLogin"]" />

    @*========================LOADING==========*@
    <div id="divLoading" class="loadingPage" style="display: none;">
        <img src="/Images/loading.gif" id="imgLoading">
    </div>

    @*=================================*@
    <script src="/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- library for cookie management -->
    <script src="/Content/js/jquery.cookie.js"></script>
    <!-- calender plugin -->
    <script src='/Content/bower_components/moment/min/moment.min.js'></script>
    <script src='/Content/bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
    <!-- data table plugin -->
    <script src='/Content/js/jquery.dataTables.min.js'></script>
    <!-- select or dropdown enhancer -->
    <script src="/Content/bower_components/chosen/chosen.jquery.min.js"></script>
    <!-- plugin for gallery image view -->
    <script src="/Content/bower_components/colorbox/jquery.colorbox-min.js"></script>
    <!-- notification plugin -->
    <script src="/Content/js/jquery.noty.js"></script>
    <!-- library for making tables responsive -->
    <script src="/Content/bower_components/responsive-tables/responsive-tables.js"></script>
    <!-- tour plugin -->
    <script src="/Content/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
    <!-- star rating plugin -->
    <script src="/Content/js/jquery.raty.min.js"></script>
    <!-- for iOS style toggle switch -->
    <script src="/Content/js/jquery.iphone.toggle.js"></script>
    <!-- autogrowing textarea plugin -->
    <script src="/Content/js/jquery.autogrow-textarea.js"></script>
    <!-- multiple file upload plugin -->
    <script src="/Content/js/jquery.uploadify-3.1.min.js"></script>
    <!-- history.js for cross-browser state change on ajax -->
    <script src="/Content/js/jquery.history.js"></script>
    <!-- application script for Charisma demo -->
    <script src="/Content/js/charisma.js"></script>
    <script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>

    <script type="text/javascript" src="/Scripts/login/login.js"></script>
    <script src="/Scripts/masterdata_.js"></script>
</body>
</html>
