﻿@using BBH.Lotte.Domain;
@using BBH.Lotte.CMSAdmin.Models;

@{
    ViewBag.Title = "Manager ExchangeTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@{Html.RenderAction("HeaderMenu", "Home");}
<div class="ch-container">
    <div class="row">
        @{Html.RenderAction("LeftMenu", "Home");}
        <div id="content" class="col-lg-10 col-sm-10">

            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/exchangeticket"style="text-decoration: none;"><i class="glyphicon glyphicon-comment"></i>  Manager Exchange Ticket</a>
                    </li>
                </ul>
            </div>


            <div class="row">
                <div class="box col-md-12">
                    
                    <!--Crucial button-->
                    <div class="col-12 text-center">
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="From date" id="txtFromDate" name="txtFromDate">
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="To Date" id="txtToDate" name="txtToDate">
                        </div>

                        <button class="btn btn-primary btn-sm" style="position: relative; height: 36px; width: 90px; margin-right: 293px; margin-bottom: 16px" onclick="SearchExchangeTicket()"><i class="glyphicon glyphicon-search"></i>  Search</button>

                        <a onclick="ShowPopupCreateNewExchangeTicket()" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#standardModal"><i class="glyphicon glyphicon-plus"></i>  Create New Exchange Ticket</a>
                    </div>
                </div>
            </div>

          
            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i> List Exchange Ticket</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                                <a href="#" class="btn btn-close btn-round btn-default">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <table class="table table-striped table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th>ExchangeID</th>
                                        <th>CoinID</th>
                                        <th>Point</th>
                                        <th>TicketNumber</th>
                                        <th>CreateDate</th>
                                        <th>CreateUser</th>
                                        <th>Status</th>
                                        <th>Confirm</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyListExtrangeTicket">

                                    @if (ViewData[ViewDataKey.VIEWDATA_LISTEXCHANGETICKET] != null)
                                    {
                                        IEnumerable<ExchangeTicketBO> lstExchange = (IEnumerable<ExchangeTicketBO>)ViewData[ViewDataKey.VIEWDATA_LISTEXCHANGETICKET];
                                        if (lstExchange != null && lstExchange.Count() > 0)
                                        {
                                            foreach (ExchangeTicketBO exchange in lstExchange)
                                            {                                              
                                                string titleStatus = string.Empty;
                                                string status = string.Empty;
                                                if (exchange.IsDelete == 0)
                                                {
                                                    status = "confirm";
                                                    titleStatus = "Active";
                                                }
                                                else if (exchange.IsDelete == 1)
                                                {
                                                    status = "Deleted";
                                                    titleStatus = "";
                                                }
                                               
                                                <tr id="trGroup_@exchange.ExChangeID" class="none-top-border">
                                                    <td class="center">@exchange.ExChangeID</td>
                                                    <td class="center">@exchange.CoinID</td>
                                                    <td class="center">@exchange.PointValue</td>                                                    
                                                    <td class="center">@exchange.TicketNumber</td>
                                                    @*<td class="center">@exchange.MemberID</td>*@
                                                    <td class="center">@exchange.CreateDate</td>
                                                    @*<td class="center">@exchange.UpdateDate</td>*@
                                                    <td class="center">
                                                                 @exchange.CreateUser
                                                    </td>
                                                    <td class="center">
                                                        <span class="label-success label label-default" title="@titleStatus">@status</span>
                                                    </td>
                                                    <td class="center">
                                                        <img src="/Images/loading.gif" id="imgLoading_@exchange.ExChangeID" style="position: absolute; display:none ; float: right; width: 30px; margin-left: 45px; ">
                                                        @if (exchange.IsDelete == 0)
                                                        {
                                                            @*<a class="btn btn-info btn-sm" href="javascript:void(0)" onclick="ConfirmExchangeTicket('@exchange.ExChangeID','1')"><i class="glyphicon glyphicon-edit icon-white"></i>Confirm</a>*@
                                                             <a class="btn btn-info btn-sm" title="@exchange.ExChangeID" href="#" onclick="ShowPopUpEditExchangeTicket('@exchange.ExChangeID','@exchange.CoinID','@exchange.PointValue','@exchange.TicketNumber')" data-toggle="modal" data-target="#standardModal"><i class="glyphicon glyphicon-edit icon-white"></i>Edit</a>

                                                             <a class="btn btn-warning btn-sm" href="#" onclick="ConfirmExchangeTicket('@exchange.ExChangeID','1','@exchange.DeleteDate','@exchange.DeleteUser')"><i class="glyphicon glyphicon-trash icon-white"></i>Delete</a>
                                                        }
                                                        else if (exchange.IsDelete == 1)
                                                        {
                                                            @*<a class="btn btn-warning btn-sm" href="javascript:void(0)" onclick="ConfirmExchangeTicket('@exchange.ExChangeID','0')"><i class="glyphicon glyphicon-trash icon-white"></i>Delete</a>*@
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                            @{Html.RenderAction("Index", "Paging");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdExchangeTicketID" value="0" />
<div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header white-text" style="background-color: #154771">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close()" style="color:#fff">
                    <span aria-hidden="true">×</span>
                </button>
                <p class="heading" contenteditable="true" style="color:#fff">Exchange Ticket Infomation</p>
            </div>
            <!--Body-->
            <div class="modal-body" style="padding-bottom:0px">
                <form>

                    <div class="row" style="margin-bottom:15px">
                        <!--First column-->
                        <div class="col-md-8" style="padding: 0 0 5px 18px;color: blue;">Point Value: </div>
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" @*onkeyup="OnchangePoint()"*@ onfocus="ResetForm('lbErrorPointValue', this.value)" id="txtPointValue" name="txtPointValue" placeholder="PointValue" onkeypress="return onlyNumbers(event)" class="form-control validate" data-coin="0" data-point="0" data-ticketnumber="0" data-tickerpoint="0" maxlength="6">

                            </div>
                            <label id="lbErrorPointValue" style="color:red; display:none" class=""></label>
                        </div>
                    </div>
                    @*<span id="spanTicket" class="rb_tcount">0</span>*@
                    <div class="row" style="margin-bottom:15px">
                        <!--First column-->
                        <div class="col-md-8" style="padding: 0 0 5px 18px;color: blue;">Ticket Number: </div>
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" onfocus="ResetForm('lbErrorTicketNumber', this.value)" id="txtTicketNumber" name="txtTicketNumber" placeholder="TicketNumber" onkeypress="return onlyNumbers(event)" class="form-control validate">

                            </div>
                            <label id="lbErrorTicketNumber" style="color:red; display:none" class=""></label>
                        </div>
                    </div>
                    <div class="row" style="margin-left: -30px";>
                        <div class="col-md-8" style="padding: 0 0 0px 32px;color: blue;">Coin Name: </div>
                        <div class="box col-md-12">
                            @*<div class="col-md-2">*@
                                <div class="controls" style="margin-left: 14px;">
                                    <select id="cbCoin" class="form-control" data-rel="chosen">
                                        <option value="0" style="width:200px">Select Coin name </option>
                                        @if (ViewData[ViewDataKey.VIEWDATA_LISTCOIN] != null)
                                        {
                                            IEnumerable<CoinBO> lstCoin = (IEnumerable<CoinBO>)ViewData[ViewDataKey.VIEWDATA_LISTCOIN];
                                            if (lstCoin != null && lstCoin.Count() > 0)
                                            {
                                                foreach (CoinBO coin in lstCoin)
                                                {
                                                    <option value="@coin.CoidID">@coin.CoidID</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            @*</div>*@
                            <label id="lbErrorCoinID" style="color:red; display:none;margin-left: 15px;" class=""></label>
                        </div>
                        @*<label id="lbErrorCoinID" style="color:red; display:none;margin-left: 30px;" class=""></label>*@
                    </div>
                 
                </form>
                <br>

            </div>
            <!--Footer-->
            <div class="modal-footer">
                <a id="2lvlModal-learnMore" class="btn btn-danger" onclick="SaveExchangeTicket()" contenteditable="false">Save</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
@*========================LOADING==========*@
<div id="divLoading" class="loadingPage" style="display: none;">
    <img src="/Images/loading.gif" id="imgLoading">
</div>
@*=================================*@
<script type="text/javascript" src="/Scripts/exchangeticket/exchangeticket.js"></script>
<script src="/Scripts/jqueryui.js"></script>
<script>
    $("#txtFromDate").datepicker({ dateFormat: 'mm/dd/yy' });
    $("#txtToDate").datepicker({ dateFormat: 'mm/dd/yy' });</script>




